<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">
<form th:action="@{/item/admin/addItemRepair}" method="post">

	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			
				<div class="x_title">
					<h2>
						장비수리 <small> 등록하기 </small>
					</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<br>
					<div class="form-group row">
					<label class="col-form-label col-md-3 col-sm-3 label-align"></label>
					<div class="col-md-6 col-sm-6 ">
			<div style="color: red; text-align: right;">* 표시는 필수 입력
						사항입니다.</div></div></div>
						<div class="form-group row">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								업체 코드 <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input type="text" id="storeRepairCode" name="storeRepairCode"
									class="form-control"
									placeholder="업체 코드를 입력해주세요.">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								세부 장비 코드 <span class="required">*</span>
							</label>
								<div class="col-md-6 col-sm-6 ">
								<input type="text" id="storeItemRepairCode" name="storeItemRepairCode"
									class="form-control"
									placeholder="세부 장비 코드를 입력해주세요.">
							</div>
						</div>	
						<div class="form-group row">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								아이디 <span class="required">*</span>
							</label>
								<div class="col-md-6 col-sm-6 ">
								<input type="text" id="userRepairId" name="userRepairId"
									class="form-control"
									placeholder="수리한 사람 아이디를 입력해주세요.">
							</div>
						</div>	
						<div class="form-group row">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								장비 수리비용 <span class="required">*</span>
							</label>
								<div class="col-md-6 col-sm-6 ">
								<input type="text" id="itemRepairPrice" name="itemRepairPrice"
									class="form-control">
							</div>
						</div>	
						<div class="form-group row">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								수리 맡긴 일자 <span class="required">*</span>
							</label>
								<div class="col-md-6 col-sm-6 ">
								<input type="date" id="itemRepairRegDate" name="itemRepairRegDate"
									class="form-control">
							</div>
						</div>	
						<div class="form-group row">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								수리 끝나는 일자 <span class="required">*</span>
							</label>
								<div class="col-md-6 col-sm-6 ">
								<input type="date" id="itemRepairEndDate" name="itemRepairEndDate"
									class="form-control">
							</div>
						</div>	
						<div class="form-group row">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								장비 이름 <span class="required">*</span>
							</label>
								<div class="col-md-6 col-sm-6 ">
								<input type="text" id="itemRepairName" name="itemRepairName"
									class="form-control">
							</div>
						</div>	
						<div class="form-group row">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								수리 맡긴 업체 <span class="required">*</span>
							</label>
								<div class="col-md-6 col-sm-6 ">
								<input type="text" id="itemRepairCompany" name="itemRepairCompany"
									class="form-control">
							</div>
						</div>	
						<div class="form-group row">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								수리 맡긴 업체번호 <span class="required">*</span>
							</label>
								<div class="col-md-6 col-sm-6 ">
								<input type="text" id=itemRepairCompanyPhone name="itemRepairCompanyPhone"
									class="form-control">
							</div>
						</div>	
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align"></label>
							<div class="col-md-6 col-sm-6" style="text-align: center;">
								<button type="submit" class="btn btn-primary"
									style="width: 100%; height: 50px;" id = "addItemRepair" >상품등록</button>
							</div>
						</div>
					</div>
				</div>
			</div>
</form>
</th:block>
<th:block layout:fragment="customJs">
	<script type="text/javascript">
			
	$(function() {
			$('#addItemRepair').click(function(){
				if($('#storeRepairCode').val() == ""){
					alert("업체 코드를 입력해주세요.");
					return false;
				}else if($('#storeItemRepairCode').val() == ""){
					alert("세부 장비 코드를 입력해주세요.");
					return false;
				}else if($('#userRepairId').val() == ""){
					alert("아이디를 입력해주세요.");
					return false;
				}else if($('#itemRepairPrice').val() == ""){
					alert("장비 수리 비용을 입력해주세요.");
					return false;
				}else if($('#itemRepairRegDate').val() == ""){
					alert("수리 맡긴 일자를 입력해주세요.");
					return false;
				}else if($('#itemRepairEndDate').val() == ""){
					alert("수리끝나는 일자를 입력해주세요.");
					return false;
				}else if($('#itemRepairName').val() == ""){
					alert("장비 이름을 입력해주세요.");
					return false;
				}else if($('#itemRepairCompany').val() == ""){
					alert("수리 맡긴 업체를 입력해주세요.");
					return false;
				}else if($('#itemRepairCompanyPhone').val() == ""){
					alert("수리 맡긴 업체 번호를 입력해주세요.");
					return false;
				}else{
					alert("등록 하시겠습니까?");
				}
			});
	});	
	</script>
</th:block>
</html>