<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">

<div class="x_panel">
                  <div class="x_title">
                    <h2> 장비 목록 </h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
                    <div class="row">
                    </div>
                    <div class="row"><div class="col-sm-12"><table id="tbItemDetail" class="table table-striped jambo_table bulk_action dataTable no-footer" style="width:100%" role="grid" aria-describedby="datatable_info">
                      <thead>
                        <tr role="row">
                        <th class="sorting" style="text-align: center;"> 사업장 코드 </th>
                        <th class="sorting" style="text-align: center;"> 장비 이름 </th>
                        <th class="sorting" style="text-align: center;"> 장비 상태 </th>
                        <th class="sorting" style="text-align: center;"> 대여 상태 </th>
                        <th class="sorting" style="text-align: center;"> 장비 등록 날짜 </th>
                        <th class="sorting" style="text-align: center;"> 장비 변동 날짜 </th>
                        <th class="sorting" style="text-align: center;"> 장비 입력한 아이디 </th>
                        </tr>
                      </thead>


            <tbody>
			<th:block th:each = "i : ${itemLi}">
				<tr>
					<td style = "text-align: center;" th:text = "${i.storeDetailCode}"></td>
					<td style = "text-align: center;"> <a th:href = "@{/item/admin/itemInfo(storeItemCode=${i.storeItemCode})}" th:text = "${i.itemName}" style="color: blue"></a></td>
					<td style = "text-align: center;" th:text = "${i.itemStatus}"></td>
					<td style = "text-align: center;" th:text = "${i.itemRentalStatus}"></td>
					<td style = "text-align: center;" th:text = "${i.itemRegDate}"></td>
					<td style = "text-align: center;" th:text = "${i.itemChangeRegDate}"></td>
					<td style = "text-align: center;" th:text = "${i.itemDetailUserId}"></td>
				</tr>
			</th:block>
		</tbody>
                    </table>
                    </div></div></div>
                  </div>
                  </div>
              </div>
            </div>
                </div>

</th:block>

<th:block layout:fragment="customJs">

<script>
	$("#tbItemDetail").DataTable({
		order: [ [ 0, "desc" ] ],
		ordering: true,
		lengthChange: false,
		"dom": 'fltip',
		"language": {
			         "info": "페이지 _PAGE_ of _PAGES_",
		        	 "paginate": {
						        	 "first": "첫페이지",
						        	 "last": "마지막",
						             "previous": "이전",
						             "next":"다음"
						           },
		        	 "sEmptyTable": "No data available in table",
		        	 "sInfoEmpty": "Showing 0 to 0 of 0 entries",
		        	 "sInfoFiltered": "(filtered from _MAX_ total entries)",
		        	 "sInfoPostFix": "",
		        	 "sLengthMenu": "Show _MENU_ 개씩",
		        	 "sSearch": "검색:",
		        	 "sSearchPlaceholder": "",
		        	 "sZeroRecords": "No matching records found"
			         }
	});
	
	</script>

</th:block>

</html>