<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">

	<form th:action="@{/item/admin/modifyitemBuy}" method="post">

		<span class="section">장비구입내역 수정</span>
			
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">장비 구입 코드<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" id="itemBuyCode" name="itemBuyCode"
					th:value="${item.itemBuyCode}" >
			</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">업체 코드<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" id="storeBuyCode" name="storeBuyCode"
					th:value="${item.storeBuyCode}" >
			</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">세부 장비 코드<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" id="storeBuyItemCode" name="storeBuyItemCode"
					th:value="${item.storeBuyItemCode}" >
			</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">아이디<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" id="userBuyId" name="userBuyId"
					th:value="${item.userBuyId}" >
			</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">구입 비용<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" id="itemBuyPrice" name="itemBuyPrice"
					th:value="${item.itemBuyPrice}" >
			</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">구입 거래처<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" id="itemBuyAccount" name="itemBuyAccount"
					th:value="${item.itemBuyAccount}" >
			</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">구입처 전화번호<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" id="itemBuyPhone" name="itemBuyPhone"
					th:value="${item.itemBuyPhone}" >
			</div>
		</div>
		
		<div class="form-group" align="center">
			<div class="col-md-6 offset-md-3">
				<button type="submit" id="submit" class="btn btn-primary ">수정</button>
				<a href="item/admin/itemBuyList"><button type="button" id="cancel" class="btn btn-success">취소</button></a>
			</div>
		</div>
	</form>
</th:block>
</html>