<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout">
<head th:replace="fragments/admin/head :: headFragment"></head>
<!-- th:replace = "파일이 위차한 곳 :: fragment이름> -->
<body style="background-color: white;">
			<!-- start customContent -->
			<div th:replace="fragments/admin/js :: jsFragment"></div>
			<div th:replace="fragments/admin/mainContainer :: mainContainerFragment"></div> 
			<!-- end customContent -->
</body>
</html>