<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customContent">
<div class="x_panel">
                  <div class="x_title">
                    <h2> 예약 리스트 </h2>
                    <div class="clearfix"></div>
                  </div>
	<div class="x_content">
		<div class="table-responsive">
			<table class="table table-striped jambo_table bulk_action" id="rsvDetailListTb" border="1">

				<thead>
					<tr class="headings">
						<th class="column-title">예약 코드</th>
						<th class="column-title">예약자</th>
						<th class="column-title">예약 공간</th>
						<th class="column-title">예약 장비</th>
						<th class="column-title">예약 시작 일시</th>
						<th class="column-title">예약 종료 일시</th>
						<th class="column-title">예약 개수</th>
						<th class="column-title">시간당 가격</th>
						<th class="column-title">시간</th>
						<th class="column-title">총가격</th>
						<th class="bulk-actions" colspan="11" style="display: none;">
							<a class="antoo" style="color: #fff; font-weight: 500;">선택한 행의 개수 ( <span class="action-cnt">0 Records Selected</span> ) <i
								class="fa fa-chevron-down"></i>
						</a>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr class="even pointer" th:if="${#lists.size(rsvDetailList) > 0}" th:each = "r : ${rsvDetailList}">
						<td th:text="${r.rsvCode}" class=" "></td>
						<td th:text="${r.rsvUserName}" class=" "></td>
						<td th:text="${r.okaySpaceName}" class=" "></td>
						<td th:text="${r.itemTotalName}" class=" "></td>
						<td th:text="${r.rsvStartDateTime}" class=" "></td>
						<td th:text="${r.rsvEndDateTime}" class=" "></td>
						<td th:text="${r.rsvDetailNum}" class=" "></td>
						<td th:text="${r.rsvDetailTotalPrice}" class=" "></td>
						<td th:text="${r.rsvTime}" class=" "></td>
						<td th:text="${r.rsvTimePrice}" class=" "></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>




</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(function(){
			$("#rsvDetailListTb").DataTable({
				order: [ [ 1, "desc" ] ],
				ordering: true,
				lengthChange: false,
				"dom": '<"myCustomClass"f>rt<"bottom"lp><"clear">',
				"language": {
					         "info": "페이지 _PAGE_ of _PAGES_",
				        	 "paginate": {
								        	 "first": "첫페이지",
								        	 "last": "마지막",
								             "previous": "이전",
								             "next":"다음"
								           },
				        	 "sEmptyTable": "No data available in table",
				        	 "sInfoEmpty": "Showing 0 to 0 of 0 entries",
				        	 "sInfoFiltered": "(filtered from _MAX_ total entries)",
				        	 "sInfoPostFix": "",
				        	 "sLengthMenu": "Show _MENU_ 개씩",
				        	 "sSearch": "검색:",
				        	 "sSearchPlaceholder": "",
				        	 "sZeroRecords": "No matching records found"
					         }
			});
		});
	
		
	</script>
</th:block>
</html>