<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">
<div class="x_panel">
   <div class="x_title">
<h2>예약할 업체를 선택해주세요</h2>
   <div class="clearfix"></div>
    </div>
	<div class="x_content">
		<table id="rsvStoreTb"
			class="table table-striped jambo_table bulk_action dataTable no-footer">
			<thead>
				<tr role="row">
					<th class="sorting" tabindex="0" aria-controls="datatable"
						aria-label="Position: activate to sort column ascending"
						style="width: 100px; text-align: center;">업체 번호</th>
					<th class="sorting" tabindex="0" aria-controls="datatable"
						aria-label="Position: activate to sort column ascending"
						style="width: 100px; text-align: center;">업체예약타입</th>
					<th class="sorting" tabindex="0" aria-controls="datatable"
						aria-label="Office: activate to sort column ascending"
						style="width: 85px; text-align: center;">상호명</th>
					<th class="sorting" tabindex="0" aria-controls="datatable"
						aria-label="Age: activate to sort column ascending"
						style="width: 50px; text-align: center;">대표자명</th>
					<th class="sorting" tabindex="0" aria-controls="datatable"
						aria-label="Salary: activate to sort column ascending"
						style="width: 65px; text-align: center;">업체 주소</th>
					<th class="sorting" tabindex="0" aria-controls="datatable"
						aria-label="Salary: activate to sort column ascending"
						style="width: 65px; text-align: center;">업체 연락처</th>
				</tr>
			</thead>


			<tbody>
				<th:block th:each="s : ${storeList}">
					<tr class="storeTr" style="cursor: pointer;">
						<td style="text-align: center;" th:text="${s.storeCode}"></td>
						<td style="text-align: center;" th:text="${s.storeRsvType}"></td>
						<td style="text-align: center;" th:text="${s.storeName}"></td>
						<td style="text-align: center;" th:text="${s.storeRepresentative}"></td>
						<td style="text-align: center;" th:text="${s.storeAddress}"></td>
						<td style="text-align: center;" th:text="${s.storePhone}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</div>
</th:block>
<th:block layout:fragment="customJs">
	<script type="text/javascript">
		$('#rsvStoreTb').find('.storeTr').click(function(){
			var code = $(this).children().first().text();
			var type = $(this).children().eq(1).text();
			location.href="/reservation/rsvInsert?storeCode="+code+"&rsvType="+type+"&pageType=admin";
		})
	//th:onclick="location.href=\'' + @{/rsvInsertAdmin}(storeCode=${s.storeCode})} + '\';"
	
	
		$("#rsvStoreTb").DataTable({
			order : [ [ 0, "desc" ] ],
			ordering : true,
			lengthChange : false,
			"dom": 'fltip',
			"language": {
		         "info": "페이지 _PAGE_ of _PAGES_",
	        	 "paginate": {
					        	 "first": "첫페이지",
					        	 "last": "마지막",
					             "previous": "이전",
					             "next":"다음"
					           },
	        	 "sEmptyTable": "데이터가 없습니다.",
	        	 "sInfoEmpty": "데이터가 없습니다.",
	        	 "sInfoFiltered": "(filtered from _MAX_ total entries)",
	        	 "sInfoPostFix": "",
	        	 "sLengthMenu": "Show _MENU_ 개씩",
	        	 "sSearch": "검색:",
	        	 "sSearchPlaceholder": "",
	        	 "sZeroRecords": "일치하는 검색 결과가 없습니다."
		         }
		});
	</script>

</th:block>
</html>