<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customContent">
	<div style="width:100%; margin: 0 0 10px 0;">
		<b style="font-size:20px;">판매 통계 페이지  |  </b>    
		<b th:text="${storeInfo.storeId}"></b> / 
		<b th:text="${storeInfo.storeRepresentative}"></b>  님의 
		<b th:text="${storeInfo.storeName}"></b>
	</div>
    <!-- line graph -->
    <div class="col-md-6 col-sm-6  ">
      <div class="x_panel">
        <div class="x_title">
          <h2>일별 매출 건수 </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content2">
          <div id="graph_line" style="width:100%; height:300px;"></div>
        </div>
      </div>
    </div>
    <!-- /line graph -->
    
     <!-- bar chart -->
     <div class="col-md-6 col-sm-6  ">
       <div class="x_panel">
         <div class="x_title">
           <h2>일별 매출액 </h2>
           <div class="clearfix"></div>
         </div>
         <div class="x_content">
           <div id="graph_bar" style="width:100%; height:300px;"></div>
         </div>
       </div>
     </div>
     <!-- /bar charts -->
     
	<div class="col-md-6 col-sm-6 ">
		<div class="x_panel tile">
			<div class="x_title">
				<h2>직업별 이용 통계</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table class="" style="width: 100%; ">
					<tbody>
						<tr>
							<th style="width: 50%;">
							</th>
							<th>
								<div class="col-lg-8 col-md-8 col-sm-7 ">
									직업
								</div>
								<div class="col-lg-4 col-md-4 col-sm-5 ">
									이용자 비율
								</div>
							</th>
						</tr>
						<tr>
							<td><iframe class="chartjs-hidden-iframe"
									style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
								<canvas id="jobDoughnut" height="180" width="180"
									style="margin: 15px 10px 10px 0px; width: 100%; height: 100%;"></canvas>
							</td>
							<td>
								<table class="tile_info">
									<tbody>
										<tr th:if="${#lists.size(getByJob) > 0}" th:each="job : ${getByJob}">
											<td>
												<p>
													<span class="jobSquare"><i class="fa fa-square"></i></span>
													<span th:text="${job.userJob}"></span>
												</p>
											</td>
											<td class="jobRatio"></td>
										</tr>
										
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="col-md-6 col-sm-6 ">
		<div class="x_panel tile">
			<div class="x_title">
				<h2>성별 이용 통계</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table class="" style="width: 100%; ">
					<tbody>
						<tr>
							<th style="width: 50%;">
							</th>
							<th>
								<div class="col-lg-8 col-md-8 col-sm-7 ">
									성별
								</div>
								<div class="col-lg-4 col-md-4 col-sm-5 ">
									이용자 비율
								</div>
							</th>
						</tr>
						<tr>
							<td><iframe class="chartjs-hidden-iframe"
									style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
								<canvas id="genderDoughnut" height="180" width="180"
									style="margin: 15px 10px 10px 0px; width: 100%; height: 100%;"></canvas>
							</td>
							<td>
								<table class="tile_info">
									<tbody>
										<tr th:if="${#lists.size(getByGender) > 0}" th:each="gd : ${getByGender}">
											<td>
												<p>
													<span class="gdSquare"><i class="fa fa-square"></i></span>
													<span th:text="${gd.userGender}"></span>
												</p>
											</td>
											<td class="tdGenderRatio"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="col-md-6 col-sm-6 ">
		<div class="x_panel tile">
			<div class="x_title">
				<h2>연령대별 이용 통계</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table class="" style="width: 100%; ">
					<tbody>
						<tr>
							<th style="width: 50%;">
							</th>
							<th>
								<div class="col-lg-8 col-md-8 col-sm-7 ">
									연령대
								</div>
								<div class="col-lg-4 col-md-4 col-sm-5 ">
									이용자 비율
								</div>
							</th>
						</tr>
						<tr>
							<td><iframe class="chartjs-hidden-iframe"
									style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
								<canvas id="ageDoughnut" height="180" width="180"
									style="margin: 15px 10px 10px 0px; width: 100%; height: 100%;"></canvas>
							</td>
							<td>
								<table class="tile_info">
									<tbody>
										<tr th:if="${#lists.size(getByAge) > 0}" th:each="a : ${getByAge}">
											<td>
												<p>
													<span class="ageSquare"><i class="fa fa-square"></i></span>
													<span class="tdAge"></span>
												</p>
											</td>
											<td class="ageRatio"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	

</th:block>

<th:block layout:fragment="customJs">
<script src="/vendors/raphael/raphael.min.js"></script>
<script src="/vendors/morris.js/morris.min.js"></script>
<script  th:inline="javascript">
	/*<![CDATA[*/
	var getByAge = /*[[${getByAge}]]*/;
	var getByJob = /*[[${getByJob}]]*/;
	var getByGender = /*[[${getByGender}]]*/;
	/*]]>*/
	     
	var bgColor = [ "#3498DB", "#26B99A", "#9B59B6", "#E74C3C",
		"#BDC3C7", "#FDD235", "#FF7C80","#00B0F0"]
	var bgColorGd = ["#00B0F0","#FF7C80","#BDC3C7"]
	var jobSquare = $(".jobSquare");
	var gdSquare = $(".gdSquare");
	var ageSquare = $(".ageSquare");
	for(var i=0;i<getByJob.length;i++){
		$($(jobSquare[i])).attr("style", "color:" + bgColor[i] + ";");
	}
	for(var i=0;i<getByGender.length;i++){
		$($(gdSquare[i])).attr("style", "color:" + bgColorGd[i] + ";");
	}
	for(var i=0;i<getByAge.length;i++){
		$($(ageSquare[i])).attr("style", "color:" + bgColor[i] + ";");
	}
	
	function init_chart_doughnut() {
		
	    if (typeof (Chart) === 'undefined') { return; }
    	console.log('init_chart_doughnut');
   	
	    if ($('#jobDoughnut').length) {
	    	console.log('jobDoughnut');
	
	        var chart_doughnut_settings = {
	            type: 'doughnut',
	            tooltipFillColor: "rgba(51, 51, 51, 0.55)",
	            data: { 
	                labels: [],
	                datasets: [{
	                    data: [
	                    	],
	                    backgroundColor: [
	                        "#3498DB",
	                        "#26B99A",
	                        "#9B59B6",
	                        "#E74C3C",
	                        "#BDC3C7",
	                        "#FDD235",
	                        "#FF7C80",
	                        "#00B0F0"
	                    ],
	                    hoverBackgroundColor: [
	                        "#49A9EA",
	                        "#36CAAB",
	                        "#B370CF",
	                        "#E95E4F",
	                        "#CFD4D8",
	                        "#FDE178",
	                        "#FFA7AA",
	                        "#55CAF5"
	                    ]
	                }]
	            },
	            options: {
	                legend: false,
	                responsive: false
	            }
	        }

	        var labelList=[];
	        var dataList=[];
	        var jobTotal = 0;
	        var jobRatio = $(".jobRatio");
	        
	        //db에서 가져온 값을 반복문으로 데이터 배열에 담는 부분
	        for (var i=0; i< getByJob.length; i++){
	        	labelList.push(getByJob[i].userJob);
	        	dataList.push(getByJob[i].userJobCount);
	        	jobTotal += getByJob[i].userJobCount;
			}
	        
	      	//비율을 구하는 부분
	        for (var i=0; i<getByJob.length; i++){
	        	var ratio = Math.round((getByJob[i].userJobCount/jobTotal)*100);
	        	$($(jobRatio[i])).text(ratio + '%');
	        }
	        
	        chart_doughnut_settings.data.labels = labelList;
			chart_doughnut_settings.data.datasets[0].data = dataList;
	
	        $('#jobDoughnut').each(function () {
	            var chart_element = $(this);
	            var chart_doughnut = new Chart(chart_element, chart_doughnut_settings);
	        });
	        
	    }
	    
	    if ($('#genderDoughnut').length) {
	    	console.log('genderDoughnut');
	
	        var chart_doughnut_settings = {
	            type: 'doughnut',
	            tooltipFillColor: "rgba(51, 51, 51, 0.55)",
	            data: { 
	                labels: [],
	                datasets: [{
	                    data: [
	                    	],
	                    backgroundColor: [
	                        "#00B0F0",
	                    	"#FF7C80"
	                    ],
	                    hoverBackgroundColor: [
		                     "#55CAF5",
	                    	 "#FFA7AA"
	                    ]
	                }]
	            },
	            options: {
	                legend: false,
	                responsive: false
	            }
	        }

	        var labelList=[];
	        var dataList=[];
	        var genderTotal = 0;
	        var tdGenderRatio = $(".tdGenderRatio");
	        //db에서 가져온 값을 반복문으로 데이터 배열에 담는 부분
	        for (var i=0; i< getByGender.length; i++){
	        	labelList.push(getByGender[i].userGender);
	        	dataList.push(getByGender[i].userGenderCount);
	        	genderTotal += getByGender[i].userGenderCount;
			}
	        //비율을 구하는 부분
	        for (var i=0; i<getByGender.length; i++){
	        	var ratio = Math.round((getByGender[i].userGenderCount/genderTotal)*100);
	        	$($(tdGenderRatio[i])).text(ratio + '%');
	        }
	        
	        chart_doughnut_settings.data.labels = labelList;
			chart_doughnut_settings.data.datasets[0].data = dataList;
	
	        $('#genderDoughnut').each(function () {
	            var chart_element = $(this);
	            var chart_doughnut = new Chart(chart_element, chart_doughnut_settings);
	        });
	        
	    }
	    
	    if ($('#ageDoughnut').length) {
	    	console.log('ageDoughnut');
	
	        var chart_doughnut_settings = {
	            type: 'doughnut',
	            tooltipFillColor: "rgba(51, 51, 51, 0.55)",
	            data: { 
	                labels: [],
	                datasets: [{
	                    data: [
	                    	],
	                    backgroundColor: [
	                        "#3498DB",
	                        "#26B99A",
	                        "#9B59B6",
	                        "#E74C3C",
	                        "#BDC3C7",
	                        "#FDD235",
	                        "#FF7C80",
	                        "#00B0F0"
	                    ],
	                    hoverBackgroundColor: [
	                        "#49A9EA",
	                        "#36CAAB",
	                        "#B370CF",
	                        "#E95E4F",
	                        "#CFD4D8",
	                        "#FDE178",
	                        "#FFA7AA",
	                        "#55CAF5"
	                    ]
	                }]
	            },
	            options: {
	                legend: false,
	                responsive: false
	            }
	        }

	        var labelList=[];
	        var dataList=[];
	        var ageTotal = 0;
	        var ageRatio = $(".ageRatio");
	        var tdAge = $(".tdAge");
	        
	        //db에서 가져온 값을 반복문으로 데이터 배열에 담는 부분
	        for (var i=0; i< getByAge.length; i++){
	        	labelList.push(getByAge[i].age);
	        	dataList.push(getByAge[i].ageCount);
	        	ageTotal += getByAge[i].ageCount;
	        	console.log(getByAge[i].age);
	        	console.log(getByAge[i].ageCount);
			}
	        
	      	//비율을 구하는 부분
	        for (var i=0; i<getByAge.length; i++){
	        	var ratio = Math.round((getByAge[i].ageCount/ageTotal)*100);
	        	$($(ageRatio[i])).text(ratio + '%');
	        	$($(tdAge[i])).text(getByAge[i].age + '대');
	        }
	        
	        chart_doughnut_settings.data.labels = labelList;
			chart_doughnut_settings.data.datasets[0].data = dataList;
	
	        $('#ageDoughnut').each(function () {
	            var chart_element = $(this);
	            var chart_doughnut = new Chart(chart_element, chart_doughnut_settings);
	        });
	        
	    }
	    
	}
	
	function init_morris_charts() {
		
	    if ($('#graph_line').length) {
	    	/*<![CDATA[*/
    		var latest7days = [[${latest7days}]];
    		var i = 0;
			/*]]>*/
	        Morris.Line({
	            element: 'graph_line',
	            xkey: 'date',
	            parseTime: false,
	            ykeys: ['예약 건수'],
	            labels: ['예약 건수'],
	            hideHover: 'auto',
	            lineColors: ['#34495E', '#26B99A', '#ACADAC', '#3498DB'],
	            data: [
            	    { "date": latest7days[6].calcDay.slice(-2) +"일"
            	    	, "예약 건수": latest7days[6].calcDaySales },
            	    { "date": latest7days[5].calcDay.slice(-2) +"일"
            	    	, "예약 건수": latest7days[5].calcDaySales },
            	    { "date": latest7days[4].calcDay.slice(-2) +"일"
            	    	, "예약 건수": latest7days[4].calcDaySales },
            	    { "date": latest7days[3].calcDay.slice(-2) +"일"
            	    	, "예약 건수": latest7days[3].calcDaySales },
            	    { "date": latest7days[2].calcDay.slice(-2) +"일"
            	    	, "예약 건수": latest7days[2].calcDaySales },
               	    { "date": latest7days[1].calcDay.slice(-2) +"일"
               	    	, "예약 건수": latest7days[1].calcDaySales },
               	    { "date": latest7days[0].calcDay.slice(-2) +"일"
            	    	, "예약 건수": latest7days[0].calcDaySales }
	            ],
	            resize: true
	        });

	        $MENU_TOGGLE.on('click', function () {
	            $(window).resize();
	        });

	    }
	    
	    if ($('#graph_bar').length) {
        	/*<![CDATA[*/
	    		var latest7days = [[${latest7days}]];
	    		var i = 0;
   			/*]]>*/
	    	
	        Morris.Bar({
	            element: 'graph_bar',
	            data: [
            	    { "period": latest7days[6].calcDay.slice(-2) +"일"
            	    	, "매출 합계": latest7days[6].calcDaySum },
            	    { "period": latest7days[5].calcDay.slice(-2) +"일"
            	    	, "매출 합계": latest7days[5].calcDaySum },
            	    { "period": latest7days[4].calcDay.slice(-2) +"일"
            	    	, "매출 합계": latest7days[4].calcDaySum },
            	    { "period": latest7days[3].calcDay.slice(-2) +"일"
            	    	, "매출 합계": latest7days[3].calcDaySum },
            	    { "period": latest7days[2].calcDay.slice(-2) +"일"
            	    	, "매출 합계": latest7days[2].calcDaySum },
               	    { "period": latest7days[1].calcDay.slice(-2) +"일"
               	    	, "매출 합계": latest7days[1].calcDaySum },
               	    { "period": latest7days[0].calcDay.slice(-2) +"일"
               	    	, "매출 합계": latest7days[0].calcDaySum }
	                
	            ],
	            xkey: 'period',
	            ykeys: ['매출 합계'],
	            labels: ['매출 합계'],
	            barRatio: 0.4,
	            barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
	            xLabelAngle: 0,
	            hideHover: 'auto',
	            resize: true
	        });
	    }
	}

</script>
</th:block>

</html>