<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">
<style>
table{float: left; margin-right: 200px;}
#table2{float: none;}
#Explanation{margin-left: 510px; margin-top: 5px;}

</style>
</th:block>

<th:block layout:fragment="customJs">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		
		$(function(){
			function dateCal(){
				var rsvdate = $('.rsvdate').val();
				var rsvdateYear = rsvdate.substring(0,4);
				var rsvdateMonth = rsvdate.substring(5,7);
				var rsvdateDay = rsvdate.substring(8,10);
				console.log(rsvdateYear+"-"+rsvdateMonth+"-"+rsvdateDay);
				var rsvDay = new Date(rsvdateYear,rsvdateMonth,rsvdateDay);
				var toDay = new Date();
				var toDayYear = toDay.getFullYear();
				var toDayMonth = toDay.getMonth();
				toDay.setMonth(toDayMonth+1);
				toDayMonth = toDay.getMonth();
				if(toDayMonth==0){
					toDayMonth=12;
				}
				var toDayDay = toDay.getDate();
				console.log(toDayYear+"-"+toDayMonth+"-"+toDayDay);
				var elapsedMSec = rsvDay.getTime() - toDay.getTime();
				var elapsedDay = Math.ceil(elapsedMSec/1000/60/60/24);
				console.log("계산>>>"+elapsedDay);
				console.log($('.day').length);	
				var result;
				
				for(var i=0;i<$('.day').length;i++){
					if(elapsedDay>=$('.day').eq(0).val()){
						result = $('.Pay').eq(0).val()
					}else if(elapsedDay<$('.day').eq(i-1).val() && elapsedDay>=$('.day').eq(i).val()){
						result = $('.Pay').eq(i).val();
					}
				}
				
				var reCal = (result/100)*$('.rsvTotalPrice').val();
				
				$('.rePercent').val(result+"%");//환불할 퍼센트
				$('.rePrice').val((result/100)*$('.paymentUseMoney').val());//환불퍼센트 * 실결제금액 = 환불할 금액
				$('.paymentRefund').val($('.paymentUseMoney').val()-$('.rePrice').val((result/100));//환불하고 남은금액
				console.log($('.paymentRefund').val());
				return reCal;
				
			}
			
			dateCal();
			console.log(dateCal());
			
			
			$('.cancelTest').click(function(){
				if(dateCal() != $('input').val()){
					alert('데이터 오류');
					$('input').val();
					dataCal()
				}else{
					$('form').submit();
				}
				
				return dataCal()
			})
		
		})
	</script>
	
</th:block>



<th:block layout:fragment="customContent">

<form action="/refundBtn" method="post">

	<!--예약테이블 결제상태 환불로변경? --><input type="hidden" name="rsvState" >
	<!-- 적립된 포인트 마이너스 추가 --><input type="hidden" name="pointList">
	<!-- 포인트 적립내역 환불완료로 수정 --><input type="hidden" name="pointAddList">
	<!-- 포인트에 환불 적립 될 (아이디 아래꺼 쓰면됨)--><input type="hidden" name="pointID">
	<!-- 환불하고 남는금액 --><input type="hidden" name="paymentRefund" class="paymentRefund">
<table border="1" id="table1">
	<tbody >
		<th:block th:if="${#lists.size(cacelData) > 0}" th:each = "p : ${cacelData}">
		<th:block th:each = "pr : ${p.RsvList}">
		<tr>
			<td>취소하는 방 예약코드</td>
			<td><input type="text" name="cancelRsvCode" th:value="${p.paymentRsvCode}" readonly="readonly"></td>
		</tr>
		<tr>
			<td>취소자 아이디</td>
			<td><input type="text" name="cancelUserId" th:value = "${pr.rsvUserId}" readonly="readonly"></td>
		</tr>
		<tr>
			<td>취소자 이름</td>
			<td><input type="text" th:value = "${pr.rsvUserName}" readonly="readonly"></td>
		</tr>
		<tr>
			<td>취소자 휴대폰</td>
			<td><input type="text" th:value = "${pr.rsvUserPhone}" readonly="readonly"></td>
		</tr>
		<tr>
			<td>실제 결제한 금액</td>
			<td><input type="text" class="paymentUseMoney" th:value="${p.paymentUseMoney}" readonly="readonly"></td>
		</tr>
		<tr>
			<td>환불 퍼센트</td>
			<td><input type="text" class="rePercent" readonly="readonly"></td>
		</tr>
		<tr>
			<td>환불하는 금액</td>
			<td><input type="text" class="rePrice" name="cancelPrice" readonly="readonly"></td>
		</tr>
		
		<tr>
			<td>취소사유</td>
			<td><input type="text" name="cancelReason"></td>
		</tr>
		<tr>
			<td>결제 날짜</td>
			<td><input type="text" class="paydate" th:value="${p.paymentRegDate}" readonly="readonly"></td>
		</tr>
		<tr>
			<td>예약 날짜</td>
			<td><input type="text" class="rsvdate" th:value="${pr.rsvStartDateTime}" readonly="readonly"></td>
		</tr>
		<tr>
			<td colspan="2"><a href="cancelTest"><button type="submit">취소신청</button></a></td>
		</tr>
		
		</th:block>
		</th:block>
	</tbody>
</table>
	
	<table border="1" id="table2">
				<thead>
					<tr>
						<th>예약까지남은일수</th>
						<th>환불퍼센트</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="re : ${refundPolicy}">
						<td>이용<input type="text" name="remainingDay"
							style="width: 60px;" class="day" th:value="${re.remainingDay}"
							readonly="readonly">일전
						</td>
						<td>총금액의<input type="text" name="refundPercent"
							style="width: 60px;" class="Pay"
							th:value="${re.refundPercent}" readonly="readonly">%
						</td>
					</tr>
				</tbody>
	</table>
			
		
		<p id="Explanation">※해당업체의 환불정책</p>
	
	<!-- 환불정책 코드값 --><input type="hidden" name="refundPolicyCode" th:value="${re.refundPolicyCode}">
</form>
</th:block>
