<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">
<style>
.hid{display: none;}
td{padding-left: 10px; padding-right: 10px;}

</style>
</th:block>

<th:block layout:fragment="customJs">
	

	<script>
	$(function(){
		
		
		$('.refundBtn').click(function(){
			var tableLength =  $('[name="remainingDay"]').length;
			 var refundPolicyList = new Array(); 
	         var datas = new Object(); 
	         var totData = new Object();
			
			for(var i=0; i<tableLength;i++){
				datas  = new Object(); 
				datas.refundPolicyStoreCode  = $('[name="refundPolicyStoreCode"]').val();
				datas.refundPolicyUserId  = $('[name="refundPolicyUserId"]').val();
				datas.remainingDay  = $('[name="remainingDay"]').eq(i).val();
				datas.refundPercent = $('[name="refundPercent"]').eq(i).val();
				refundPolicyList.push(datas);
			}
			  totData["refundPolicyList"] = refundPolicyList;
			  
			  console.log(totData);
			  
			  $.ajax({
	               type : "POST",
	               url : '/refundPolicy', 
	               dataType : "text",  //리턴받았을때 타입
	               contentType : "application/json",
	               data : JSON.stringify(totData),
	               success : function(data) {
               	   	location.href= data;         
	               },
	               error : function() {
	                  alert('실패');
	               }
	            });    


			  
		
		})
			
			$(document).on('click', '.addBtn', function() {
				var clone = $(this).parents('tr').clone();
				//복제된 대상의 input 박스를 찾아 값을 초기화
				clone.find('input').val('');
				//복제된 대상을 tbody에 삽입하기
				$(this).parents('tbody').append(clone);

			});

			$(document).on('click', '.removeBtn', function() {
				var len = $(this).parents('tbody').find('tr').length;
				if (len > 1) {
					$(this).parents('tr').remove();
				} else {
					alert('더이상 삭제 하실 수 없습니다');
				}
			});
			
			
			
		});
	</script>
</th:block>

<th:block layout:fragment="customContent">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<form action="/refundTest" method="post" id="form">
			<!-- 업체코드 -->
			<!-- 등록한사람아이디 -->
			<!-- 환불단가코드  -->	
		
<table border="1">
	<thead>
		<tr>
			<th>예약까지남은일수</th>
			<th>환불퍼센트</th>
			<th>생성 및 제거</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="hid"><input type="hidden" name="refundPolicyStoreCode" value="5"></td>
			<td class="hid"><input type="hidden" name="refundPolicyUserId" value="id001"></td>
			<td>이용<input type="text" 	 name="remainingDay" style="width: 60px;">일전</td>
			<td>총금액의<input type="text"	 name="refundPercent" style="width: 60px;">%</td>
			<td>
				<button type="button" class="addBtn">추가</button>
				<button type="button" class="removeBtn">삭제</button>
			</td>
		</tr>
	</tbody>
</table>
	<button type="button" class="refundBtn" style="width: 30%; margin-left: 28%; margin-top: 15px;">등록</button>
	<button type="button" id="testB" >테스트</button>			
</form>
</th:block>