<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customContent">
	
	<div class="col-md-12 col-sm-12 ">
		<div class="x_panel">
			<div class="x_title">
				<h2>실시간 매출 현황 페이지</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<b th:text=${today}></b>  <b th:text=${nowtime}></b> 현재 시각까지의 매출 현황입니다.
				<button type="button" style="float:right;" class="btn btn-success btn-md" id="closeBtn">마감정산</button>
				<form id="selectReview" method="post">
				<div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action" id="reviewTable" style="padding: 0px;">
						<thead>
							<tr class="headings">
								<th><input type="checkbox" id="check-all" class="flat">
								</th>
								<th class="column-title">결제 코드</th>
								<th class="column-title">예약 코드</th>
								<th class="column-title">결제 금액</th>
								<th class="column-title">사용 포인트</th>
								<th class="column-title">환불 수수료</th>
								<th class="column-title">이용 시작 시각</th>
								<th class="column-title">이용 종료 시각</th>
								<th class="column-title no-link last">결제  상태</th>
								<th class="column-title bulk-actions" colspan="8"> 선택된 결제건  ( <span
										class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="even pointer" th:if="${#lists.size(getTodayList) > 0}"
								th:each="gtl : ${getTodayList}">
								<td class="a-center "><input type="checkbox" class="flat"
									name="table_records" th:value="${gtl.get('paymentCode')}"></td>
								<td class=" " th:text="${gtl.get('paymentCode')}"></td>
								<td class=" " th:text="${gtl.get('paymentRsvCode')}"></td>
								<td class=" " th:text="${gtl.get('paymentUseMoney')}"></td>
								<td class=" " th:text="${gtl.get('paymentUsePoint')}"></td>
								<td class=" " th:text="${gtl.get('paymentRefund')}"></td>
								<td class=" " th:text="${gtl.get('rsvStartDateTime')}"></td>
								<td class=" " th:text="${gtl.get('rsvEndDateTime')}"></td>
								<td class="last " th:text="${gtl.get('rsvState')}"></td>
							</tr>
							<tr class="even pointer" th:if="${#lists.isEmpty(getTodayList) }">
								<td colspan="9" style="text-align:center;">
								<b th:text=${today}></b><br>
								 조회된 데이터가 없습니다.
								</td>
							</tr>
						</tbody>
						<tfoot style="background: #D7DCDE; font-weight: bold;">
							<tr th:unless="${#lists.isEmpty(getTodayList) }">
								<td></td>
								<td>매출 건수 </td>
								<td class=" " th:text="|${todaytotal.countSubtotal}건|"></td>
								<td class=" " th:text="${todaytotal.moneySubtotal}"></td>
								<td class=" " th:text="${todaytotal.pointSubtotal}"></td>
								<td class=" " th:text="${todaytotal.refundSubtotal}"></td>
								<td style="text-align: right;">매출합계</td>
								<td class=" " th:text="${todaytotal.moneySubtotal +todaytotal.pointSubtotal}"></td>
								<td class="last "></td>
							</tr>
							<tr class="even pointer" th:if="${#lists.isEmpty(getTodayList) }">
								<td></td>
								<td>매출 건수 </td>
								<td class=" " > 0건 </td>
								<td class=" " >0</td>
								<td class=" " >0</td>
								<td class=" " >0</td>
								<td style="text-align: right;">매출합계</td>
								<td class=" ">0</td>
								<td class="last "></td>
							</tr>
						</tfoot>
					</table>
					<input type="hidden" id="hiddenBox" name="blindValue">
				</div>
			</form>
			</div>
		</div>
	</div>
	
</th:block>
<th:block layout:fragment="customJs">
<!-- datepicker js파일 --><script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- datepicker css파일 --><link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script  th:inline="javascript">



	//데이터 피커
	      $('#datepicker').datepicker({
	         singleDatePicker : true,
	         singleClasses : "picker_5",
	         minDate : 0,
	         maxDate : '+3m',
	         dateFormat: "yy-mm-dd"
	//데이터 피커 값 변경시
	      });
</script>
</th:block>
</html>