<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customContent">
	
	<div class="col-md-12 col-sm-12 ">
		<div class="x_panel tile fixed_height_320 overflow_hidden">
			<div class="x_title">
				<h3>일자별 매출 조회 페이지 </h3>
			</div>
			<div class="x_content">
				<!-- 달력 인폿박스 시작 -->
                <input type="text" name="rsvDate" autocomplete="off" class="form-control has-feedback-left" id="datepicker" > 
                <!-- 달력 아이콘 -->
                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                <!-- 달력 인폿박스 끝 -->			
				<form id="selectReview" method="post">
				<div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action" id="daySales" style="padding: 0px;">
						<thead>
							<tr class="headings">
								<th class="column-title" rowspan="2">날짜</th>
								<th class="column-title" rowspan="2">매출</th>
								<th class="column-title" colspan="2">판매</th>
								<th class="column-title" colspan="2"> 환불</th>
								<th class="column-title bulk-actions" colspan="8"> 선택된 결제건  ( <span
										class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i>
								</th>
							</tr>
							<tr>
								<th>실 결제금액</th>
								<th>포인트 사용</th>
								<th>환불 금액</th>
								<th>환불 수수료</th>
							</tr>
						</thead>
						<tbody>
							<tr class="even pointer">
								<td>랄랄라</td>
								<td>랄랄라</td>
								<td>랄랄라</td>
								<td>랄랄라</td>
								<td>랄랄라</td>
								<td>랄랄라</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="18" style="text-align:center;">
									
								</td>
							</tr>
						</tfoot>
					</table>
					<input type="hidden" id="hiddenBox" name="blindValue">
				</div>
			</form>
			</div>
		</div>
	</div>
	
	
</th:block>
<th:block layout:fragment="customJs">
<!-- datepicker js파일 --><script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- datepicker css파일 --><link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script  th:inline="javascript">
	//데이터 피커
	      $('#datepicker').datepicker({
	         singleDatePicker : true,
	         singleClasses : "picker_5",
	         minDate : 0,
	         maxDate : '+3m',
	         dateFormat: "yy-mm-dd"
	//데이터 피커 값 변경시
	      });
	
	      $("#tbStoreOk").DataTable({
	  		order: [ [ 0, "desc" ] ],
	  		ordering: true,
	  		lengthChange: false,
	  		"dom": 'fltip',
	  		"language": {
	  			         "info": "페이지 _PAGE_ of _PAGES_",
	  		        	 "paginate": {
	  						        	 "first": "첫페이지",
	  						        	 "last": "마지막",
	  						             "previous": "이전",
	  						             "next":"다음"
	  						           },
	  		        	 "sEmptyTable": "No data available in table",
	  		        	 "sInfoEmpty": "Showing 0 to 0 of 0 entries",
	  		        	 "sInfoFiltered": "(filtered from _MAX_ total entries)",
	  		        	 "sInfoPostFix": "",
	  		        	 "sLengthMenu": "Show _MENU_ 개씩",
	  		        	 "sSearch": "검색:",
	  		        	 "sSearchPlaceholder": "",
	  		        	 "sZeroRecords": "No matching records found"
	  			         }
</script>
</th:block>
</html>