<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/maindefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">

	<form th:action="@{/addAdmin}" id="joinform" method="post">

		<span class="section">회원 등록</span>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">회원구분
				<span class="required">*</span>
			</label>
			<div class="form-check">

				<label class="form-radio-label"> <input
					class="form-radio-input" type="radio" name="userLevel" value="3"
					checked="checked"> <span class="form-radio-sign">개인</span>
				</label> <label class="form-radio-label ml-3"> <input
					class="form-radio-input" type="radio" name="userLevel" value="2">
					<span class="form-radio-sign">판매자</span>
				</label>
			</div>
		</div>
		
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">아이디<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">

				<input class="form-control" maxlength="12"
					id="userId" name="userId"	required="required">
				<button type="submit" id="idchk" class="btn btn-primary"
					onclick="idChk();" value="N">중복확인</button>
			</div>

		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">비밀번호<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input type="password" class="form-control"
					id="password" name="userPw" placeholder="4~12자의 대소문자와 숫자를 입력하세요"
					maxlength="12" required="required">
			</div>

		</div>

		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">이름
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" type="text" id="name" name="userName"
					 required="required">
			</div>
		</div>

		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">생년월일
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" type="date" id="birth" name="userBirth"	required="required">

			</div>
		</div>

		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">성별
				<span class="required">*</span>
			</label>
			<div class="form-check">

				<label class="form-radio-label"> <input
					class="form-radio-input1" type="radio" name="userGender" value="남"
					checked="checked"> <span class="form-radio-sign1">남성</span>
				</label> <label class="form-radio-label ml-3"> <input
					class="form-radio-input1" type="radio" name="userGender" value="여" >
					<span class="form-radio-sign1">여성</span>
				</label>
			</div>
		</div>

		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">휴대전화
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" type="number" id="phone" name="userPhone"
					maxlength="11" oninput="maxLengthCheck(this)" placeholder="ex)01012345678"
					required="required">

			</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">직업<span
				class="required">*</span></label>
			<div class="col-md-3 col-sm-3">
				<select class="form-control" id="job" name="userJob">
					<option value="학생">학생</option>
					<option value="회사원">회사원</option>
					<option value="자영업">자영업</option>
					<option value="무직">무직</option>
					<option value="기타">기타</option>
				</select>
			</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">이메일<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" id="email" name="userEmail"
					required="required" type="email">
			</div>
		</div>

		<div class="form-group" align="center">
			<div class="col-md-6 offset-md-3">
				<button type="submit" id="submit" class="btn btn-primary ">회원가입</button>
				<button type="button" id="cancel" class="btn btn-success">취소</button>
			</div>
		</div>
	</form>

</th:block>
<th:block layout:fragment="customJs">

<script> 
	//number 제한길이
	function maxLengthCheck(object){
    	if (object.value.length > object.maxLength){
     		 object.value = object.value.slice(0, object.maxLength);
    	}    
  }
</script>
 
  <script >
  //유효성검사
 	
	 		$("#cancel").on("click", function(){
				location.href = "/";
			})
		
			$("#submit").on("click", function(){
				if($("#userId").val()==""){
					alert("아이디를 입력해주세요.");
					$("#userId").focus();
					return false;
				}
				if($("#password").val()==""){
					alert("비밀번호를 입력해주세요.");
					$("#userPass").focus();
					return false;
				}
				if($("#name").val()==""){
					alert("성명을 입력해주세요.");
					$("#userName").focus();
					return false;
				}
				if($("#birth").val()==""){
					alert("생년월일을 입력해주세요.");
					$("#birth").focus();
					return false;
				}
				if($("#gender").val()==""){
					alert("성별을 선택해주세요.");
					$("#gender").focus();
					return false;
				}
				if($("#phone").val()==""){
					alert("휴대전화번호를 입력해주세요.");
					$("#phone").focus();
					return false;
				}
				if($("#job").val()==""){
					alert("직업을 입력해주세요.");
					$("#job").focus();
					return false;
				}
				if($("#email").val()==""){
					alert("이메일을 입력해주세요.");
					$("#email").focus();
					return false;
				}
				var idChk = $("#idChk").val();
				if(idChk == "N"){
					alert("중복확인 버튼을 눌러주세요.");
				}else {
					$("#joinform").submit();
				}
			});
		
	</script >
	< <script >		
		
		//아이디 중복체크
		function idCheck(){
			$.ajax({
				url : "/idCheck",
				type : "post",
				dataType : "json",
				data : {"userId" : $("#userId").val()},
				success : function(data){
					if(data == 1){
						alert("이미 존재하는 아이디입니다.");
					}else if(data == 0){
						$("#idCheck").attr("value", "Y");
						alert("사용가능한 아이디입니다.");
					}
						
				}
			})
		};
		
	</script>
</th:block>
</html>