<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">


<th:block layout:fragment="customContent">
	<div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
		<div class="card my-5 ">
			<div class="card-body p-5 text-center">
				<div class="h3 font-weight-light mb-0">비밀번호 찾기
					</div>
			</div>
			<hr class="my-0">
			<div  class="card-body p-5">
				<div 
					class="text-center text-muted mb-4">가입 당시 입력한 이메일로 비밀번호를 발송합니다.</div>
				<form 
					class="ng-untouched ng-pristine ng-invalid">
					<div  class="form-group">
						<label  for="inputEmailAddress"
							class="text-gray-600 small"></label><input
							 id="inputEmailAddress"
							data-cy="emailInput" type="email" 
							name="email" value="${user.userEmail}" placeholder="이메일"
							class="form-control form-control-solid py-4 ng-untouched ng-pristine ng-invalid">
						<div  class="invalid-feedback">이메일</div>
						
					</div>
					<div class="form-group mb-0 text-center" >
						<button data-cy="resetPasswordButton"
							type="submit" id="submit" class="btn btn-primary" >확인</button>
					</div>
				</form>
			</div>
			<hr class="my-0">
			<div class="card-body px-5 py-4">
				<div  class="text-center">
					<a 	href="/addUser">회원가입</a>
				</div>
			</div>
			</div>
			</div>

</html>