<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/maindefault}">
<th:block layout:fragment="customCss">
	<style type="text/css">
.form-gap {
	padding-top: 70px;
}
</style>
</th:block>

<th:block layout:fragment="customContent">
	<form action="/user/findIdform" method="post">

		<div class="form-gap"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="text-center">
								<h3>
									<i class="fa fa-lock fa-4x"></i>
								</h3>
								<h2 class="text-center">아이디 찾기</h2>
								<div class="panel-body">

									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-envelope color-blue"></i></span> <input
												id="userEmail" name="userEmail" placeholder="이메일을 입력하세요"
												class="form-control" type="email">
										</div>
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-primary" id="findId"
											>찾기</button>
										<button type="button" class="btn btn-success" onclick="history.go(-1);">취소</button>
										<!-- <input type="hidden" class="hide" name="token" id="token"
											value=""> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</form>
</th:block>
		<!-- <div class="contents">
			<p>
			<div class="tab-content" id="vianfind-tabContent">
				<div class="tab-pane fade show active" id="vianfind-home"
					role="tabpanel" aria-labelledby="vianfind-home-tab">
					<div class="col-xl-5 col-lg-8 col-md-8 col-sm-11">
						<div class="card my-5 ">
							<div class="card-body p-5 text-center">
								<div class="h3 font-weight-light mb-0">아이디 찾기</div>
								<div class="ng-untouched ng-pristine ng-invalid">
									<div class="form-group">
										<input type="text" class="form-control" id="userName"
											name="userName" placeholder="이름">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="userEmail"
											name="userEmail" placeholder="이메일">
									</div>
									<button type="button" class="btn btn-primary" id="checkId"
										onclick="checkId()">확인</button>
									<button type="button" onclick="history.go(-1);">취소</button>
								</div>
								<div class="text-center small" id="checkMsg" style="color: red"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</form> -->

<th:block layout:fragment="customJs">
	<script>
//아이디  찾기
		$('#findId').click(function(){
			var userEmail = $('#userEmail').val();

    		 var request = $.ajax({
				url: "/findIdajax",	//요청 url
				method: "POST",	//요청 방식
				data: { userEmail : userEmail },	//요청하는 곳에 전달될 데이타
				dataType: "text"	//응답되어 받은 데이타를 parsing 시킬 방식
			});
			
    		request.done(function( data ) {
				alert(data);
			});
			
    		request.fail(function( jqXHR, textStatus ) {
				alert( "Request failed: " + textStatus );
			}); 


    	});
    	
    	
	</script>
	</th:block>
</html>