<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">


<th:block layout:fragment="customContent">



	<form th:action="@{/addUser}" class="" action="" method="post"
		novalidate="">

		<span class="section">Personal Info</span>
		<div class="field item form-group bad">
			<label class="col-form-label col-md-3 col-sm-3  label-align">아이디<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" data-validate-length-range="6"
					data-validate-words="2" name="userId"
					placeholder="아이디" required="required">
			</div>
			<div class="alert">please put something here</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">Occupation<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" name="occupation"
					data-validate-length-range="5,15" type="text">
			</div>
		</div>
		<div class="field item form-group bad">
			<label class="col-form-label col-md-3 col-sm-3  label-align">email<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" name="email" required="required"
					type="email">
			</div>
			<div class="alert">please put something here</div>
		</div>
		<div class="field item form-group bad">
			<label class="col-form-label col-md-3 col-sm-3  label-align">Confirm
				email address<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" type="email" name="confirm_email"
					data-validate-linked="email" required="required">
			</div>
			<div class="alert">please put something here</div>
		</div>
		<div class="field item form-group bad">
			<label class="col-form-label col-md-3 col-sm-3  label-align">Number
				<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" type="number" name="number"
					data-validate-minmax="10,100" required="required">
			</div>
			<div class="alert">please put something here</div>
		</div>
		<div class="field item form-group bad">
			<label class="col-form-label col-md-3 col-sm-3  label-align">Date<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" type="date" name="date"
					required="required">
			</div>
			<div class="alert">please put something here</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">Time<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" type="time" name="time"
					required="required">
			</div>
		</div>
		<div class="field item form-group bad">
			<label class="col-form-label col-md-3 col-sm-3  label-align">Password<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" type="password" name="password"
					data-validate-length="6,8" required="required">
			</div>
			<div class="alert">please put something here</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">Repeat
				password<span class="required">*</span>
			</label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" type="password" name="password2"
					data-validate-linked="password" required="required">
			</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">Telephone<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<input class="form-control" type="tel" name="phone"
					required="required" data-validate-length-range="8,20">
			</div>
		</div>
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">message<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<textarea required="required" name="message"></textarea>
			</div>
		</div>
		<div class="ln_solid">
			<div class="form-group">
				<div class="col-md-6 offset-md-3">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-success">Reset</button>
				</div>
			</div>
		</div>
	</form>


	<script>
		//체크박스 전체선택,해제
		function allCheck(allCheck)  {
 		const checkboxes = document.getElementsByName('checkCh');
  			checkboxes.forEach((checkbox) => {
   			checkbox.checked = allCheck.checked;
 			 })
		}

	</script>
</html>
