<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">


<th:block layout:fragment="customContent">
	
		<div class="x_content">
			<br>
			<form th:action="@{/addUser}" id="demo-form2" data-parsley-validate=""
				class="form-horizontal form-label-left" novalidate="" method="post">
				
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align"
						for="userId">아이디 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="userId" required="required"
							class="form-control ">
					</div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align"
						for="password">비밀번호<span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="password" id="password" name="password"
							required="required" class="form-control">
					</div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align"
						for="passwordCk">비밀번호 확인<span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="password" id="passwordCk" name="passwordCk"
							required="required" class="form-control">
					</div>
				</div>
				<div class="item form-group">
				
					<label for="name"
						class="col-form-label col-md-3 col-sm-3 label-align">이름</label>
					<div class="col-md-6 col-sm-6 ">
						<input id="name" class="form-control" type="text"
							name="name">
					</div>
				</div>
				<div class="item form-group">
					<label for="birth"
						class="col-form-label col-md-3 col-sm-3 label-align">이름</label>
					<div class="col-md-6 col-sm-6 ">
						<input id="birth" class="form-control" type="number"
							name="birth">
					</div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
					<div class="col-md-6 col-sm-6 ">
						<div id="gender" class="btn-group" data-toggle="buttons">
							<label class="btn btn-secondary" data-toggle-class="btn-primary"
								data-toggle-passive-class="btn-default"> <input
								type="radio" name="gender" value="male" class="join-btn"
								data-parsley-multiple="gender"> &nbsp; 남성 &nbsp;
							</label> <label class="btn btn-primary" data-toggle-class="btn-primary"
								data-toggle-passive-class="btn-default"> <input
								type="radio" name="gender" value="female" class="join-btn"
								data-parsley-multiple="gender"> 여성
							</label>
						</div>
					</div>
				</div>
				<div class="item form-group">
					<label for="phone"
						class="col-form-label col-md-3 col-sm-3 label-align">이름</label>
					<div class="col-md-6 col-sm-6 ">
						<input id="phone" class="form-control" type="number"
							name="phone">
					</div>
				</div>
				<div class="item form-group">
					<label for="job"
						class="col-form-label col-md-3 col-sm-3 label-align">이름</label>
					<div class="col-md-6 col-sm-6 ">
						<select id="job" class="form-control" 
							name="job">
							<option value="1">선택</option>
							<option value="2">학생</option>
							<option value="3">회사원</option>
							<option value="4">자영업</option>
							<option value="5">무직</option>
							<option value="6">기타</option>
							
						</select>
					</div>
				</div>
				
				<div class="ln_solid"></div>
				<div class="item form-group">
					<div class="col-md-6 col-sm-6 offset-md-3">
						<button class="btn btn-primary" type="button">취소</button>
						<button type="submit" class="btn btn-success">회원가입</button>
					</div>
				</div>
			</form>
		</div>


<script>
		//체크박스 전체선택,해제
		function allCheck(allCheck)  {
 		const checkboxes = document.getElementsByName('checkCh');
  			checkboxes.forEach((checkbox) => {
   			checkbox.checked = allCheck.checked;
 			 })
		}

	</script>

</html>
