<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/maindefault}">


<th:block layout:fragment="customContent">
   <form th:action="@{/login}" name="loginForm" method="post" >

      <div class="col-lg-5">
         <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header justify-content-center">
               <h3 class="font-weight-light my-4">로그인</h3>
            </div>
            <div class="card-body">
                  <div class="form-group">
                     <label for="inputEmailAddress"
                        class="small mb-1"></label><input id="userId" data-cy="useridInput" type="text"
                        name="userId" placeholder="아이디"                         
                        class="form-control py-4 ng-untouched ng-pristine ng-invalid">
                     <div class="invalid-feedback">
                        </div>
                    
                  </div>
                  <div class="form-group">
                     <label for="inputPassword"
                        class="small mb-1"></label><input 
                        id="userPw" data-cy="passwordInput" type="password"
                        name="userPw" placeholder="비밀번호" 
                        class="form-control py-4 ng-untouched ng-pristine ng-invalid">
                     <div class="invalid-feedback">
                       </div>
                  </div>
                  <div class="form-group">
                     <div class="custom-control custom-checkbox">
                        <input id="rememberId"
                           type="checkbox"
                           class="custom-control-input ng-untouched ng-pristine ng-valid"><label
                           for="rememberId"
                           class="custom-control-label">아이디 기억하기</label>
                     </div>
                  </div>
                  <div
                     class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                     <div id="findIdform" >아이디/비밀번호 찾기</div>
                     <button type="submit" class="btn btn-primary" onclick="CheckForm();">로그인</button>
                  </div>
            </div>
            <div class="card-footer text-center">
               <div class="middle">
                  <a href="/addUser">회원가입</a>
               </div>
            </div>
         </div>
      </div>
   </form>
</th:block>

<th:block layout:fragment="customJs">
<script>
//number 길이제한
function maxLengthCheck(object){
	   if (object.value.length > object.maxLength){
	    object.value = object.value.slice(0, object.maxLength);
	   }   
	  }

</script>

<script>

 function CheckForm(){
	
	var userId = $("#userId").val();
	var userPw = $("#userPw").val();
	
	if(!userId){
		alert("아이디를 입력하세요.");
		$("#userId").focus();
		return false;
	}else if(!userPw){
		alert("비밀번호를 입력하세요.");
		$("#userPw").focus();
		return false;
	}else {
		login(userId,userPw);
	}
	
} 

</script>

 <script>
 //아이디 저장하기
        $(document).ready(function(){
    var userId = getCookie("userId");//저장된 쿠기값 가져오기
    $("input[name='userId']").val(userId); 
     
    if($("input[name='userId']").val() != ""){ // 그 전에 ID를 저장해서 처음 페이지 로딩
                                           // 아이디 저장하기 체크되어있을 시,
        $("#rememberId").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
    }
     
    $("#rememberId").change(function(){ // 체크박스에 변화가 발생시
        if($("#rememberId").is(":checked")){ // ID 저장하기 체크했을 때,
            var userId = $("input[name='userId']").val();
            setCookie("userId", userId, 7); // 7일 동안 쿠키 보관
        }else{ // ID 저장하기 체크 해제 시,
            deleteCookie("userId");
        }
    });
     
    // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
    $("input[name='userId']").keyup(function(){ // ID 입력 칸에 ID를 입력할 때,
        if($("#rememberId").is(":checked")){ // ID 저장하기를 체크한 상태라면,
            var userId = $("input[name='userId']").val();
            setCookie("userId", userId, 7); // 7일 동안 쿠키 보관
        }
    });
});
 
function setCookie(cookieName, value, exdays){
    var exdate = new Date();
    exdate.setDate(exdate.getDate() + exdays);
    var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
    document.cookie = cookieName + "=" + cookieValue;
}
 
function deleteCookie(cookieName){
    var expireDate = new Date();
    expireDate.setDate(expireDate.getDate() - 1);
    document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
}
 
function getCookie(cookieName) {
    cookieName = cookieName + '=';
    var cookieData = document.cookie;
    var start = cookieData.indexOf(cookieName);
    var cookieValue = '';
    if(start != -1){
        start += cookieName.length;
        var end = cookieData.indexOf(';', start);
        if(end == -1)end = cookieData.length;
        cookieValue = cookieData.substring(start, end);
    }
    return unescape(cookieValue);
}
     </script>

<script>
//아이디 찾기
$(function(){
	$("#findIdform").click(function(){
		location.href='/findIdform';
	})
})

</script>

</th:block>
</html>