<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customJs">
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			/*<![CDATA[*/
		    var result = [[${result}]];
			
		    /*]]>*/	    
		});
	</script>
	
</th:block>


<th:block layout:fragment="customContent">
	<form action="/userList" method="post">
		<select name="sk">
			<option th:value="${userId}">아이디</option>
			<option th:value="${userGrade}">권한</option>
			</select>
		<input type="text" name = "sv" placeholder="검색어를 입력해주세요"/>
		<button type="submit"  onclick="searchUserList">검색</button>
	</form>
<div>
<button type="submit"  class="btn btn-primary" ><a th:href="@{/bookMarkList}"></a></button>
</div>

<div class="table-responsive m-t-20">
		<table class="table table-bordered table-responsive-lg">
			<thead>
				<tr>
					<th scope="col">아이디</th>
					<th scope="col">비밀번호</th>
					<th scope="col">이름</th>
					<th scope="col">생년월일</th>
					<th scope="col">성별</th>
					<th scope="col">핸드폰</th>
					<th scope="col">직업</th>
					<th scope="col">등급</th>
					<th scope="col">이메일</th>
					<th scope="col">등록일자</th>
					<th scope="col">포인트</th>
					<th scope="col">수정</th>
					<th scope="col">삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(userList) > 0}" th:each="l : ${userList}">
				<td th:text="${l.userId}"></td>
				<td th:text="${l.userPw}"></td>
				<td th:text="${l.userName}"></td>
				<td th:text="${l.userBirth}"></td>
				<td th:text="${l.userGender}"></td>
				<td th:text="${l.userPhone}"></td>
				<td th:text="${l.userJob}"></td>
				<td th:text="${l.userGrade}"></td>
				<td th:text="${l.userEmail}"></td>
				<td th:text="${l.userRegDate}"></td>
				<td th:text="${l.userPoint}"></td>
				<td>
					<button type="submit"><a th:href="@{/modifyUser(userId=${l.userId})}">수정</a></button>
					<button type="submit"><a  th:href="@{/removeUser(userId=${l.userId})}">삭제</a></button>
				</td>
			</tbody>
		</table>
	</div>

</th:block>
</html>	