<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/maindefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">

	<form th:action="@{/user/removeMyinfo}" method="post" name="remove">

		<span class="section">회원 탈퇴</span>


		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">아이디<span
				class="required">*</span></label>
			<div class="col-md-6 col-sm-6">
				<div id="userId" th:text="${SID}"></div>
				<input type="hidden" th:value="${SID}" name="userId">
			</div>
		</div>
		
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">탈퇴 사유
			</label>
			<div class="form-check">

				<label class="form-checkbox-label"> <input
					class="form-checkbox-input1" type="checkbox" name="reason" value="사이트 이용안함"
					> <span class="form-checkbox-sign1">사이트 이용안함</span>
				</label>
				<label class="form-checkbox-label"> <input
					class="form-checkbox-input1" type="checkbox" name="reason" value="이용이 불편함"
					> <span class="form-checkbox-sign1">이용이 불편함</span>
				</label>
				<label class="form-checkbox-label"> <input
					class="form-checkbox-input1" type="checkbox" name="reason" value="다른 사이트 사용"
					> <span class="form-checkbox-sign1">다른 사이트 사용</span>
				</label>
			</div>
		</div>
		
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">비밀번호</label>
			<div class="col-md-6 col-sm-6">
				<input type="password" class="form-control"
					data-validate-length-range="6" data-validate-words="2"
					id="password" name="userPw" required="required">
			</div>
		</div>
		
		<div class="form-group" align="center">
			<div class="col-md-6 offset-md-3">
				<button type="submit" id="submit" class="btn btn-primary " onclick="deleteCk()">회원탈퇴</button>
			</div>
		</div>
	</form>

</th:block>
<th:block layout:fragment="customJs">
<script>
function deleteCk() {
	 if (confirm("탈퇴 하시겠습니까?") == true){  
	     document.remove.submit();
	 }else{  
	     return false;
	 }
}
	
</script>
</th:block>
</html>