<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customContent">

	<div class="table-responsive m-t-20">
		<table class="table table-bordered table-responsive-lg">
			<thead>
				<tr>
					<th scope="col">No.</th>
					<th scope="col">아이디</th>
					<th scope="col">공간</th>
					<th scope="col">삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#bists.size(bookMarkList) > 0}" th:each="b : ${bookMarkList}">
					<td th:text="${b.bookMarkCode}"></td>
					<td th:text="${b.userId}"></td>
					<td th:text="${b.storeCode}"></td>
					<td th:text="${b.BookRegDate}"></td>
					
					<td>
						<button type="submit"><a th:href="@{/removeBookmark(bookMarkUserId=${b.bookMarkUserId})}">삭제</a></button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>

</th:block>
</html>