<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/maindefault}">

<th:block layout:fragment="customContent">
<div class="container " style="margin-top: 70px; margin-bottom: 70px;">
<button type="button" class="selectDelete">선택삭제</button>

	<div class="table-responsive m-t-20">
		<table class="table table-striped jambo_table bulk_action dataTable no-footer" id = "tbBookmark">
			<thead>
				<tr>
				<th><input type="checkbox" id="allCheck" >	</th>
					<th scope="col">No.</th>
					<th scope="col">아이디</th>
					<th scope="col">공간</th>
					<th scope="col">삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(bookMarkList) > 0}" th:each="b : ${bookMarkList}">
				<td><input type="checkbox" class="RowCheck" th:value="${b.bookMarkCode}"></td>
					<td th:text="${b.bookMarkCode}"></td>
					<td th:text="${b.userId}"></td>
					<td th:text="${b.storeCode}"></td>
					<td th:text="${b.BookRegDate}"></td>
					<td>
						<a th:href="@{/bookmark/removeBookMark(bookMarkCode=${b.bookMarkCode})}"><button type="submit" id="bookBtn">삭제</button></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</th:block>
<th:block layout:fragment="customJs">

<script>
	$("#tbBookmark").DataTable({
		order: [ [ 0, "desc" ] ],
		ordering: true,
		lengthChange: false,
		"dom": 'fltip',
		"language": {
			         "info": "페이지 _PAGE_ of _PAGES_",
		        	 "paginate": {
						        	 "first": "첫페이지",
						        	 "last": "마지막",
						             "previous": "이전",
						             "next":"다음"
						           },
		        	 "sEmptyTable": "No data available in table",
		        	 "sInfoEmpty": "Showing 0 to 0 of 0 entries",
		        	 "sInfoFiltered": "(filtered from _MAX_ total entries)",
		        	 "sInfoPostFix": "",
		        	 "sLengthMenu": "Show _MENU_ 개씩",
		        	 "sSearch": "검색:",
		        	 "sSearchPlaceholder": "",
		        	 "sZeroRecords": "No matching records found"
			         }
	});
	
//전체선택
$("#allCheck").click(function(){
 var chk = $("#allCheck").prop("checked");
 if(chk) {
  $(".RowCheck").prop("checked", true);
 } else {
  $(".RowCheck").prop("checked", false);
 }
});

 $(".RowCheck").click(function(){
  $("#allCheck").prop("checked", false);
 });
 
 //북마크 삭제
 $('#bookBtn').click(function(){
		var bookMarkCode = [[${b.bookMarkCode}]]
		var request = $.ajax({
			url: "/bookmark/removeBookMark",	
			method: "POST",	
			data: { bookMarkCode : bookMarkCode },	
			dataType: "text"	
		});
		
		request.done(function( data ) {
			alert(data);
		});
		
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	});
	}) 
	
</script>
</th:block>
</html>