<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/maindefault}">
	
<th:block layout:fragment="customJs">
<script src="js/bootstrap.js"></script>

</th:block>
	
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>	

	
	
<th:block layout:fragment="customContent">
	
	<h1>게시물 리스트</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>게시물 번호</th>
				<th>회원아이디</th>
				<th>카테고리</th>
				<th>제목</th>
				<th>조회수</th>
				<th>추천수</th>
				<th>작성날짜</th>
			</tr>
		</thead>
		<tbody>
			
			<tr th:if="${#lists.size(boardsList) > 0}" th:each="b : ${boardsList}" >
				
				<td><p th:text="${b.boardIdx}"></p></td>
				<td><p th:text="${b.boardAddId}"></p></td>
				<td><p th:text="${b.boardCateName}"></p></td>
				<td><a th:href="@{/detailPost(boardIdx=${b.boardIdx}, boardTitle=${b.boardTitle})}" th:text="${b.boardTitle}"></a></td>
				<td><p th:text="${b.boardLikeCnt}"></p></td>
				<td><p th:text="${b.boardHitCnt}"></p></td>
				<td><p th:text="${b.boardAddDate}"></p></td>
				
			</tr>
			
		</tbody>
	</table>
	<div class="text-right" >
	<a  th:href="@{/boardWrite(userId=${session.SID})}"><button type="button" id="addPost" class="btn btn-success" >게시글 작성</button></a>		
	</div>
	</div>


</th:block>
</html>