<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/maindefault}">
	
	<th:block layout:fragment="customJs">
<script src="js/bootstrap.js"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
		$(function() {
			$('#insertBtn').click(function() {
				var userId = [[${session.SID}]]
				var addId = $('#addId')
				if (userId == null) {
					alert('로그인 해주세요');
					return false;
				}
				
			});
			return true;
		});
			
		$(".addReplyBtn").click(function(){
			  var formObj = $("form[name='replyForm']");
 			  formObj.attr("action", "/addReply");
			  formObj.submit(); 
			});

		
		/*]]>*/
	</script>
</th:block>
	
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>	
	
<th:block layout:fragment="customContent">

	<div class="container" style="margin-top: 70px; margin-bottom: 70px;">
	<form id="boardFrm" action="/postLikeCntUp" method="post">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>게시물 번호</th>
					<th th:text="${Board.boardIdx}"></th>
				</tr>
				<tr>
					<th>카테고리</th>
					<th th:value="${Board.boardCate}" th:text="${Board.boardCateName}"></th>
				</tr>
				<tr>
					<th>조회수</th>
					<th th:text="${Board.boardHitCnt}+1"></th>
				</tr>
				<tr>
					<th>추천수</th>
					<th th:text="${Board.boardLikeCnt}"></th>
				</tr>
				<tr>
					<th>회원아이디</th>
					<th id="addId" th:text="${Board.boardAddId}"></th>
				</tr>
				
				<tr>
					<th>작성날짜</th>
					<th th:text="${Board.boardAddDate}"></th>
				</tr>
				<tr>
					<th colspan="2">제목 : </th>
					<th th:text="${Board.boardTitle}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4" th:text="${Board.boardContents}"></td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" name="boardIdx" th:value="${Board.boardIdx}">
		<input type="hidden" name="boardAddId" th:value="${Board.boardAddId}">
		<input type="hidden" name="currentPageNo" th:value="${currentPageNo}">
		</form>
		<div class="text-center" th:object="${params}">
			<a th:href="|@{/modifyPost}*{makeQueryString(currentPageNo)}&boardIdx=${Board.boardIdx}|"
			th:if="${session.SID} eq ${Board.boardAddId}">
				<button id="insertBtn" type="submit" class="btn btn-warning">수정</button>
			</a>
			<a th:href="|@{/removePost}*{makeQueryString(currentPageNo)}&boardIdx=${Board.boardIdx}|"
			th:if="${session.SID} eq ${Board.boardAddId}">
				<button id="removeBtn" type="submit" class="btn btn-danger">삭제</button>
			</a>
			


			<a th:href="|@{/boardList}*{makeQueryString(currentPageNo)}|">
			<button type="button" class="btn btn-primary" >게시글보기</button></a>
			
			
			
		</div>
    <th:block>
		
	    <!--  댓글  -->
    <div class="container">
		<div id="reply">
			<ol class="replyList"  >
				<li  th:if="${#lists.size(replysList) > 0}" th:each="r : ${replysList}">
					<p>
						작성자 : [[${r.replyAddId}]] / 작성날짜 : [[${r.replyAddDate}]]<br>
					</p>
					<p>
						[[${r.replyContents}]]
					</p>   <br><br>
				</li>
			</ol>
		</div>
    </div>
    <br><br>
    
    <form name="replyForm" method="post">
    	<input type="hidden" id="boardIdx" name="boardIdx" th:value="${Board.boardIdx}" />
    	<input type="hidden" id="boardAddId" name="boardAddId" th:value="${Board.boardAddId}" />
		<input type="hidden" id="currentPageNo" name="currentPageNo" th:value="${params.currentPageNo}">
		<input type="hidden" id="recordsPerPage" name="recordsPerPage" th:value="${params.recordsPerPage}">
		<input type="hidden" id="searchKeyword" name="searchKeyword" th:value="${params.searchKeyword}">
		<input type="hidden" id="searchType" name="searchType" th:value="${params.searchType}">
		
		<div>
			<label>댓글 내용</label> <br>
			<textarea rows="10" class="form-control" id="replyContents" name="replyContents" /></textarea> <br>
			<label>댓글 작성자</label><br>
			<input type="text" name="replyAddId" id="replyAddId" th:unless="${session.SID == null}" th:value="${session.SID}" readonly="readonly" class="form-control"/>
		</div>
		  <div>
		 	 <button type="button" class="addReplyBtn btn btn-info">작성</button>
		  </div>
		
    </form>
	
	</th:block>
		</div>

</html>