<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/maindefault}">
	
	<th:block layout:fragment="customJs">
<script src="js/bootstrap.js"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
		$(function() {
			$('#insertBtn').click(function() {
				var userId = [[${session.SID}]]
				var addId = $('#addId')
				if (userId == null) {
					alert('로그인 해주세요');
					return false;
				}
				
			});
			return true;
		});
		$("#btnLike").click(function(){
		    if(confirm("해당 글을 추천하시겠습니까?")){
		        document.form1.action="@{postLikeCntUp}";
		        document.form1.submit();
		        
		        alert("해당 글을 추천하였습니다.")
		        
		        }

		    });

		/*]]>*/
	</script>
</th:block>
	
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>	
	
<th:block layout:fragment="customContent">

	<div class="container" style="margin-top: 70px; margin-bottom: 70px;">
		<h1 th:text="${Board.boardTitle}"></h1>

		<table class="table table-condensed">
			<thead>
				<tr>
					<th>게시물 번호</th>
					<td th:text="${Board.boardIdx}"></td>
					<th>카테고리</th>
					<td th:value="${Board.boardCate}" th:text="${Board.boardCateName}"></td>
					<th>조회수</th>
					<td th:text="${Board.boardHitCnt}+1"></td>
					<th>추천수</th>
					<td th:text="${Board.boardLikeCnt}"></td>
				</tr>
				<tr>
					<th>회원아이디</th>
					<td id="addId" th:text="${Board.boardAddId}"></td>
					<th colspan="2">제목</th>
					<td colspan="2" th:text="${Board.boardTitle}"></td>
					<th>작성날짜</th>
					<td th:text="${Board.boardAddDate}"></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${Board.boardContents}"></td>
				</tr>
			</tbody>
		</table>
		<div class="text-center" th:object="${params}">
			<a th:href="|@{/modifyPost}*{makeQueryString(currentPageNo)}&boardIdx=${Board.boardIdx}|"
			th:if="${session.SID} eq ${Board.boardAddId}">
				<button id="insertBtn" type="submit" class="btn btn-warning">수정</button>
			</a>
			<a th:href="|@{/removePost}*{makeQueryString(currentPageNo)}&boardIdx=${Board.boardIdx}|"
			th:if="${session.SID} eq ${Board.boardAddId}">
				<button id="removeBtn" type="submit" class="btn btn-danger">삭제</button>
			</a>
			


			<a th:href="|@{/boardList}*{makeQueryString(currentPageNo)}|">
			<button type="button" class="btn btn-primary" >게시글보기</button></a>
			
			
			<button type="button" id="btnLike" class="btn btn-info" >추천하기</button>
			
		</div>
	</div>
	
	
</th:block>
		<th:block layout:fragment="add-content">
		<div class="box-content">
			<div class="card-content">
				<div class="clearfix">
					<h4 class="box-title pull-left">Comment</h4>
					<!-- /.box-title -->
				</div>

				<form class="form-horizontal form-view">
					<div class="input-group margin-bottom-20">
						<input type="email" class="form-control" placeholder="">
						<div class="input-group-btn"><button type="button" class="btn waves-effect waves-light"><i class="fa fa-commenting" aria-hidden="true"></i></button></div>
						<!-- /.input-group-btn -->
					</div>
					<ul class="notice-list">
						<li>
							<span class="name">Betty Simmons</span>
							<span class="desc">There are new settings available</span>
							<span class="time">2019.03.26</span>
							<button type="button" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
						</li>
						<li>
							<span class="name">Betty Kim</span>
							<span class="desc">There are new settings available</span>
							<span class="time">2019.03.15</span>
							<button type="button" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
						</li>
					</ul>
				</form>
			</div>
			<!-- /.card-content -->
		</div>
		<!-- /.box-content -->
	</th:block>

</html>