<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customContent">
<form action="/user/admin/restUser" method="post">
<div class="x_panel">
	  <div class="x_title">
		<h2>휴면회원 목록</h2>
		  <div class="clearfix"></div>
		</div>  
	<div class="table-responsive m-t-20">
		<table class="table table-striped jambo_table bulk_action dataTable no-footer" id="tbRestUser">
			<thead>
				<tr>
					<th scope="col">아이디</th>
					<th scope="col">등록일자</th>
					<th scope="col">해제일자</th>
					<th scope="col">이름</th>
					<th scope="col">생년월일</th>
					<th scope="col">성별</th>
					<th scope="col">핸드폰</th>
					<th scope="col">직업</th>
					<th scope="col">등급</th>
					<th scope="col">이메일</th>
					<th scope="col">포인트</th>
					<th scope="col">삭제</th>
				</tr>
			</thead>

			<tbody>
				<tr th:if="${#lists.size(restUser) > 0}" th:each="l : ${restUser}">
					<td th:text="${l.restUserId}"></td>
					<td th:text="${l.restUserRegDate}"></td>
					<td th:text="${l.restUserEndRegDate}"></td>
					<td th:text="${l.restUserName}"></td>
					<td th:text="${l.restUserBirth}"></td>
					<td th:text="${l.restUserGender}"></td>
					<td th:text="${l.restUserPhone}"></td>
					<td th:text="${l.restUserJob}"></td>
					<td th:text="${l.restUserLevel}"></td>
					<td th:text="${l.restUserEmail}"></td>
					<td th:text="${l.restUserPoint}"></td>

					<td><a

						th:href="@{/removeUser(restUserId=${l.restUserId})}" onclick="return confirm('삭제하시겠습니까?');"><button class="btn btn-secondary btn-sm" type="button">삭제</button></a>
						

					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</form>
</th:block>
<th:block layout:fragment="customJs">

<script>
	$("#tbRestUser").DataTable({
		order: [ [ 0, "desc" ] ],
		ordering: true,
		lengthChange: false,
		"dom": 'fltip',
		"language": {
			         "info": "페이지 _PAGE_ of _PAGES_",
		        	 "paginate": {
						        	 "first": "첫페이지",
						        	 "last": "마지막",
						             "previous": "이전",
						             "next":"다음"
						           },
		        	 "sEmptyTable": "No data available in table",
		        	 "sInfoEmpty": "Showing 0 to 0 of 0 entries",
		        	 "sInfoFiltered": "(filtered from _MAX_ total entries)",
		        	 "sInfoPostFix": "",
		        	 "sLengthMenu": "Show _MENU_ 개씩",
		        	 "sSearch": "검색:",
		        	 "sSearchPlaceholder": "",
		        	 "sZeroRecords": "No matching records found"
			         }
	});
	
	</script>

</th:block>
</html>