<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.BoardMapper">

	<select id="getBoardCate" resultType="Board">
		SELECT boardCateCode, boardCateName
		FROM tbBoardCete
	</select>
	
	<sql id="searchColumn">
		<!-- 검색 키워드가 있을 때 -->
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<!-- 검색 유형이 있을 때 -->
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="'boardTitle'.equals(searchType)">
							AND boardTitle LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'boardContent'.equals(searchType)">
							AND boardContent LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'boardAddId'.equals(searchType)">
							AND boardAddId LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
					</choose>
				</when>
				<!-- 검색 유형이 없을 때 -->
				<otherwise>
					AND
						(
							   boardTitle LIKE CONCAT('%', #{searchKeyword}, '%')
							OR boardContent LIKE CONCAT('%', #{searchKeyword}, '%')
							OR boardAddId LIKE CONCAT('%', #{searchKeyword}, '%')
						)
				</otherwise>
			</choose>
		</if>
	</sql>
	
	 <select id="getBoardsList" resultType="Board" parameterType="Board">
		SELECT
			boardIdx
			,boardAddId
			,boardCateName
			,boardTitle
			,boardLikeCnt
			,boardHitCnt
			,boardAddDate
			,boardUpDate
			,boardDeclaration
			,boardBlind
		FROM
			tbBoard
				INNER JOIN 
			tbBoardCete
				on
			boardCateCode = boardCate

		ORDER BY boardIdx DESC
		LIMIT
			#{paginationInfo.firstRecordIndex}, #{recordsPerPage}
	</select> 
	
	<select id="getBoardTotalCount" parameterType="Board" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tbBoard
	
	</select>
	
	<!-- 
 	<select id="getBoardsList" resultType="Board">
		SELECT
			boardIdx
			,boardAddId
			,boardCateName
			,boardTitle
			,boardLikeCnt
			,boardHitCnt
			,boardAddDate
			,boardUpDate
			,boardDeclaration
			,boardBlind
		FROM
			tbBoard
				INNER JOIN 
			tbBoardCete
				on
			boardCateCode = boardCate
		ORDER BY boardIdx DESC;
	</select> 
	 -->
	
	<select id="getBoardsByCode" parameterType="int" resultType="Board">
		SELECT
			boardIdx
			,boardAddId
			,boardCateName
			,boardTitle
			,boardContents
			,boardLikeCnt
			,boardHitCnt
			,boardAddDate
			,boardUpDate
			,boardDeclaration
			,boardBlind
			,boardCate
		FROM
			tbBoard
				INNER JOIN 
			tbBoardCete
				on
			boardCateCode = boardCate
		WHERE
			boardIdx = #{boardIdx};	
	</select>
	
	<insert id="addPost" parameterType="Board">
		INSERT INTO tbBoard
		( boardAddId
		 ,boardCate
		 ,boardTitle
		 ,boardContents
		 ,boardAddDate
		) VALUES(
		  #{boardAddId}
		 ,#{boardCateCode}
		 ,#{boardTitle}
		 ,#{boardContents}
		 ,NOW());
	</insert>
	
	<update id="modifyPost" parameterType="Board">
		UPDATE 
			tbBoard
		SET
			boardCate = #{boardCateCode}
			,boardTitle = #{boardTitle}
			,boardContents = #{boardContents}
			,boardUpDate = NOW()
		WHERE 
			boardIdx = #{boardIdx};		
	</update>
	
	<!-- 
	<delete id="removePost" parameterType="int">
		DELETE
		FROM
			tbBoard
		WHERE
			boardIdx = #{boardIdx};
	</delete>
	 -->
	 
	 <update id="blindPost" parameterType="int">
		UPDATE tbBoard
		SET
			  boardBlind = 'Y'
		WHERE
			boardIdx = #{boardIdx};
	</update>

</mapper>