<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.CalcMapper">

	<sql id="CalcWaitColumn">
		SELECT
			 p.paymentCode
			,p.paymentRsvCode
			,p.paymentRefund
			,p.paymentUseMoney
			,p.paymentState
			,r.rsvEndDateTime
			,r.rsvState
		FROM
			tbPayment as p
		INNER JOIN
			tbRsv AS r
		ON
			p.paymentRsvCode = r.rsvCode
	</sql>
	
	<select id="getCalcWait" parameterType="int" resultType="Map">
		<include refid="CalcWaitColumn" />

	</select>
	
	<select id="getCalcWaitCount" parameterType="int" resultType="int">
		SELECT
			COUNT(p.paymentRsvCode) AS paymentNumber
		FROM
			tbPayment as p
		INNER JOIN
			tbRsv AS r
		ON
			p.paymentRsvCode = r.rsvCode
		WHERE
			p.paymentState = 'N';
	</select>
	
	<select id="getCalcWaitByTerm" parameterType="int" resultType="Map">
		<include refid="CalcWaitColumn" />
		<![CDATA[
		WHERE
			r.rsvEndDateTime >= '2020-12-28'
		AND
			r.rsvEndDateTime < '2021-01-01'
		AND
			p.paymentStatus = 'N'
		]]>
	</select>
	
</mapper>