<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.ItemMapper">

<select id="myItemCountList" resultType="Item" parameterType="String">

	SELECT 
		  itemCode
		, storeTotalCode
		, itemTotalName
		, itemTotalAmount
		, itemRentalPrice
		, itemImg
		, itemRegDate
		, itemChangeRegDate
		, itemTotalUserId
	FROM 
		tbItemTotalAmount AS i
	INNER JOIN
		tbStore AS s 
	ON
		i.storeTotalCode = s.storeCode
	WHERE
		s.storeId = #{itemTotalUserId};

</select>

<select id="myItemList" resultType="Item" parameterType="String">

	SELECT 
  	 	  storeItemCode
		, itemDetailCode
		, storeDetailCode
		, itemName
		, itemCategory
		, itemDetail
		, itemStatus
		, itemRentalStatus
		, itemImg
		, itemRegDate
		, itemChangeRegDate
		, itemDetailUserId
	FROM 
		tbItemDetail AS i
	INNER JOIN
		tbStore AS s
	ON
		i.storeDetailCode = s.storeCode
	WHERE
		s.storeId = #{itemDetailUserId};

</select>

	<!--장비구입내역 삭제 -->
	<delete id="removeitemBuy">
		DELETE
		FROM
		tbItemBuyList
		WHERE
		itemBuyCode = #{itemBuyCode}; 
	</delete>
	
	<!--장비구입내역 수정 -->
	<update id="modifyitemBuy" >
		UPDATE
		tbItemBuyList
		SET 
		  storeBuyCode = #{storeBuyCode}
		, storeBuyItemCode = #{storeBuyItemCode}
		, userBuyId	= #{userBuyId}
		, itemBuyPrice = #{itemBuyPrice}
		, itemBuyAccount = #{itemBuyAccount}
		, itemBuyPhone = #{itemBuyPhone}
		WHERE
			itemBuyCode = #{itemBuyCode};     
	</update>
	
	<!--장비구입내역 -->
	<select id = "itemBuyList" resultType="Item">
		SELECT 
			itemBuyCode
			, storeBuyCode
			, storeBuyItemCode
			, userBuyId
			, itemBuyPrice
			, itemBuyAccount
			, itemBuyPhone
			, itemBuyRegDate
		FROM
			tbItemBuyList;

	</select>
	
	<!--장비 코드로 장비 가져오기 -->
	<select id = "itemListByCode" resultType="Item">
		SELECT 
			itemBuyCode
			, storeBuyCode
			, storeBuyItemCode
			, userBuyId
			, itemBuyPrice
			, itemBuyAccount
			, itemBuyPhone
			, itemBuyRegDate
		FROM
			tbItemBuyList
		WHERE
			itemBuyCode=#{itemBuyCode}
	</select>
	
	<!-- 장비구입 등록 -->
	<insert id = "addItemBuy" parameterType="Item">
		
		INSERT INTO tbItemBuyList
			(
			 storeBuyCode
			, storeBuyItemCode
			, userBuyId
			, itemBuyPrice
			, itemBuyAccount
			, itemBuyPhone
			, itemBuyRegDate)
		VALUES 
			(
			 #{storeBuyCode}
			, #{storeBuyItemCode}
			, #{userBuyId}
			, #{itemBuyPrice}
			, #{itemBuyAccount}
			, #{itemBuyPhone}
			, #{itemBuyRegDate}	)
	</insert>

	<!--장비수리내역 삭제 -->
	<delete id="removeitemRepair">
		DELETE
		FROM
		tbItemRepair
		WHERE
		itemRepairCode = #{itemRepairCode}; 
	</delete>
	
	<!--장비수리내역 수정 -->
	<update id="modifyitemRepair" >
		UPDATE
		tbItemRepair
		SET 
		  storeRepairCode = #{storeRepairCode}
		, storeItemRepairCode = #{storeItemRepairCode}
		, userRepairId	= #{userRepairId}
		, itemRepairPrice = #{itemRepairPrice}
		, itemRepairEndDate = #{itemRepairEndDate}
		, itemRepairName = #{itemRepairName}
		, itemRepairCompany = #{itemRepairCompany}
		, itemRepairCompanyPhone = #{itemRepairCompanyPhone}
		WHERE
			itemRepairCode = #{itemRepairCode};     
	</update>
	
	<!--장비수리 코드로 장비 가져오기 -->
	<select id = "itemRepairByCode" resultType="Item">
		SELECT 
			itemRepairCode
			, storeRepairCode
			, storeItemRepairCode
			, userRepairId
			, itemRepairPrice
			, itemRepairRegDate
			, itemRepairEndDate
			, itemRepairName
			, itemRepairCompany
			, itemRepairCompanyPhone
		FROM
			tbItemRepair
		WHERE
			itemRepairCode=#{itemRepairCode}
	</select>
	
	<!--장비수리내역 -->
	<select id = "itemRepairList" resultType="Item">
		SELECT 
			itemRepairCode
			, storeRepairCode
			, storeItemRepairCode
			, userRepairId
			, itemRepairPrice
			, itemRepairRegDate
			, itemRepairEndDate
			, itemRepairName
			, itemRepairCompany
			, itemRepairCompanyPhone
		FROM
			tbItemRepair;
	</select>
	
	<!-- 장비수리 등록 -->
	<insert id = "addItemRepair" parameterType="Item">
		
		INSERT INTO tbItemRepair
			(
			 itemRepairCode
			, storeRepairCode
			, storeItemRepairCode
			, userRepairId
			, itemRepairPrice
			, itemRepairRegDate
			, itemRepairEndDate
			, itemRepairName
			, itemRepairCompany
			, itemRepairCompanyPhone)
		VALUES 
			(
			 #{itemRepairCode}
			, #{storeRepairCode}
			, #{storeItemRepairCode}
			, #{userRepairId}
			, #{itemRepairPrice}
			, #{itemRepairRegDate}
			, #{itemRepairEndDate}
			, #{itemRepairName}
			, #{itemRepairCompany}
			, #{itemRepairCompanyPhone})
	</insert>
	
	<!--장비파기내역 삭제 -->
	<delete id="removeitemDelete">
		DELETE
		FROM
		tbItemDeleteList
		WHERE
		storeDeleteCode = #{storeDeleteCode}; 
	</delete>
	
	<!--장비파기내역 수정 -->
	<update id="modifyitemDelete" >
		UPDATE
		tbItemDeleteList
		SET 
		  storeDeleteCode = #{storeDeleteCode}
		, storeItemDeleteCode = #{storeItemDeleteCode}
		, userDeleteId	= #{userDeleteId}
		, itemDeleteReason = #{itemDeleteReason}
		WHERE
			itemDeleteCode = #{itemDeleteCode};     
	</update>
	
	<!--장비파기 코드로 장비 가져오기 -->
	<select id = "itemDeleteByCode" resultType="Item">
		SELECT 
			itemDeleteCode
			, storeDeleteCode
			, storeItemDeleteCode
			, userDeleteId
			, itemDeleteReason
			, itemDeleteRegDate
		FROM
			tbItemDeleteList
		WHERE
			itemDeleteCode=#{itemDeleteCode};
	</select>
	
	<!--장비파기내역 -->
	<select id = "itemDeleteList" resultType="Item">
		SELECT 
			itemDeleteCode
			, storeDeleteCode
			, storeItemDeleteCode
			, userDeleteId
			, itemDeleteReason
			, itemDeleteRegDate
		FROM
			tbItemDeleteList;
	</select>
	
	<!-- 장비파기 등록 -->
	<insert id = "addItemDelete" parameterType="Item">
		
		INSERT INTO tbItemDeleteList
			(
			 storeDeleteCode
			, storeItemDeleteCode
			, userDeleteId
			, itemDeleteReason
			, itemDeleteRegDate)
		VALUES 
			(
			 #{storeDeleteCode}
			, #{storeItemDeleteCode}
			, #{userDeleteId}
			, #{itemDeleteReason}
			, NOW())
	</insert>


	<select id = "itemCountListByStoreCode" parameterType="int" resultType="Item">
	
	SELECT
		 itemCode
		 , storeTotalCode
		 , itemTotalName
		 , itemTotalAmount
		 , itemRentalPrice
		 , itemImg
		 , itemRegDate
		 , itemChangeRegDate
		 , itemTotalUserId
	FROM 
		tbItemTotalAmount
	WHERE
		storeTotalCode = #{storeCode}
	
	</select>
	
	<select id = "itemCountList" resultType="Item">
	
	SELECT
		 itemCode
		 , storeTotalCode
		 , itemTotalName
		 , itemTotalAmount
		 , itemRentalPrice
		 , itemImg
		 , itemRegDate
		 , itemChangeRegDate
		 , itemTotalUserId
	FROM 
		tbItemTotalAmount
	
	</select>

	<select id = "itemList" resultType="Item">
		
		SELECT 
			storeItemCode
			, itemDetailCode
			, storeDetailCode
			, itemName
			, itemDetail
			, itemStatus
			, itemRentalStatus
			, itemImg
			, itemRegDate
			, itemChangeRegDate
			, itemDetailUserId
		FROM
			tbItemDetail
		
	</select>

	<insert id = "addItem" parameterType="Item">
		
		INSERT INTO tbItemDetail
			( itemDetailCode
			, storeDetailCode
			, itemName
			, itemCategory
			, itemDetail
			, itemStatus
			, itemRentalStatus
			, itemImg
			, itemRegDate
			, itemChangeRegDate
			, itemDetailUserId)
		VALUES 
			( 200000001
			, #{storeDetailCode}
			, #{itemName}
			, #{itemCategory}
			, #{itemDetail}
			, #{itemStatus}
			, #{itemRentalStatus}
			, #{itemImg}
			, NOW()
			, NOW()
			, #{itemDetailUserId})
		
	</insert>
	
	<select id="addItmeChoice" parameterType="String" resultType="Store">
	
		SELECT 
			storeCode
			, storeId
			, storeName
			, storeRepresentative
			, storeNumber
			, storeBusinessType
			, storeAddressNumber
			, storeAddress
			, storeAddressDetail
			, storeIntroduction
			, storeRsvType
			, storeEmail
			, storePhone
			, storeAccountBankName
			, storeAccountNumber
			, storeRefundRull
			, storeImage
			, storeLevel
		FROM
			tbStore
		WHERE	
			storeId = #{storeId};
	
	</select>

</mapper>