<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.ItemMapper">

	<!--장비구입내역 -->
	<select id = "itembuyList" resultType="Item">
		SELECT 
			itemBuyCode
			, storeBuyCode
			, storeBuyItemCode
			, userBuyId
			, itemBuyPrice
			, itemBuyAccount
			, itemBuyPhone
			, itemBuyRegDate
		FROM
			tbItemBuyList;
	</select>


	<select id = "itemCountListByStoreCode" parameterType="int" resultType="Item">
	
	SELECT
		 itemCode
		 , storeTotalCode
		 , itemTotalName
		 , itemTotalAmount
		 , itemRentalPrice
		 , itemImg
		 , itemRegDate
		 , itemChangeRegDate
		 , itemTotalUserId
	FROM 
		tbItemTotalAmount
	WHERE
		storeTotalCode = #{storeCode}
	
	</select>
	
	<select id = "itemCountList" resultType="Item">
	
	SELECT
		 itemCode
		 , storeTotalCode
		 , itemTotalName
		 , itemTotalAmount
		 , itemRentalPrice
		 , itemImg
		 , itemRegDate
		 , itemChangeRegDate
		 , itemTotalUserId
	FROM 
		tbItemTotalAmount
	
	</select>

	<select id = "itemList" resultType="Item">
		
		SELECT 
			storeItemCode
			, itemDetailCode
			, storeDetailCode
			, itemName
			, itemDetail
			, itemStatus
			, itemRentalStatus
			, itemImg
			, itemRegDate
			, itemChangeRegDate
			, itemDetailUserId
		FROM
			tbItemDetail
		
	</select>

	<insert id = "addItem" parameterType="Item">
		
		INSERT INTO tbItemDetail
			(storeItemCode
			, itemDetailCode
			, storeDetailCode
			, itemName
			, itemCategory
			, itemDetail
			, itemStatus
			, itemRentalStatus
			, itemImg
			, itemRegDate
			, itemChangeRegDate
			, itemDetailUserId)
		VALUES 
			(NULL
			, #{itemDetailCode}
			, 5
			, #{itemName}
			, #{itemCategory}
			, #{itemDetail}
			, #{itemStatus}
			, #{itemRentalStatus}
			, #{itemImg}
			, NOW()
			, NOW()
			, 'id001')
		
	</insert>

</mapper>