<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.refundMapper">
	
	<!-- <select id="">
		SELECT 
			refundPolicyCode
			, refundPolicyStoreCode
			, remainingDay
			, refundPercent
			, refundPolicyUserId
			, refundPolicyRegDate
		FROM 
			tbRefundPolicy
		WHERE
		refundPolicyStoreCode = ''
	</select>
	
	<select id="">
		SELECT 
			storeCode
			, storeId
			, storeName
			, storeRepresentative
			, storeNumber
			, storeBusinessType
			, storeAddress
			, storeIntroduction
			, storeEmail
			, storePhone
			, storeAccountNumber
			, storePaymentMethod
			, storeImage
			, storeLevel
			, storeRegDate
		FROM 
			tbStore
		WHERE 
			storeCode = #{storeCode}; -->
	</select>
</mapper>