<?xml version="1.0" encoding="UTF-8"?>	
<!DOCTYPE mapper	
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">	
<mapper namespace="com.urban.spatium.mapper.RefundMapper">	
	<resultMap type="CancelRsv" id="resultMapCancel">
		<result column="cancelCode" 		property="cancelCode"/>
		<result column="cancelRsvCode" 	property="cancelRsvCode"/>
		<result column="cancelRegDate" 		property="cancelRegDate"/>
		<result column="cancelState" 	property="cancelState"/>
		<result column="cancelReason" 	property="cancelReason"/>
		<result column="cancelPrice" 	property="cancelPrice"/>
		<result column="refundPolicyCode" 	property="refundPolicyCode"/>
	</resultMap>
	
	<select id="refundSelect" resultMap="resultMapCancel">
	SELECT 
		cancelCode
		, cancelRsvCode
		, cancelUserId
		, cancelRegDate
		, cancelState
		, cancelReason
		, cancelPrice
		, cancelRefundPolicyCode
	FROM 
		tbCancelRsv
	</select>
	
	<update id="refundRsv" parameterType="Rsv">
	UPDATE 
		tbRsv
	SET
		rsvState= #{rsvState}
	WHERE 
		rsvCode = #{rsvCode}
	</update>
	
	<update id="refundPayment" parameterType="Payment">
		UPDATE 
			tbPayment
		SET
			paymentRefund=#{paymentRefund}
		WHERE 
			paymentRsvCode=#{paymentRsvCode}
	</update>
	
	
	<insert id="refundAddPoint" parameterType="Point">
	INSERT INTO tbPointList
		(
		 pointID
		, pointAddList
		, pointSellList
		, pointList
		, pointPaymentCode
		, pointModyfiDate
		)
		VALUES 
		(
		#{pointID}
		, #{pointAddList}
		, #{pointSellList}
		, #{pointList}
		, #{pointPaymentCode}
		, NOW()
		)
	</insert>
	
	
	
	<insert id="cancelRefund" parameterType="CancelRsv" >
	INSERT INTO tbCancelRsv
		(
		cancelRsvCode
		, cancelUserId
		, cancelState
		, cancelReason
		, cancelPrice
		, cancelRefundPolicyCode
		, cancelRegDate
		
		)
	VALUES 
	(	
		#{cancelRsvCode}
		, #{cancelUserId}
		, #{cancelState}
		, #{cancelReason}
		, #{cancelPrice}
		, #{cancelRefundPolicyCode}
		, NOW()
		
	)
	</insert>
	
	<insert id="" parameterType="Store">	
	INSERT INTO tbRefundPolicyRelation
		(
		, tbRefundPolicyRelationStoreCode
		, tbRefundPolicyRelationRefundPolicyCode)
	VALUES (
	
	, #{storeCode}
	, #{refundPolicyCode}
	)
	</insert>
	
	<insert id="addRefundPolicy" parameterType="Store">	
     INSERT INTO tbRefundPolicy	
		( refundPolicyStoreCode	
		, remainingDay	
		, refundPercent	
		, refundPolicyUserId	
		, refundPolicyRegDate)	
      VALUES	
       (	
        #{storeCode}	
      , #{remainingDays}	
      , #{refundPercents}	
      , #{storeId}	
      , NOW()	
      )	
   </insert>	
   <select id="getRefundPolicy" parameterType="int" resultType="RefundPolicy">
   		SELECT 
			refundPolicyCode
			, refundPolicyStoreCode
			, remainingDay
			, refundPercent
			, refundPolicyUserId
		FROM tbRefundPolicy
			WHERE refundPolicyStoreCode = #{storeCode}
		ORDER BY remainingDay DESC;
   </select>	

</mapper> 