<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.ReviewMapper">

	<sql id="seletReviewColumn">
		SELECT 
			reviewCode, 
			reviewSpaceRsv, 
			reviewSpaceCode, 
			reviewStoreId,
			reviewTitle, 
			reviewContents, 
			reviewAddId, 
			reviewAddDate, 
			reviewUpDate, 
			reviewLikeCnt, 
			reviewType, 
			reviewPoint,
			reviewDisplay, 
			reviewClean, 
			reviewService, 
			reviewRestroom, 
			reviewFacility, 
			reviewAmbience, 
			reviewScore
	</sql>
	
	<select id="getStoreReview" resultType="map">
		<include refid="seletReviewColumn" />
		FROM 
			tbReview
		ORDER BY reviewCode DESC
		LIMIT #{startRow}, #{rowPerPage};
	</select>
	
	<select id="getStoreReviewCount" resultType="int">
		SELECT
			count(*)
		FROM
			viewStore
		WHERE
		 storeId = #{sessionId}	;
	</select>
	
	<select id="getAllReviewCount" resultType="int">
		SELECT
			count(*)
		FROM
			tbReview;
	</select>
	
	<update id="blindReview" parameterType="String">
		UPDATE tbReview
		SET
			reviewDisplay = #{blindValue}
		WHERE
			reviewCode = #{reviewCode};
	</update>
	
	<delete id="deleteReview" parameterType="String">
		DELETE
		FROM
			tbReview
		WHERE
			reviewCode = #{reviewCode};
	</delete>

	<select id="searchReview" parameterType="String" resultType="Review">
		<include refid="seletReviewColumn" />	
		FROM 
			tbReview
		WHERE
			<if test="searchKey != null and searchKey neq ''.toString()">
				${searchKey} LIKE CONCAT('%', #{searchValue} , '%')
			</if>
		ORDER BY reviewCode DESC;
	</select>
	
	<select id="getAllReview" resultType="map">
		<include refid="seletReviewColumn" />
		FROM 
			tbReview
		ORDER BY reviewCode DESC
		LIMIT #{startRow}, #{rowPerPage};
	</select>
	
	
</mapper>