<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.ReviewMapper">

	<sql id="seletReviewColumn">
		SELECT 
			reviewCode, 
			reviewSpaceRsv, 
			reviewSpaceCode, 
			reviewStoreId,
			reviewTitle, 
			reviewContents, 
			reviewAddId, 
			reviewAddDate, 
			reviewUpDate, 
			reviewLikeCnt, 
			reviewType, 
			reviewPoint,
			reviewDisplay, 
			reviewClean, 
			reviewService, 
			reviewRestroom, 
			reviewFacility, 
			reviewAmbience, 
			reviewScore
	</sql>
	
	<insert id="insertReview" parameterType="String">
		INSERT INTO tbReview
			( reviewSpaceRsv
			, reviewSpaceCode
			, reviewStoreId
			, reviewStoreCode
			, reviewTitle
			, reviewContents
			, reviewAddId
			, reviewAddDate
			, reviewUpDate
			, reviewType
			, reviewPoint
			, reviewDisplay
			, reviewClean
			, reviewService
			, reviewRestroom
			, reviewFacility
			, reviewAmbience, reviewScore, reviewPhoto)
			VALUES
			(0, 0, '', 0, '', '', '', NOW(), NOW(), 0, 0, 0, 'Y', 0, 0, 0, 0, 0, 0, '')
	</insert>
	
	<select id="getStore" parameterType="int" resultType="String">
		select
	
	</select>
	
	<select id="getReviewByStoreCode" parameterType="int" resultType="Review">
		<include refid="seletReviewColumn" />
		FROM
			tbReview
		WHERE reviewStoreCode = #{storeCode}
		ORDER BY reviewCode DESC
			
	</select>
	
	<select id="exallReview" resultType="Review">
		<include refid="seletReviewColumn" />
		FROM 
			tbReview
		ORDER BY reviewCode DESC
		LIMIT #{startRow}, #{rowPerPage};
	</select>
	
	<select id="getStoreReview" resultType="map">
		<include refid="seletReviewColumn" />
		FROM 
			tbReview
		WHERE
			reviewStoreId = #{sessionId}
		ORDER BY reviewCode DESC
		LIMIT #{startRow}, #{rowPerPage};
	</select>
	
	<select id="getStoreReviewCount" resultType="int">
		SELECT
			count(*)
		FROM
			tbReview
		WHERE
		 reviewStoreId = #{sessionId}	;
	</select>
	
	<select id="getAllReviewCount" resultType="int">
		SELECT
			count(*)
		FROM
			tbReview;
	</select>
	
	<update id="blindReview" parameterType="String">
		UPDATE tbReview
		SET
			reviewDisplay = #{blindValue}
		WHERE
			reviewCode = #{reviewCode};
	</update>
	
	<delete id="deleteReview" parameterType="String">
		DELETE
		FROM
			tbReview
		WHERE
			reviewCode = #{reviewCode};
	</delete>

	<select id="searchReview" parameterType="String" resultType="map">
		<include refid="seletReviewColumn" />
		FROM 
			tbReview
		WHERE
			<if test="searchKey != null and searchKey neq ''.toString()">
				${searchKey} LIKE CONCAT('%', #{searchValue} , '%')
			</if>
		ORDER BY reviewCode DESC
		LIMIT #{startRow}, 1000;
	</select>
	
	<select id="searchReviewUnit" parameterType="String" resultType="Review">
		<include refid="seletReviewColumn" />	
		FROM 
			tbReview
		WHERE
			<if test="searchKey != null and searchKey neq ''.toString()">
				${searchKey} LIKE CONCAT('%', #{searchValue} , '%')
			</if>
		ORDER BY reviewCode DESC
		LIMIT #{startRow}, 1000;
	</select>
	
	<select id="getAllReview" resultType="map">
		<include refid="seletReviewColumn" />
		FROM 
			tbReview
		ORDER BY reviewCode DESC
	</select>
	
	<select id="getRsv" parameterType="String" resultType="Rsv">
		SELECT 
			storeName
			, rsvCode
			, rsvUserId
			, rsvUserName
			, rsvUserPhone
			, rsvUserEmail
			, rsvUserRequest
			, rsvTotalPrice
			, rsvStartDateTime
			, rsvEndDateTime
			, rsvRegDate
			, rsvState
		FROM 
			tbRsv
		INNER JOIN 
			tbStore
		ON 
			rsvStoreCode = storeCode
		WHERE
			rsvCode = #{rsvCode}
	</select>
	
	
</mapper>