<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.RsvMapper">
	
	<update id="updateRsvPrice">
		UPDATE tbRsv
		SET
			rsvTotalPrice=#{totalPrice}
		WHERE 
			rsvCode=#{rsvCode}
	</update>
	
	<insert id="insertTbRsvRelation">	
		INSERT INTO tbRsvRelation
			(rsvRelationRsvCode
			, rsvRelationRsvDetailCode)
		VALUES 
			( #{rsvCode}
			, #{itemRsvCode})
	</insert>
	
	
	<insert id="insertRsvItemDetail" parameterType="Map" useGeneratedKeys="true" keyProperty="rsvDetailCode">	
		INSERT INTO tbRsvDetail
			(rsvDetailItem
			, rsvDetailNum
			, rsvDetailOnePrice
			, rsvDetailTotalPrice)
		VALUES 
			(#{itemCode}
			, #{itemCount}
			, #{itemRentalPrice}
			, #{itemTotalPrice})
	</insert>
		
	<insert id="insertRsvSpaceDetail" parameterType="Map" useGeneratedKeys="true" keyProperty="rsvDetailCode">
		INSERT INTO tbRsvDetail
			(rsvDetailSpace
			, rsvDetailOnePrice
			, rsvDetailTotalPrice)
		VALUES 
			(#{spaceCode}
			, #{spaceRentalPrice}
			, #{spaceRentalPrice})
	</insert>	
		
	<select id="getItemByCode" parameterType="int" resultType="Item">
		SELECT 
			  itemCode
			, storeTotalCode
			, itemTotalName
			, itemTotalAmount
			, itemRentalAmount
			, itemRentalPrice
			, itemRentalDeposit
			, itemImg
			, itemRegDate
			, itemChangeRegDate
			, itemTotalUserId
		FROM 
			tbItemTotalAmount
		WHERE
			itemCode = #{tbRecord}
	</select>
		
	<select id="getSpaceByCode" parameterType="int" resultType="OKSpace">
		SELECT 
			okaySpaceCode
			, okayStoreCode
			, okaySpaceName
			, okaySpaceType
			, okayPeopleNumber
			, okayDetailSpace
			, okayBriefSpace
			, okaySpaceTag
			, okaySpaceRentalPrice
			, okayStartTime
			, okayCloseTime
			, okaySpaceRsvType
			, okayExceptionStartDate
			, okayExceptionEndDate
			, okayCompletedDate
			, okaySpaceBasicOption
			, okaySpaceId
			, okayRefundPolicyCode
		FROM 
			tbOkaySpace
		WHERE
			okaySpaceCode = #{tbRecord}
	</select>
	
	<select id="getItemByStore" parameterType="int" resultType="Item">
		SELECT 
			  itemCode
			, storeTotalCode
			, itemTotalName
			, itemTotalAmount
			, itemRentalAmount
			, itemRentalPrice
			, itemRentalDeposit
			, itemImg
			, itemRegDate
			, itemChangeRegDate
			, itemTotalUserId
		FROM 
			tbItemTotalAmount
		WHERE 
			storeTotalCode = #{storeCode}
		
	</select>
		
	<select id="getSpaceByStore" parameterType="int" resultType="OKSpace">
		SELECT 
			  okaySpaceCode
			, okayStoreCode
			, okaySpaceName
			, okaySpaceType
			, okayPeopleNumber
			, okayDetailSpace
			, okayBriefSpace
			, okaySpaceTag
			, okaySpaceRentalPrice
			, okayStartTime
			, okayCloseTime
			, okaySpaceRsvType
			, okayExceptionStartDate
			, okayExceptionEndDate
			, okayCompletedDate
			, okaySpaceBasicOption
			, okaySpaceId
			, okayRefundPolicyCode
			, spaceCateName
		FROM 
			tbOkaySpace AS s
		INNER JOIN
			tbSpaceCate AS c
		ON
			s.okaySpaceType = c.spaceCateCode
		WHERE
			okayStoreCode = #{storeCode}
	</select>
	
	<select id="rsvDetailList" resultType="Rsv">
		SELECT 
			rsvCode
			, rsvDetailNum
			, rsvDetailOnePrice
			, rsvDetailTotalPrice
			, okaySpaceName
			, itemTotalName
			, rsvUserName
			, rsvTime
			, rsvTimePrice
			, rsvDetailCode
		FROM 
			viewRsv
	</select>
		
	<select id="rsvListExtend" resultType="Rsv">
		SELECT 
			rsvDetailCode
			, rsvDetailNum
			, rsvDetailOnePrice
			, rsvDetailTotalPrice
			, okaySpaceName
			, itemTotalName
			, rsvTime
			, rsvUserName
			, rsvTimePrice
			, rsvDetailCode
		FROM 
			viewRsv
		WHERE 
			rsvCode = #{rsvCode};
	</select>	
		
	<select id="rsvList" resultType="Rsv">
		SELECT 
			  rsvCode
			, rsvUserId
			, rsvUserName
			, rsvUserPhone
			, rsvUserEmail
			, rsvUserRequest
			, rsvTotalPrice
			, rsvStartDateTime
			, rsvEndDateTime
			, rsvRegDate
			, rsvState
		FROM 
			tbRsv
	</select>
	
	<insert id="insertTbRsv" parameterType="Rsv" useGeneratedKeys="true" keyProperty="rsvCode">
		INSERT INTO tbRsv(
			  rsvUserId
			, rsvUserName
			, rsvUserPhone
			, rsvUserEmail
			, rsvUserRequest
			, rsvTotalPrice
			, rsvStartDateTime
			, rsvEndDateTime
			, rsvRegDate
		)VALUES(
			  #{rsvUserId}
			, #{rsvUserName}
			, #{rsvUserPhone}
			, #{rsvUserEmail}
			, #{rsvUserRequest}
			, #{rsvTotalPrice}
			, #{rsvStartDateTime}
			, #{rsvEndDateTime}
			, NOW()
		);
	</insert>
	
	
</mapper>