<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.RsvMapper">
		
	
	<select id="getItemByStore" resultType="item">
	
	</select>
		
	<select id="getSpaceByStore" resultType="okaySpace">
	
	</select>
	
	<select id="rsvDetailList" resultType="Rsv">
	SELECT 
		rsvDetailCode
		, rsvDetailSpace
		, rsvDetailSeat
		, rsvDetailItem
		, rsvDetailNum
		, rsvDetailOnePrice
		, rsvDetailTotalPrice
	FROM 
		tbRsvDetail
	</select>
		
	<select id="rsvList" resultType="Rsv">
		SELECT 
			  rsvCode
			, rsvUserId
			, rsvUserName
			, rsvUserPhone
			, rsvUserEmail
			, rsvUserRequest
			, rsvTotalPrice
			, rsvStartDateTime
			, rsvEndDateTime
			, rsvRegDate
			, rsvState
		FROM 
			tbRsv
	</select>
	
	<insert id="insertTbRsv" parameterType="Rsv">
		INSERT INTO tbRsv(
			  rsvUserId
			, rsvUserName
			, rsvUserPhone
			, rsvUserEmail
			, rsvUserRequest
			, rsvTotalPrice
			, rsvStartDateTime
			, rsvEndDateTime
			, rsvRegDate
		)VALUES(
			  #{rsvUserId}
			, #{rsvUserName}
			, #{rsvUserPhone}
			, #{rsvUserEmail}
			, #{rsvUserRequest}
			, #{rsvTotalPrice}
			, #{rsvStartDateTime}
			, #{rsvEndDateTime}
			, NOW()
		);
	</insert>
	
	
</mapper>