<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.StoreMapper">

<update id="updateStoreSet" parameterType="Store">

	UPDATE tbStore
	SET
		storeId=#{storeId},
		storeName=#{storeName},
		storeRepresentative=#{storeRepresentative},
		storeNumber=#{storeNumber},
		storeBusinessType=#{storeBusinessType},
		storeAddress=#{storeAddress},
		storeIntroduction=#{storeIntroduction},
		storeEmail=#{storeEmail},
		storePhone=#{storePhone},
		storeAccountNumber=#{storeAccountNumber},
		storeRefundRull=#{storeRefundRull},
		storeImage=#{storeImage},
		storeLevel=#{storeLevel},
		storeRegDate=#{storeRegDate}
	WHERE 
		storeCode=#{storeCode};
	
</update>

<select id = "updateStore" resultType="Store">

	SELECT 
		storeCode
		, storeId
		, storeName
		, storeRepresentative
		, storeNumber
		, storeBusinessType
		, storeAddress
		, storeIntroduction
		, storeEmail
		, storePhone
		, storeAccountNumber
		, storeRefundRull
		, storeImage
		, storeLevel
		, storeRegDate
	FROM 
		tbStore
	WHERE
		storeCode = #{storeCode};

</select>

<insert id="addStoreRelation" parameterType="int">
	
	INSERT INTO tbSpaceRelation
		(spaceRelationCode
		, spaceRelationStoreCode
		, spaceRelationCateCode)
	VALUES
		<foreach collection="array" item = "array" separator=",">
		
		(null, #{spaceRelationStoreCode}, #{array.})
		
		</foreach>
</insert>

<insert id="addStore" parameterType="Store" useGeneratedKeys="true" keyProperty="storeCode">

	INSERT INTO tbStore 
		(storeCode
		, storeId
		, storeName
		, storeRepresentative
		, storeNumber
		, storeBusinessType
		, storeAddress
		, storeIntroduction
		, storeEmail
		, storePhone
		, storeAccountNumber
		, storeRefundRull
		, storeImage
		, storeLevel
		, storeRegDate)
	VALUES 
		(NULL
		, #{storeId}
		, #{storeName}
		, #{storeRepresentative}
		, #{storeNumber}
		, #{storeBusinessType}
		, #{storeAddress}
		, #{storeIntroduction}
		, #{storeEmail}
		, #{storePhone}
		, #{storeAccountNumber}
		, #{storeRefundRull}
		, #{storeImage}
		, 1
		, NOW())
		
</insert>

<select id= "getByStoreCateCode" parameterType= "int" resultType= "Store">
	
	SELECT
			s.storeCode
		,	r.spaceRelationCode
		, 	c.spaceCateCode
		,	c.spaceCateName
	FROM
		tbSpaceRelation AS r
	INNER JOIN
		tbSpaceCate AS c
	ON
		r.spaceRelationCateCode = c.spaceCateCode
	INNER JOIN
		tbStore AS s
	ON
		s.storeCode = r.spaceRelationStoreCode
	WHERE
		s.storeCode = #{storeCode};
		
</select>

<select id = "storeList" resultType="Store">

	SELECT 
		storeCode
		, storeId
		, storeName
		, storeRepresentative
		, storeNumber
		, storeBusinessType
		, storeAddress
		, storeIntroduction
		, storeEmail
		, storePhone
		, storeAccountNumber
		, storeRefundRull
		, storeImage
		, storeLevel
	FROM
		tbStore;
		
</select>

</mapper>