<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.StoreMapper">

<select id="mainSearchAll" resultType="Store" parameterType="String">

	SELECT DISTINCT
		  storeCode
		, storeId
		, storeName
		, storeRepresentative
		, storeNumber
		, storeBusinessType
		, storeAddressNumber
		, storeAddress
		, storeAddressDetail
		, storeIntroduction
		, storeRsvType
		, storeEmail
		, storePhone
		, storeAccountBankName
		, storeAccountNumber
		, storeRefundRull
		, storeImage
		, storeLevel
		, storeRegDate
	FROM 
		tbStore AS s
	INNER JOIN
		tbOkaySpace AS o
	ON 
		s.storeCode = o.okayStoreCode
	WHERE
		s.storeName LIKE CONCAT('%',#{searchName},'%')
	OR
		s.storeBusinessType LIKE CONCAT('%',#{searchName},'%')
	OR
		o.okaySpaceTag LIKE CONCAT('%',#{searchName},'%')

</select>

<update id="updateStoreSet" parameterType="Store">

	UPDATE tbStore
	SET
		storeId=#{storeId},
		storeName=#{storeName},
		storeRepresentative=#{storeRepresentative},
		storeNumber=#{storeNumber},
		storeBusinessType=#{storeBusinessType},
		storeAddressNumber=#{storeAddressNumber},
		storeAddress=#{storeAddress},
		storeAddressDetail=#{storeAddressDetail},
		storeIntroduction=#{storeIntroduction},
		storeRsvType=#{storeRsvType},
		storeEmail=#{storeEmail},
		storePhone=#{storePhone},
		storeAccountBankName=#{storeAccountBankName},
		storeAccountNumber=#{storeAccountNumber},
		storeRefundRull=#{storeRefundRull},
		storeImage=#{storeImage},
		storeLevel=#{storeLevel},
		storeRegDate=#{storeRegDate}
	WHERE 
		storeCode=#{storeCode};
	
</update>

<select id = "getRefundRuleByStoreCode" parameterType="int" resultType="Map">

	SELECT 
		  remainingDay
		, refundPercent
	FROM 
		tbRefundPolicy
	WHERE 
		refundPolicyStoreCode = #{storeCode};

</select>

<select id = "getStoreInfoByStoreCode" resultType="Store">

	SELECT 
		storeCode
		, storeId
		, storeName
		, storeRepresentative
		, storeNumber
		, storeBusinessType
		, storeAddressNumber
		, storeAddress
		, storeAddressDetail
		, storeIntroduction
		, storeRsvType
		, storeEmail
		, storePhone
		, storeAccountBankName
		, storeAccountNumber
		, storeRefundRull
		, storeImage
		, storeLevel
		, storeRegDate
	FROM 
		tbStore
	WHERE
		storeCode = #{storeCode};

</select>

<insert id="addStoreRelation" parameterType="java.util.Map">
	
	INSERT INTO tbSpaceRelation
		(spaceRelationStoreCode
		, spaceRelationCateCode)
	VALUES
		<foreach collection= "storeMap" item = "i" separator=",">
		(#{i.code}, #{i.cateNumber})
		</foreach>
</insert>

<insert id="addStore" parameterType="Store" useGeneratedKeys="true" keyProperty="storeCode">

	INSERT INTO tbStore 
		( storeId
		, storeName
		, storeRepresentative
		, storeNumber
		, storeBusinessType
		, storeAddressNumber
		, storeAddress
		, storeAddressDetail
		, storeIntroduction
		, storeRsvType
		, storeEmail
		, storePhone
		, storeAccountBankName
		, storeAccountNumber
		, storeRefundRull
		, storeImage
		, storeLevel
		, storeRegDate)
	VALUES 
		( #{storeId}
		, #{storeName}
		, #{storeRepresentative}
		, #{storeNumber}
		, #{storeBusinessType}
		, #{storeAddressNumber}
		, #{storeAddress}
		, #{storeAddressDetail}
		, #{storeIntroduction}
		, #{storeRsvType}
		, #{storeEmail}
		, #{storePhone}
		, #{storeAccountBankName}
		, #{storeAccountNumber}
		, #{storeRefundRull}
		, #{storeImage}
		, 1
		, NOW())
		
</insert>

<select id = "storeList" resultType="Store">

	SELECT 
		storeCode
		, storeId
		, storeName
		, storeRepresentative
		, storeNumber
		, storeBusinessType
		, storeAddressNumber
		, storeAddress
		, storeAddressDetail
		, storeIntroduction
		, storeRsvType
		, storeEmail
		, storePhone
		, storeAccountBankName
		, storeAccountNumber
		, storeRefundRull
		, storeImage
		, storeLevel
	FROM
		tbStore;
		
</select>

</mapper>