<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.spatium.mapper.UserMapper">
	<!--구매자 포인트  -->
	<select id="pointList" resultType="User">
		SELECT
		 addPointCode
		, addPointType
		,addPoint
		FROM
			tbPoint;    
	</select>
  
<!--관리자 포인트  -->
	<select id="sPointList" resultType="User">
		SELECT
		 pointCode
		, pointID
		,pointAddList
		,pointSellList
		,pointList
		,pointPaymentCode
		,reviewCodepointReviewCode
		,pointModyfiDate
		FROM
			tbPointList;
	</select>
	
	
	<!--불량회원 리스트 -->
	<select id="blackUser" resultType="User">
		SELECT
		 blackUserId
		, blackReason
		, blackStartDate
		, blackEndDate
		FROM
			tbBlackConsumer;
	</select>
	
	<!--탈퇴회원 리스트 -->
	<select id="deleteUser" resultType="User">
		SELECT
		 deleteUserId
		, deleteReason
		, deleteCate
		, deleteUserPw
		, deleteUserName
		, deleteUserBirth
		, deleteUserGender
		, deleteUserPhone
		, deleteUserJob
		, deleteUserLevel
		, deleteUserEmail
		, deleteUserRegDate
		, deleteUserPoint
		FROM
			tbDeleteUser;
	</select>
	
	<!--탈퇴회원 등록  -->
	<insert id="addDeleteUser">
		INSERT INTO tbUser
		(deleteUserId, deleteReason, deleteCate, deleteUserPw, deleteUserName, deleteUserBirth, deleteUserGender, deleteUserPhone, deleteUserJob, deleteUserLevel, deleteUserEmail, deleteUserRegDate, deleteUserPoint)
		VALUES (
		#{deleteUserId}
		,#{deleteCate}
		,#{deleteUserPw}
		,#{deleteUserName}
		,#{deleteUserBirth}
		,#{deleteUserGender}
		,#{deleteUserPhone}
		,#{deleteUserJob}
		,#{deleteUserLevel}
		,#{deleteUserEmail}
		,#{deleteUserJob};
		,NOW()
		,#{deleteUserPoint});
	</insert>
	
	<!--회원탈퇴 -->
	<delete id="removeMyinfo">
		DELETE
		FROM
		tbUser
		WHERE
		userId=#{userId}; 
	</delete>

	<!--마이페이지 수정 -->
	<update id="modifyMyinfo" >
		UPDATE
		tbUser
		SET 
		  userPw = #{userPw}
		, userName = #{userName}
		, userBirth	= #{userBirth}
		, userGender = #{userGender}
		, userPhone = #{userPhone}
		, userJob = #{userJob}
		, userEmail = #{userEmail}
		WHERE
			userId = #{userId};     
	</update>
	
	<!--회원삭제 -->
	<update id="removeUser">
		UPDATE
		tbUser
		SET
		  userPw = '(탈퇴)'
		, userName = '(탈퇴)'
		, userBirth	= '(탈퇴)'
		, userGender = '(탈퇴)'
		, userPhone = '(탈퇴)'
		, userJob = '(탈퇴)'
		, userLevel = '5'
		, userEmail = '(탈퇴)'
		, userPoint = '(탈퇴)'
		WHERE
		userId=#{userId}; 
	</update>

	<!--회원수정 -->
	<update id="modifyUser" >
		UPDATE
		tbUser
		SET 
		  userPw = #{userPw}
		, userName = #{userName}
		, userBirth	= #{userBirth}
		, userGender = #{userGender}
		, userPhone = #{userPhone}
		, userJob = #{userJob}
		, userEmail = #{userEmail}
		WHERE
			userId = #{userId};     
	</update>

	<!--회원리스트 -->
	<select id="getUserList" resultType="User">
		SELECT
		  userId
		, userPw
		, userName
		, userBirth
		, userGender
		, userPhone
		, userJob
		, userEmail
		, userRegDate
		, userPoint
		, userGrade
		FROM
			viewUser;
	</select>
	<!-- SELECT userId , userPw , userName , userBirth , userGender , userPhone 
		, userJob , userEmail , userRegDate , userPoint FROM tbUser AS u INNER JOIN 
		tbUserLevel AS l ON u.userLevel=l.userLevelCode; -->


	<!--비밀번호 변경 -->
	<!-- <update id="updatePw" parameterType="User">
		UPDATE
		tbUser
		SET
		userPw = #{userPw} 
		WHERE
		userId = #{userId}
	</update> -->


	<!--로그인 -->
	<select id="getUserById" parameterType="String" resultType="User">
		SELECT
		*
		FROM
		tbUser
		WHERE
		userId = #{userId};
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findIdform" resultType="User">
		SELECT
		userId
		FROM 
		tbUser
		WHERE
		userName = #{userName} AND userEmail = #{userEmail};
	</select>
	
	<!--비밀번호 찾기  -->
	<!-- <select id="findPw" resultType="String"> 
	SELECT 
	userPw 
	FROM 
	tbUser 
	WHERE 
	userId = #{userId} AND userEmail = #{userEmail};
	</select>
 -->

	
	<!-- 아이디 중복 체크 -->
	<select id="idChk" resultType="int">
		SELECT
		COUNT(*)
		FROM
		tbUser
		WHERE
		userId = #{userId};
	</select>

	<!--회원가입 -->
	<insert id="addUser">
		INSERT INTO tbUser
		(userId, userPw, userName, userBirth, userGender, userPhone, userJob, userLevel, userGrade, userEmail,	userRegDate)
		VALUES (
		#{userId}
		,#{userPw}
		,#{userName}
		,#{userBirth}
		,#{userGender}
		,#{userPhone}
		,#{userJob}
		,#{userLevel}
		,#{userGrade}
		,#{userEmail}
		,NOW());
	</insert>
</mapper>