<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Begin Footer -->
<footer id="footer" th:fragment="footerFragment">

	<div class="inner">
		<img src="imges/B-logo.gif" alt="logo" class="footer-logo " />

		<ul class="actions">
			<li>본 사이트는 한국스마트정보교육원 개발자 37기 Null사랑하지않아 팀에서 제작한 포트폴리오 입니다. <br>
			입사지원제안 대표번호 : 한국 스마트정보 교육원 063-717-1008(평일 오전 9시 ~ 오후 5시 30분)<br>
			온라인 : 개별 메일<br></li>
				
			<li>최광현 : atomkh1@naver.com   |   김채현 : panda7je@naver.com   |   김아영 : 0121a-young@hanmail.net   |
			   송하영 : merrycoral@gmail.com  |   이태영 : 014057@naver.com   |   유   선 :  dbtjsdn97@naver.com</li>


			</li>
		</ul>
	</div>
	<div class="copyright">
		* 공간에 대한 문의사항은 해당 공간 호스트에게 직접 문의해주세요. 스파티움 공간공유 플랫폼은 통신판매중개자이며 통신판매의 당사자가 아닙니다. <br>
		따라서 스파티움 공간공유 플랫폼은 공간 거래정보 및 거래에 대해 책임지지 않습니다.
		
		
	</div>
	
	<img src="imges/null-logo.gif" alt="logo" class="footer-null-logo " />

</footer>
<!-- End Footer -->
</html>

