<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Begin header -->
<header id="header" th:fragment="headerFragment">
	<nav class="navbar navbar-fixed-top">

		<div class="container">
			<div class="  col-md-3">
				<img src="imges/B-logo.gif" alt="logo" class="logo " />
			</div>


			<div class="col-md-6 navbar-form serch">
				<input class="serch_bar" placeholder="검색"></input>
				<button class="serch_btn">검색</button>


			</div>


			<div class="login col-md-1 navbar-right">
				<div class="login-btn">
					<a th:href="@{/admin}" >관리자 화면(임시)</a>
					<a th:href="@{/login}" th:if="${session.SID == null}" class="link">로그인</a> 
					<a th:href="@{/logout}" th:unless="${session.SID == null}" class="link">07로그아웃</a>
					<a th:href="@{/addUser}" th:if="${session.SID == null}" class="link">회원가입</a> 
					
					<br> <br>
					<div style="text-align: right;">
						<label th:unless="${session.SID == null}"
							th:text="${'id: ' + session.SID + ' ' + session.SNAME + '님이  로그인하셨습니다.'}"></label>
					</div>

				</div>
			</div>
		</div>
	</nav>

</header>
<!-- end header -->
</html>