<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="headFragment">
<meta charset="UTF-8">
	<script src="js/jquery-3.5.1.min.js"></script>
	<script src="js/commonAjax.js"></script>
	<script src="js/main.js"></script>
	<!-- 화면 title -->
	<th:block layout:fragment="customTitle"></th:block>
	
	<!-- 외부 스타일 -->
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css" />

	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss"></th:block>

	<script type="text/javascript">
		$( document ).ready( function() {
			const nav = document.querySelector('nav');
		    const navTopOffset = nav.offsetTop;
		    $(document).scroll(function(){
		      // nav를 상단에 고정. (브라우저 상단의 차이가 nav와 브라우저 상단의 차이보다 클 경우)
		      if (window.pageYOffset >= navTopOffset) { 
		        nav.classList.add('backColor');
		      } else {
		        nav.classList.remove('backColor');
		      }
		    	
		    });
		    /* window.addEventListener('scroll', function(e){
		    }); */
		});
	</script>

	<!-- 사용자 정의 js -->
	<th:block layout:fragment="customJs"></th:block>
	
	
</head>
</html>