<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/maindefault}">

<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customContent">
	<div class="col-md-12 col-sm-12 col-lg-8 col-offset-lg-2">
		<h1>내가 작성한 리뷰 조회 </h1>
		<table class="table table-striped table-hover table-hover">
			<thead>
				<tr class="headings">
					<th><input type="checkbox" id="check-all" class="flat">
					</th>
					<th class="column-title">리뷰 코드</th>
					<th class="column-title">예약 코드</th>
					<th class="column-title">방 코드</th>
					<th class="column-title">리뷰 제목</th>
					<th class="column-title">등록일</th>
					<th class="column-title">수정일</th>
					<th class="column-title">답변<br>여부</th>
					<th class="column-title">리뷰<br>타입
					</th>
					<th class="column-title">적립<br>포인트
					</th>
					<th class="column-title">전시<br>상태</th>
					<th class="">점수</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr class="" th:if="${#lists.size(myReview) > 0}"
								th:each="mr : ${myReview}">
					<td class=" " th:text="${mr.reviewCode}"></td>
					<td class=" " th:text="${mr.reviewSpaceRsv}"></td>
					<td class=" " th:text="${mr.reviewSpaceCode}"></td>
					<td class=" " th:text="${mr.reviewTitle}"></td>
					<td class=" " th:text="${mr.reviewAddId}"></td>
					<td class=" " th:text="${mr.reviewAddDate}"></td>
					<td class=" " th:text="${mr.reviewUpDate}"></td>
					<td class=" " th:text="${mr.reviewType}"></td>
					<td class=" " th:text="${mr.reviewPoint}"></td>
					<td class=" " th:text="${mr.reviewDisplay}"></td>
					<td class=" " th:text="${mr.reviewScore}"></td>
				</tr>
			</tbody>
		</table>
	
	
		<div class="col-md-6 col-sm-6 ">
			<div class="x_panel tile">
				<div class="x_title">
					ㅇㅅㅇ
				</div>
			</div>
		</div>
	</div>
	
</th:block>
</html>