<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customCss">
<style type="text/css">
	/* details {width: 500px;} */
	details > summary {padding: 3px 10px;}
	details > summary::-webkit-details-marker {display: none}
	details > summary::marker {display: none}
	
	#reviewSpaceRsv input {-webkit-appearance: none}
	#reviewTable th {padding : 5px;}
	#reviewTable td {padding : 5px;}
	
	.ystar {color:#F5C225; font-size: 20px;}
	
</style>
</th:block>

<th:block layout:fragment="customContent">
	
	<!-- 리뷰 답변 모달  -->
	<div class="modal fade" id="reviewReply">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">리뷰에 사장님 답글 작성하기</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      </div>
	      <div class="modal-body" style="font-size:15px;">
	      	<h5 id="reviewTitle"></h5>
	      	<small style="text-align:right;">작성자 : <span id="reviewAddId"></span>
	      	작성일 : <span id="reviewAddDate"></span>
	      	<br>
	      	리뷰 코드 : <span id="reviewCode"> </span>
	      	예약 코드 : <span class="reviewSpaceRsv"> </span>
	      	
	      	공간 코드 : <span id="reviewSpaceCode"> </span>
	      	<br>
	      	</small>
	      	<h5> 종합 추천 점수 : <span id="reviewScore" class="ystar"></span></h5>
	      	<small>
		      	청결도 : <span id="reviewClean"></span> | 
		      	서비스 : <span id="reviewService"></span> | 
		      	화장실 : <span id="reviewRestroom"></span> | 
		      	시설 : <span id="reviewFacility"></span> | 
		      	분위기 : <span id="reviewAmbience"></span>
	      	</small>
	      	<hr>
      		<span id="reviewContents"></span>
	      	<hr>
	      	<b>답글 작성</b>
	      	<form id="storeReply" method="post">
		      	<textarea class="form-control" name="storeReply" rows="3" placeholder="답글을 입력해주세요." 
		      	style="margin-top: 0px; margin-bottom: 0px; height: 131px;"></textarea>
		      	<input type="hidden" id="getReviewCode" name="getReviewCode" readonly>
	      	</form>
	 	  </div>
				
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
	        <button type="button" class="btn btn-success" id="postReply">답글 등록</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!-- 리뷰 삭제 모달 -->
	<div class="modal fade" id="deleteCheck">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">리뷰 삭제 확인</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      </div>
	      <div class="modal-body" style="font-size:15px;">
	      	선택하신 <b><span class="selectRNum" style="font-size:25px; color:red"></span></b>개의 리뷰를 삭제하시겠습니까?<br>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
	        <button type="button" class="btn btn-danger" id="deleteReview">삭제하기</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!-- 블라인드 모달  -->
	<div class="modal fade" id="blindCheck">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">리뷰 블라인드 확인</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      </div>
	      <div class="modal-body" style="font-size:15px;">
	      	선택하신 <b><span class="selectRNum" style="color:red"></span></b>개의 리뷰를<br>
	      	<select id="blindCheck" class="form-control blind">
				<option value="N">블라인드</option>
				<option value="Y">블라인드 해제</option>
			</select>
			처리합니다.
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
	        <button type="button" class="btn btn-success" id="changeBlindReview">블라인드 변경하기</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="col-md-12 col-sm-12  ">
		<div class="x_panel">
			<div class="x_title">
				<h2>리뷰 전체 목록 <small>관리자 페이지</small></h2>
				<div style="float:right;">
					<b th:text="${storeInfo.storeId}"></b> / 
					<b th:text="${storeInfo.storeRepresentative}"></b>  님의 
					<b th:text="${storeInfo.storeName}"></b>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<button type="button" style="float:right;" class="btn btn-success btn-md" id="deleteBtn">선택 삭제하기</button>
				<button type="button" style="float:right;" class="btn btn-success btn-md" id="blindBtn">선택 블라인드 변경</button>
				<div id="noticeBox" class="alert alert-danger alert-dismissible col-md-3 col-sm-3" 
					role="alert" style="display:none;">
				  <strong id="notice"></strong>
                  <button type="button" id="closeBtn" class="close" style="padding:6px;">
                  	<span aria-hidden="true">×</span>
                  </button>
                </div>
			<!-- 리뷰 목록 -->
			<form id="selectReview" method="post">
				<div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action" id="reviewTable" style="padding: 0px;">
						<thead>
							<tr class="headings">
								<th><input type="checkbox" id="check-all" class="flat">
								</th>
								<th class="column-title">리뷰 코드</th>
								<th class="column-title">예약 코드</th>
								<th class="column-title">방 코드</th>
								<th class="column-title">리뷰 제목</th>
								<th class="column-title">작성자</th>
								<th class="column-title">등록일</th>
								<th class="column-title">수정일</th>
								<th class="column-title">답변<br>여부</th>
								<th class="column-title">리뷰<br>타입
								</th>
								<th class="column-title">적립<br>포인트
								</th>
								<th class="column-title">전시<br>상태</th>
								<th class="column-title">청결도</th>
								<th class="column-title">서비스</th>
								<th class="column-title">화장실</th>
								<th class="column-title">시설</th>
								<th class="column-title">분위기</th>
								<th class="column-title no-link last">종합</th>
								<th class="column-title bulk-actions" colspan="18" style="height: 50px;"> 선택된 리뷰  ( <span
										class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="even pointer reviewRow" th:if="${#lists.size(allReview) > 0}"
								th:each="ar : ${allReview}">
								<td class="a-center "><input type="checkbox" class="flat chose"
									name="table_records" th:value="${ar.get('reviewCode')}"></td>
								<td class=" " th:text="${ar.get('reviewCode')}"></td>
								<td class=" " th:text="${ar.get('reviewSpaceRsv')}"></td>
								<td class=" " th:text="${ar.get('reviewSpaceCode') }"></td>
								<td class="reviewTitle"> <span th:text="${ar.get('reviewTitle')}"></span>
									 <input type="hidden" class="reviewIn" th:value="${ar.get('reviewContents')}">								
								</td>
								<td class=" " th:text="${ar.get('reviewAddId')}"></td>
								<td class=" " th:text="${ar.get('reviewAddDate')}"></td>
								<td class=" " th:text="${ar.get('reviewUpDate')}"></td>
								<td class=" " ></td>
								<td class=" " th:text="${ar.get('reviewType')}"></td>
								<td class=" " th:text="${ar.get('reviewPoint')}"></td>
								<td class=" " th:text="${ar.get('reviewDisplay')}"></td>
								<td class=" " th:text="${ar.get('reviewClean')}"></td>
								<td class=" " th:text="${ar.get('reviewService')}"></td>
								<td class=" " th:text="${ar.get('reviewRestroom')}"></td>
								<td class=" " th:text="${ar.get('reviewFacility')}"></td>
								<td class=" " th:text="${ar.get('reviewAmbience')}"></td>
								<td class=" last" th:text="${ar.get('reviewScore')}"></td>
							</tr>
						</tbody>

					</table>
					<input type="hidden" id="hiddenBox" name="blindValue">
				</div>
			</form>

			</div>
		</div>
	</div>
	
</th:block>
<th:block layout:fragment="customJs">
<!-- datepicker js파일 --><script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- datepicker css파일 --><link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script  th:inline="javascript">
	var details = $('details');
	var reviewTitle = $("td.reviewTitle");
		
	reviewTitle.click(function(e) {
	
		e.preventDefault();
		var index = $(".reviewTitle").index(this);
		console.log(index);
		
		var reviewRow = $(this).parents('tr');
		console.log(reviewRow);
	  
		var reviewCode = $(this).parents('tr').find('td')[1];
		console.log($(reviewCode).text());
		var reviewSpaceRsv = $(this).parents('tr').find('td')[2];
		console.log($(reviewSpaceRsv).text());
		
		var reviewSpaceCode = $(this).parents('tr').find('td')[3];
		var reviewTitle = $(this).parents('tr').find('.reviewTitle');
		var reviewContents = $(this).parents('tr').find('.reviewIn');
		var reviewAddId = $(this).parents('tr').find('td')[5];
		var reviewAddDate = $(this).parents('tr').find('td')[6];
		var reviewClean = $(this).parents('tr').find('td')[12];
		var reviewService = $(this).parents('tr').find('td')[13];
		var reviewRestroom = $(this).parents('tr').find('td')[14];
		var reviewFacility = $(this).parents('tr').find('td')[15];
		var reviewAmbience = $(this).parents('tr').find('td')[16];
		var reviewScore = $(this).parents('tr').find('td')[17];
		
		$('#reviewCode').text($(reviewCode).text());
		$('#getReviewCode').val($(reviewCode).text());
		$('.reviewSpaceRsv').find('input').val($(reviewSpaceRsv).text());
		$('.reviewSpaceRsv').text($(reviewSpaceRsv).text());
		$('#reviewSpaceCode').text($(reviewSpaceCode).text());
		$('#reviewTitle').text($(reviewTitle).text());
		$('#reviewContents').text($(reviewContents).val());
		$('#reviewAddId').text($(reviewAddId).text());
		$('#reviewAddDate').text($(reviewAddDate).text());
		$('#reviewClean').text($(reviewClean).text());
		$('#reviewService').text($(reviewService).text());
		$('#reviewRestroom').text($(reviewRestroom).text());
		$('#reviewFacility').text($(reviewFacility).text());
		$('#reviewAmbience').text($(reviewAmbience).text());
		
		var score = $(reviewScore).text();
		var starScore = ""
		for(i=1;i<=score;i++){
			starScore += '★'
		}
		$('#reviewScore').text(starScore);
		
		$('#reviewReply').modal();
	 }
	
	);

		console.log(reviewTitle);
		
		reviewTitle.click(function(){
			var getReviewCode = $(reviewCode).text()
			var request = $.ajax({
				url: '/viewReplyReview', 
				method: 'POST',
				data: { getReviewCode : getReviewCode }, 
				dataType: 'json' 
			});
			request.done(function( data ) {
				console.log(JSON.stringify(data));	
			});
			request.fail(function( jqXHR, textStatus ) {
				alert( "Request failed: " + textStatus );
			});	
		}); 
		
/* 		details.click(function(){
			$('#reviewReply').modal();
			var el = $(this).index();
			  console.log(el);
		}); */
		
		$("#reviewTable").DataTable({
	  		order: [ [ 0, "asc" ] ],
	  		ordering: true,
	  		lengthChange: false,
	  		"dom": 'fltip',
            "language": {
		                "info": "페이지 _PAGE_ / _PAGES_",
		                "paginate": {
		                            "first": "첫페이지",
		                            "last": "마지막",
		                             "previous": "이전",
		                             "next":"다음"
		                           },
		                "sEmptyTable": "No data available in table",
		                "sInfoEmpty": "Showing 0 to 0 of 0 entries",
		                "sInfoFiltered": "(filtered from _MAX_ total entries)",
		                "sInfoPostFix": "",
		                "sLengthMenu": "Show _MENU_ 개씩",
		                "sSearch": "검색:",
		                "sSearchPlaceholder": "",
		                "sZeroRecords": "일치하는 검색 결과가 없습니다."
		                }
		 });
	
	$('#postReply').click(function(){
		$("form").attr("action", "/replyReview");
		console.log($('#getReviewCode').val());
		$('#storeReply').submit();
	});
	
	$('#deleteBtn').click(function(){
		$("form").attr("action", "/deleteReview");
		var selected = $('.chose:checked').length;
		console.log(selected);
		if (selected > 0) {
			$('#noticeBox').attr("style", "display:none;");
			$('#deleteCheck').modal();
			$('.selectRNum').text(selected);
			
			$('#deleteReview').click(function(){
					$('#selectReview').submit();
			});
		}else{
			$('#notice').text('삭제할 리뷰를 선택하세요.');
			$('#noticeBox').attr("style", "float:right; height: 38px; padding:8px 12px; margin: 0 5px;");
		}
	});
	$('#closeBtn').click(function(){
			$('#noticeBox').attr("style", "display:none;");
	});
			
	$('#blindBtn').click(function(){
		$("form").attr("action", "/blindReview");
		var selected = $('.chose:checked').length;
		console.log(selected);
		if (selected > 0) {
			$('#noticeBox').attr("style", "display:none;");
			$('#blindCheck').modal();
			$('.selectRNum').text(selected);
			
			$('#changeBlindReview').click(function(){
					$('#hiddenBox').val($('#blindCheck option').val());
					$('#selectReview').submit();
			});
		}else{
			$('#notice').text('변경할 리뷰를 선택하세요.');
			$('#noticeBox').attr("style", "float:right; height: 38px; padding:8px 12px; margin: 0 5px;");
		}
	});
</script>
</th:block>

</html>