<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- top navigation -->
<div class="top_nav" th:fragment="headerFragment">
	<div class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle"><i class="fa fa-bars"></i></a>
		</div>
		<nav class="nav navbar-nav">
			<ul class=" navbar-right">
				<li th:unless="${session.SID==null}" class="nav-item dropdown open" style="padding-left: 15px;">
					<a href="javascript:;" class="user-profile dropdown-toggle"
					aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown"
					aria-expanded="false"> <img src="production/images/img.jpg"
						alt="">[[${session.SID}]]
					</a>
					<div class="dropdown-menu dropdown-usermenu pull-right"
						aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/myInfo"> 내 정보</a> 
						<a
							class="dropdown-item" href="/logout"><i
							class="fa fa-sign-out pull-right"></i>로그 아웃</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!-- /top navigation -->
</html>