<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Begin Left menu -->
<div class="col-md-3 left_col" th:fragment="leftMenuFragment">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0; text-align: center;">
			<a href="index.html" class="site_title">
			<img src="imges/W-logo.gif" alt="로고" style="height: 50px;"/>
				</a>
		</div>

		<div class="clearfix"></div>

		<!-- menu profile quick info -->
		<div class="profile clearfix">
			<div class="profile_pic">
				<img src="production/images/img.jpg" alt="..."
					class="img-circle profile_img">
			</div>
			<div class="profile_info">
				<span>Welcome,</span>
				<h2>John Doe</h2>
			</div>
		</div>
		<!-- /menu profile quick info -->

		<br />

		<!-- sidebar menu -->
		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section">
				<h3>General</h3>
				<ul class="nav side-menu">
				
				
					<li><a><i class="fa fa-home"></i> #회원관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/addUser"> #회원 등록</a></li>
							<li><a href="/userList"> #회원 목록 조회</a></li>
							<li><a href="/userLevel">#회원 등급 관리</a></li>
						</ul></li>
						
						
					<li><a><i class="fa fa-edit"></i> #업체 관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/reviewAll">#전체 리뷰 관리 (관)</a></li>
							<li><a href="/reviewMy">#내 매장 리뷰 (관?, 판)</a></li>
							<li><a href="/addStore">#업체 등록</a></li>
							<li><a href="/storeListReady">#업체 목록 (공간 승인 대기)</a></li>
							<li><a href="/storeListOK">#업체 목록 (공간 승인 완료)</a></li>
							<li><a href="/addItem">#장비 등록</a></li>
							<li><a href="/itemList">#장비 목록</a></li>
							<li><a href="/itemBuyList">#장비 구입 목록</a></li>
							<li><a href="/itemDeleteList">#장비 파기 목록</a></li>
							<li><a href="/itemRepairList">#장비 수리 목록</a></li>
							<li><a href="/itemCountList">#장비 수량 목록</a></li>
						</ul></li>
						
						
					<li><a><i class="fa fa-desktop"></i> #예약 관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/rsvInsert">#예약 등록</a></li>
							<li><a href="/rsvList">#예약 목록 조회</a></li>
							<li><a href="/rsvCancelList">#예약 취소 목록 조회</a></li>
						</ul></li>
						
						
					<li><a><i class="fa fa-table"></i> #게시판 관리 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/boardList">#게시판 리스트</a></li>
							<li><a href="/boardArticleList">#게시글 관리</a></li>
							<li><a href="/faqList">#FAQ 관리</a></li>
						</ul></li>
						
						
					<li><a><i class="fa fa-bar-chart-o"></i> #정산
							<span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/adminCalc">#관리자 정산 조회</a></li>
							<li><a href="/sellerCalc">#판매자 정산 조회</a></li>
							<li><a href="chartjs2.html">#결제 내역 조회</a></li>
							<li><a href="chartjs2.html">#환불 내역 조회</a></li>
							<li><a href="chartjs2.html">#마일리지 사용 내역 조회</a></li>
						</ul></li>
						
						
					<li><a><i class="fa fa-clone"></i>#통계 <span
							class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/accessStat">#접속 통계 (관) (OS별, 시간대별, 연령대별)</a></li>
							<li><a href="/buyStat">#구매 통계 (판) (공간별, 연령대별, 직업별)</a></li>
						</ul></li>
						
						
					<li><a><i class="fa fa-bar-chart-o"></i> #프로모션
						<span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="morisjs.html">#메인 상품 진열</a></li>
						<li><a href="echarts.html">#추천 상품 진열</a></li>
					</ul></li>
					
					
				</ul>
			</div>
         </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top"
				title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top"
				title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen"
				aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close"
				aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top"
				title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
<!-- End Left menu -->
