<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customContent">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="row">

              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> 공간 <small> 등록하기 </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                    <p> 해당되는 공간의 정보를 입력해주세요. </p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no"> 1 </span>
                            <span class="step_descr">
                                              간략 정보 <br />
                                              <small> 1 단계 </small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no"> 2 </span>
                            <span class="step_descr">
                                              세부 정보 <br />
                                              <small> 2 단계 </small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              기타 정보 <br />
                                              <small> 3 단계 </small>
                                          </span>
                          </a>
                        </li>
                      </ul>
                      <div id="step-1">
                        <form class="form-horizontal form-label-left" action="/">
                        <div style="padding-left:1000px; color: red"> * 표시는 필수 입력 사항입니다. </div>
						<br>
                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> 공간 이름 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="text" id="readySpace" name = "readySpace" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> 공간 유형 <span class="required">*</span>
                            </label>
										<div class="btn-group form-check" data-toggle="buttons" style="margin-left: -10px; width: 795px;">
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceType" value = "촬영 스튜디오"> <span style="font-size: 12px;">촬영 스튜디오</span>
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceType" value = "엠티장소"> 엠티장소
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceType" value = "스터디룸"> 스터디룸
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceType" value = "연습실"> 연습실
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceType" value = "파티룸"> 파티룸
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceType" value = "회의실"> 회의실
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceType" value = "카페"> 카페
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceType" value = "다목적홀"> 다목적홀
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceType" value = "공연장"> 공연장
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceType" value = "한옥"> 한옥
					                      </label>
					                    </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> 공간 허용 인원수  <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 ">
                              <input id="readyPeopleNumber" class="form-control col" type="text" name="readyPeopleNumber" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                              <span> 숫자만 입력해주시기 바랍니다. </span>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" style="padding-top: 20px;"> 공간 간략 소개 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            <span style="color:#aaa; padding-left: 683px" id="counter">(0 / 최대 20자)</span>
                              <input id="readyBriefSpace" class="date-picker form-control" required="required" type="text" name="readyBriefSpace">
                            </div>
                          </div>

                        </form>

                      </div>
                      <div id="step-2">
                       <form class="form-horizontal form-label-left">
                        <div style="padding-left:1000px; color: red"> * 표시는 필수 입력 사항입니다. </div>
						<br>
                          <div class="form-group row">
                          	
                            <label class="col-form-label col-md-3 col-sm-3 label-align" style="padding-top: 20px;"> 공간 세부 소개 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            <span style="color:#aaa; padding-left: 660px" id="counter2">(0 / 최대 500자)</span>
                              <textarea id="readyDetailSpace" name = "readyDetailSpace" class="form-control" style="resize: none;" cols="100" rows="10"></textarea>
                            </div>
                          </div>
                          	<span style="color:#aaa; padding-left: 620px"> 태그는 최대 5개까지입니다. </span>
                            <label class="col-form-label col-md-3 col-sm-3 label-align" style="padding-top: 25px;"> 공간 태그 </label>
									<table>
										<tbody>
											<tr>
												<td><input type="text" name = "readySpaceTag" placeholder="태그명을 입력하세요." style="margin-left: 10px; width: 670px;"></td>
												<td>
													<button type="button" class="addBtn" style="margin-left: 10px;">추가</button>
													<button type="button" class="removeBtn">삭제</button>
												</td>
											</tr>
										</tbody>
									</table>
						<div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> 공간 대여 가격  <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 ">
                              <input id="readyRentalPrice" class="form-control col" type="text" name="readyRentalPrice" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                              <span> 숫자만 입력해주시기 바랍니다. </span>
                            </div>
                          </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> 영업 시작 시간  <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 ">
                              <input id="readyStartTime" class="form-control col" type="time" name="readyStartTime">
                            </div>
                          </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> 영업 종료 시간  <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 ">
                              <input id="readyCloseTime" class="form-control col" type="time" name="readyCloseTime">
                            </div>
                          </div>                          
                        </form>
                      </div>
                      <div id="step-3">
 					<form class="form-horizontal form-label-left">
                        <div style="padding-left:1000px; color: red"> * 표시는 필수 입력 사항입니다. </div>
						<br>
								<div class="item form-group">
									<label for="middle-name"
										class="col-form-label col-md-3 col-sm-3 label-align">
										결제 방식 <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<select style="width: 775px; height: 40px;"
											id="readySpaceRsvType" name="readySpaceRsvType">
											<option value="0">:: 공간 예약 타입 선택 ::</option>
											<option value="일 결제"> 일 결제 </option>
											<option value="시간 결제"> 시간 결제 </option>
										</select>
									</div>
								</div>
						<div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> 예약 불가 시작 날짜  <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 ">
                              <input id="readyStartTime" class="form-control col" type="date" name="readyStartTime">
                            </div>
                          </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> 예약 불가 종료 날짜  <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 ">
                              <input id="readyCloseTime" class="form-control col" type="date" name="readyCloseTime">
                            </div>
                          </div>  
                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> 공간 기본 옵션  <span class="required">*</span></label>
                            	<div class="btn-group form-check" data-toggle="buttons" style="margin-left: -10px; width: 800px;">
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "TV/프로젝터"> TV/프로젝터
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "인터넷/와이파이"> 인터넷/와이파이
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "복사/인쇄기"> 복사/인쇄기
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "화이트보드"> 화이트보드
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "음향/마이크"> 음향/마이크
					                      </label>
					                      </div>
					                      <div class="btn-group form-check" data-toggle="buttons" style="padding-left:405px; width: 1185px;">
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "취사시설"> 취사시설
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "음식물반입가능"> 음식물반입가능
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "주류반입가능"> 주류반입가능
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "샤워시설"> 샤워시설
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "주차"> 주차
					                      </label>
					                      </div>
					                      <div class="btn-group form-check" data-toggle="buttons" style="padding-left:405px; width: 1185px;">
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "금연"> 금연
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "반려동물 동반 가능"> 반려동물 동반 가능
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "PC/노트북"> PC/노트북
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "의자/테이블"> 의자/테이블
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "내부화장실"> 내부화장실
					                      </label>
					                      </div>
					                      <div class="btn-group form-check" data-toggle="buttons" style="padding-left:405px; width: 1185px;">
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "탈의실"> 탈의실
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "테라스/루프탑"> 테라스/루프탑
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "공용라운지"> 공용라운지
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "전신거울"> 전신거울
					                      </label>
					                      <label class="btn btn-secondary">
					                        <input type="checkbox" class="join-btn" name = "readySpaceBasicOption" value = "바베큐시설"> 바베큐시설
					                      </label>
					                    
					                    </div>
					                   
                          </div>
							</form>
						</div>
						
                    </div>
                    </div></div></div></div>
	
	<script type="text/javascript">
			
			$(function(){
				
				$('#readyBriefSpace').keyup(function(){
					var content = $(this).val();
					$('#counter').html("(" + content.length + " / 최대 20자)");
					
					if (content.length > 20){
				        alert("최대 20자까지 입력 가능합니다.");
				        $(this).val(content.substring(0, 20));
				        $('#counter').html("(20 / 최대 20자)");
				    }
				});
				$('#readyDetailSpace').keyup(function(){
					var content2 = $(this).val();
					$('#counter2').html("(" + content2.length + " / 최대 500자)");
					
					if(content2.length > 500){
						alert("최대 500자까지 입력 가능합니다.");
						$(this).val(content2.substring(0, 500));
						$('#counter2').html("(500 / 최대 500자)");
					}
				});
				
				$(document).on('click', '.addBtn', function(){
					var len = $(this).parents('tbody').find('tr').length;
					var clone = $(this).parents('tr').clones();
					clone.find('input').val('');
					if(len >= 5){
						alert('더 이상 생성하실 수 없습니다.');
					}else{
						$(this).parents('tbody').append(clone);
					}
				});
				$(document).on('click', '.removeBtn', function(){
					var len = $(this).parents('tbody').find('tr').length;
					if(len > 1){
						$(this).parents('tr').remove();
					}else{
						alert('더 이상 삭제 하실 수 없습니다.');
					}
				});
				
				});
				
			
	</script>
	
</th:block>

</html>