<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">

<div class="x_panel">
                  <div class="x_title">
                    <h2> 업체 목록 </h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
                    <div class="row">
                    </div>
                    <div class="row"><div class="col-sm-12"><table id="datatable" class="table table-striped table-bordered dataTable no-footer" style="width:100%" role="grid" aria-describedby="datatable_info">
                      <thead>
                        <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 80px;"> 공간 코드 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 100px;"> 업체 코드 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 85px;"> 공간 이름 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 50px;"> 공간 유형 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 79px;"> 공간 허용 인원수 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 공간 세부소개 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 공간 간략소개 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 공간 태그 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 공간 대여가격 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 영업시작시간 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 영업종료시간 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 공간예약타입 (시간, 일) </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 예약 불가 시작날짜 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 예약 불가 종료날짜 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 승인 완료 날짜 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 공간 기본옵션 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 검수자 아이디 </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 65px;"> 환불 정책 </th>
                        </tr>
                      </thead>


            <tbody>
			<th:block th:each = "s : ${spaceListO}">
				<tr>
					<td th:text = "${s.okaySpaceCode}">
					<td th:text = "${s.okayStoreCode}">
					<td th:text = "${s.okaySpaceName}">
					<td th:text = "${s.okaySpaceType}">
					<td th:text = "${s.okayPeopleNumber}">
					<td th:text = "${s.okayDetailSpace}">
					<td th:text = "${s.okayBriefSpace}">
					<td th:text = "${s.okaySpaceTag}">
					<td th:text = "${s.okaySpaceRentalPrice}">
					<td th:text = "${s.okayStartTime}">
					<td th:text = "${s.okayCloseTime}">
					<td th:text = "${s.okaySpaceRsvType}">
					<td th:text = "${s.okayExceptionStartDate}">
					<td th:text = "${s.okayExceptionEndDate}">
					<td th:text = "${s.okayCompletedDate}">
					<td th:text = "${s.okaySpaceBasicOption}">
					<td th:text = "${s.okaySpaceId}">
					<td th:text = "${s.okayRefundPolicyCode}">
				</tr>
			</th:block>
		</tbody>
                    </table>
                    </div></div></div>
                  </div>
                  </div>
              </div>
            </div>
                </div>

</th:block>

</html>