<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">

		<div class="x_panel">
			<div class="x_title">
				<h2>
					공간 <small> 승인 정보 </small>
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<ul class="list-unstyled timeline">
					<li>
						<div class="block">
							<div class="block_content">
								<h2 class="title">
									<a style="font-size: x-large;">공간 이름</a>
								</h2>
								<div class="byline">
								<div style="font-size:large;"></div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="block">
							<div class="block_content">
								<h2 class="title">
									<a style="font-size: x-large;">공간 유형</a>
								</h2>
								<div class="byline">
								<span style="font-size:large;"> </span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="block">
							<div class="block_content">
								<h2 class="title">
									<a style="font-size: x-large;">공간 허용 인원수</a>
								</h2>
								<div class="byline">
								<span style="font-size:large;"> </span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="block">
							<div class="block_content">
								<h2 class="title">
									<a style="font-size: x-large;">공간 간략소개</a>
								</h2>
								<div class="byline">
								<span style="font-size:large;"> </span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="block">
							<div class="block_content">
								<h2 class="title">
									<a style="font-size: x-large;">공간 세부소개</a>
								</h2>
								<div class="byline">
								<span style="font-size:large;"> </span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="block">
							<div class="block_content">
								<h2 class="title">
									<a style="font-size: x-large;">공간 태그</a>
								</h2>
								<div class="byline">
								<span style="font-size:large;"> </span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="block">
							<div class="block_content">
								<h2 class="title">
									<a style="font-size: x-large;">공간 대여가격</a>
								</h2>
								<div class="byline">
								<span style="font-size:large;"> </span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="block">
							<div class="block_content">
								<h2 class="title">
									<a style="font-size: x-large;">영업 시간</a>
								</h2>
								<div class="byline">
								<span style="font-size:large;"> </span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="block">
							<div class="block_content">
								<h2 class="title">
									<a style="font-size: x-large;">예약 불가 날짜</a>
								</h2>
								<div class="byline">
								<span style="font-size:large;"> </span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="block">
							<div class="block_content">
								<h2 class="title">
									<a style="font-size: x-large;">공간 기본옵션</a>
								</h2>
								<div class="byline">
								<span style="font-size:large;"> </span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

</th:block>