<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContent">

	<form th:action="@{/removeitemRepair}" method="post">

		<span class="section">장비파기내역 삭제</span>

		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">장비 수리 코드</label>
			<div class="col-md-6 col-sm-6">
				<div th:text="${itemRepairCode}">
			</div>
			</div>
		</div>
		
		<div class="field item form-group">
			<label class="col-form-label col-md-3 col-sm-3  label-align">업체 코드</label>
			<div class="col-md-6 col-sm-6">
					<input type="hidden" id="itemBuyCode" name="itemBuyCode" th:value="${itemBuyCode}" required="required">
				<input type="password" class="form-control"
					id="password" name="storeBuyCode" required="required">
			</div>
		</div>
		
		<div class="form-group" align="center">
			<div class="col-md-6 offset-md-3">
				<button type="submit" id="submit" class="btn btn-primary ">장비구입내역 삭제</button>
			</div>
		</div>
	</form>

</th:block>
</html>