<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customContent">

	<div class="table-responsive m-t-20">
		<table class="table table-striped jambo_table bulk_action dataTable no-footer" id = "tbItemRepair">
			<thead>
				<tr>
					<th scope="col">장비 수리 코드</th>
					<th scope="col">업체 코드</th>
					<th scope="col">세부 장비 코드</th>
					<th scope="col">아이디</th>
					<th scope="col">장비 수리 비용</th>
					<th scope="col">수리 맡긴 일자</th>
					<th scope="col">수리 끝나는 일자</th>
					<th scope="col">장비 이름</th>
					<th scope="col">수리 맡긴 업체</th>
					<th scope="col">수리 맡긴 업체 번호</th>
					<th scope="col">수정</th>
					<th scope="col">삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(itemRepairList) > 0}" th:each="r : ${itemRepairList}">
				<td th:text="${r.itemRepairCode}"></td>
				<td th:text="${r.storeRepairCode}"></td>
				<td th:text="${r.storeItemRepairCode}"></td>
				<td th:text="${r.userRepairId}"></td>
				<td th:text="${r.itemRepairPrice}"></td>
				<td th:text="${r.itemRepairRegDate}"></td>
				<td th:text="${r.itemRepairEndDate}"></td>
				<td th:text="${r.itemRepairName}"></td>
				<td th:text="${r.itemRepairCompany}"></td>
				<td th:text="${r.itemRepairCompanyPhone}"></td>
				<td>
					<button type="submit"><a  th:href="@{/modifyitemRepair(itemRepairCode=${r.itemRepairCode})}">수정</button>
				</td>
				<td>
					<button type="submit"><a th:href="@{/removeitemRepair(itemRepairCode=${r.itemRepairCode})}">삭제</button>
				</td>
				</tr>

			</tbody>
		</table>
	</div>

</th:block>

<th:block layout:fragment="customJs">

<script>
	$("#tbItemRepair").DataTable({
		order: [ [ 0, "desc" ] ],
		ordering: true,
		lengthChange: false,
		"dom": 'fltip',
		"language": {
			         "info": "페이지 _PAGE_ of _PAGES_",
		        	 "paginate": {
						        	 "first": "첫페이지",
						        	 "last": "마지막",
						             "previous": "이전",
						             "next":"다음"
						           },
		        	 "sEmptyTable": "No data available in table",
		        	 "sInfoEmpty": "Showing 0 to 0 of 0 entries",
		        	 "sInfoFiltered": "(filtered from _MAX_ total entries)",
		        	 "sInfoPostFix": "",
		        	 "sLengthMenu": "Show _MENU_ 개씩",
		        	 "sSearch": "검색:",
		        	 "sSearchPlaceholder": "",
		        	 "sZeroRecords": "No matching records found"
			         }
	});
	
	</script>

</th:block>

</html>