<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customContent">
<form action="/itemDeleteList" method="post">

	<div class="table-responsive m-t-20">
		<table class="table table-striped jambo_table bulk_action dataTable no-footer" id = "tbItemDelete">
			<thead>
				<tr>
					<th scope="col">장비 파기 코드</th>
					<th scope="col">업체 코드</th>
					<th scope="col">세부 장비 코드</th>
					<th scope="col">아이디</th>
					<th scope="col">장비 파기 사유</th>
					<th scope="col">장비 파기 일자</th>
					<th scope="col">수정</th>
					<th scope="col">삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(itemDeleteList) > 0}" th:each="d : ${itemDeleteList}">
				<td th:text="${d.itemDeleteCode}"></td>
				<td th:text="${d.storeDeleteCode}"></td>
				<td th:text="${d.storeItemDeleteCode}"></td>
				<td th:text="${d.userDeleteId}"></td>
				<td th:text="${d.itemDeleteReason}"></td>
				<td th:text="${d.itemDeleteRegDate}"></td>
				<td>
					<input type="submit" value="수정"><a  th:href="@{/modifyitemBuy(itemBuyCode=${d.itemBuyCode})}"></a>
				</td>
				<td>
					<input type="submit" value="삭제"><a th:href="@{/removeitemBuy(itemBuyCode=${d.itemBuyCode})}"></a>
				</td>
				</tr>

			</tbody>
		</table>
	</div>
</form>
	<button type="submit" style="float: right;">글쓰기</button>
</th:block>

<th:block layout:fragment="customJs">

<script>
	$("#tbItemDelete").DataTable({
		order: [ [ 0, "desc" ] ],
		ordering: true,
		lengthChange: false,
		"dom": 'fltip',
		"language": {
			         "info": "페이지 _PAGE_ of _PAGES_",
		        	 "paginate": {
						        	 "first": "첫페이지",
						        	 "last": "마지막",
						             "previous": "이전",
						             "next":"다음"
						           },
		        	 "sEmptyTable": "No data available in table",
		        	 "sInfoEmpty": "Showing 0 to 0 of 0 entries",
		        	 "sInfoFiltered": "(filtered from _MAX_ total entries)",
		        	 "sInfoPostFix": "",
		        	 "sLengthMenu": "Show _MENU_ 개씩",
		        	 "sSearch": "검색:",
		        	 "sSearchPlaceholder": "",
		        	 "sZeroRecords": "No matching records found"
			         }
	});
	
	</script>

</th:block>
</html>