<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customContent">
	<form action="/itemRepairList" method="post">
		<select name="sk">
			<option th:value="${userId}">아이디</option>
			<option th:value="${itemRepairName}">장비이름</option>
		</select>
		<input type="text" name = "sv" placeholder="검색어를 입력해주세요"/>
		<button type="submit">검색</button>
	</form>

	<div class="table-responsive m-t-20">
		<table class="table table-striped jambo_table bulk_action dataTable no-footer">
			<thead>
				<tr>
					<th scope="col">장비 수리 코드</th>
					<th scope="col">업체 코드</th>
					<th scope="col">세부 장비 코드</th>
					<th scope="col">아이디</th>
					<th scope="col">장비 수리 비용</th>
					<th scope="col">수리 맡긴 일자</th>
					<th scope="col">수리 끝나는 일자</th>
					<th scope="col">장비 이름</th>
					<th scope="col">수리 맡긴 업체</th>
					<th scope="col">수리 맡긴 업체 번호</th>
					<th scope="col">수정</th>
					<th scope="col">삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(itemRepairList) > 0}" th:each="r : ${itemRepairList}">
				<td th:text="${r.itemRepairCode}"></td>
				<td th:text="${r.storeRepairCode}"></td>
				<td th:text="${r.storeItemRepairCode}"></td>
				<td th:text="${r.userRepairId}"></td>
				<td th:text="${r.itemRepairPrice}"></td>
				<td th:text="${r.itemRepairRegDate}"></td>
				<td th:text="${r.itemRepairEndDate}"></td>
				<td th:text="${r.itemRepairName}"></td>
				<td th:text="${r.itemRepairCompany}"></td>
				<td th:text="${r.itemRepairCompanyPhone}"></td>
				<td>
					<button type="submit"><a  th:href="@{/modifyitemRepair(itemRepairCode=${r.itemRepairCode})}">수정</button>
				</td>
				<td>
					<button type="submit"><a th:href="@{/removeitemRepair(itemRepairCode=${r.itemRepairCode})}">삭제</button>
				</td>
				</tr>

			</tbody>
		</table>
	</div>

</th:block>
</html>