<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/maindefault}">

<th:block layout:fragment="customCss">
<style>
.divtag{font-size: 30px;}
</style>
</th:block>

<th:block layout:fragment="customContent">
<div class="container " style="margin-top: 70px; margin-bottom: 70px;">

<h1 class="divtag">포인트 내역조회</h1>	
<div style="font-size: 30px; text-align: center;" >
	내 포인트 : <span th:text="${totalPoint}"> </span>
</div>
<div class="table-responsive m-t-20">
		<table class="table table-striped jambo_table bulk_action dataTable no-footer" id="tbPoint">
			<thead>
				<tr>
					<th scope="col">포인트 코드</th>
					<th scope="col">회원 아이디</th>
					<th scope="col">적립내역</th>
					<th scope="col">사용내역</th>
					<th scope="col">변동 포인트</th>
					<th scope="col">결제코드</th>
					<th scope="col">리뷰코드</th>
					<th scope="col">변동일자</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(pointList) > 0}" th:each="s : ${pointList}">
				<td th:text="${s.pointCode}"></td>
				<td th:text="${s.pointID}"></td>
				<td th:text="${s.pointAddList}"></td>
				<td th:text="${s.pointSellList}"></td>
				<td th:text="${s.pointList}"></td>
				<td th:text="${s.pointPaymentCode}"></td>
				<td th:text="${s.pointReviewCode}"></td>
				<td th:text="${s.pointModyfiDate}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>	
</th:block>	
<th:block layout:fragment="customJs">

<script>
	$("#tbPoint").DataTable({
		order: [ [ 0, "desc" ] ],
		ordering: true,
		lengthChange: false,
		"dom": 'fltip',
		"language": {
			         "info": "페이지 _PAGE_ of _PAGES_",
		        	 "paginate": {
						        	 "first": "첫페이지",
						        	 "last": "마지막",
						             "previous": "이전",
						             "next":"다음"
						           },
						           "sEmptyTable": "데이터가 없습니다.",
						        	 "sInfoEmpty": "데이터가 없습니다.",
						        	 "sInfoFiltered": "(filtered from _MAX_ total entries)",
						        	 "sInfoPostFix": "",
						        	 "sLengthMenu": "Show _MENU_ 개씩",
						        	 "sSearch": "검색:",
						        	 "sSearchPlaceholder": "",
						        	 "sZeroRecords": "일치하는 검색 결과가 없습니다."
			         }
	});
	
	</script>

</th:block>	
</html>