<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">
<style>
.hid{display: none;}
td{padding-left: 10px; padding-right: 10px;}

</style>
</th:block>
<th:block layout:fragment="customContent">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<div class="row">

	<div class="x_panel">
		<div class="x_title">
			<h2>어떤 공간을 공유하세요?</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<form id="addStoreForm" class="form-horizontal form-label-left"
				th:action="@{/addSpace}" method="post">
				<div style="padding-left: 1000px; color: red">* 표시는 필수 입력
					사항입니다.</div>
				<br>
				<div class="form-group row">

					<label class="col-form-label col-md-3 col-sm-3 label-align">
						사업자 아이디 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">

						<input type="text" id="storeId" class="form-control"
							name="storeId" th:value = ${storeId} readonly="readonly">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-md-3 col-sm-3 label-align">
						상호명 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="storeName" class="form-control"
							name="storeName" placeholder="상호명을 입력해주시기 바랍니다.">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-md-3 col-sm-3 label-align">
						대표자명 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="storeRepresentative" class="form-control"
							name="storeRepresentative" placeholder="대표자명을 입력해주시기 바랍니다.">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-md-3 col-sm-3 label-align">
						사업자 번호 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" placeholder="사업자 번호를 입력해주시기 바랍니다."
							id="storeNumber" class="form-control" name="storeNumber"
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						<span> 숫자만 입력해주시기 바랍니다. </span>
					</div>
				</div>
				<span style="padding-left: 610px;"> 업체 유형은 최소 1개에서 5개까지 선택할 수
					있으며, 후에 변경하실 수 없으니 유의하시기 바랍니다. </span>
				<div class="form-group row">
					<label for="middle-name"
						class="col-form-label col-md-3 col-sm-3 label-align"> 업체
						유형 <span class="required">*</span>
					</label>
					<div class="btn-group form-check" data-toggle="buttons"
						style="margin-left: -10px; width: 795px;">
						<label class="btn btn-secondary"> <input type="checkbox"
							class="join-btn" name="storeBusinessType" value="촬영 스튜디오">
							<span style="font-size: 12px;">촬영 스튜디오</span>
						</label> <label class="btn btn-secondary"> <input type="checkbox"
							class="join-btn" name="storeBusinessType" value="엠티장소">
							엠티장소
						</label> <label class="btn btn-secondary"> <input type="checkbox"
							class="join-btn" name="storeBusinessType" value="스터디룸">
							스터디룸
						</label> <label class="btn btn-secondary"> <input type="checkbox"
							class="join-btn" name="storeBusinessType" value="연습실">
							연습실
						</label> <label class="btn btn-secondary"> <input type="checkbox"
							class="join-btn" name="storeBusinessType" value="파티룸">
							파티룸
						</label> <label class="btn btn-secondary"> <input type="checkbox"
							class="join-btn" name="storeBusinessType" value="회의실">
							회의실
						</label> <label class="btn btn-secondary"> <input type="checkbox"
							class="join-btn" name="storeBusinessType" value="카페"> 카페
						</label> <label class="btn btn-secondary"> <input type="checkbox"
							class="join-btn" name="storeBusinessType" value="다목적홀">
							다목적홀
						</label> <label class="btn btn-secondary"> <input type="checkbox"
							class="join-btn" name="storeBusinessType" value="공연장">
							공연장
						</label> <label class="btn btn-secondary"> <input type="checkbox"
							class="join-btn" name="storeBusinessType" value="한옥"> 한옥
						</label>
					</div>
				</div>

				<div class="form-group row">
					<label for="middle-name"
						class="col-form-label col-md-3 col-sm-3 label-align"> 업체
						주소 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="storeAddress" class="form-control"
							name="storeAddress" placeholder="업체 주소를 입력해주시기 바랍니다.">
					</div>
				</div>
				<div class="form-group row">
					<label
						class="col-form-label col-md-3 col-sm-3 label-align" style="margin-top: 20px;"> 업체
						소개 </label>
						<div class="col-md-6 col-sm-6 ">
							<span style="color: #aaa; padding-left: 680px" id="counter2">(0
								/ 최대 500자)</span>
							<textarea id="storeIntroduction" name="storeIntroduction"
								class="form-control" style="resize: none;" cols="100" rows="10"
								placeholder= "업체 소개를 입력해주시기 바랍니다."></textarea>
						</div>
				</div>
				<div class="form-group row">
					<label for="middle-name"
						class="col-form-label col-md-3 col-sm-3 label-align"> 업체
						이메일 </label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="storeEmail" class="form-control"
							name="storeEmail" placeholder="업체 이메일을 입력해주시기 바랍니다.">
					</div>
				</div>
					<div class="item form-group">
						<label for="middle-name"
							class="col-form-label col-md-3 col-sm-3 label-align"> 결제
							방식 <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<select style="width: 775px; height: 40px; margin-top: -5px;"
								id="storeRsvType" name="storeRsvType">
								<option value="0">:: 결제 방식 선택 ::</option>
								<option value="일 결제">일 결제</option>
								<option value="시간 결제">시간 결제</option>
							</select>
						</div>
					</div>				
				<div class="form-group row">
					<label for="middle-name"
						class="col-form-label col-md-3 col-sm-3 label-align"> 업체
						연락처 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="storePhone" class="form-control"
							placeholder="업체 연락처를 입력해주시기 바랍니다." name="storePhone"
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						<span> 숫자만 입력해주시기 바랍니다. </span>
					</div>
				</div>
				<div class="form-group row">
					<label
						class="col-form-label col-md-3 col-sm-3 label-align"> 사업자
						계좌번호 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="storeAccountNumber"
							placeholder="사업자 계좌번호를 입력해주시기 바랍니다." name="storeAccountNumber"
							class="form-control"
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						<span> 숫자만 입력해주시기 바랍니다. </span>
					</div>
				</div>
				<div class="form-group row">
					<label for="middle-name"
						class="col-form-label col-md-3 col-sm-3 label-align"> 환불
						정책 <span class="required">*</span>
					</label>
						<div class="col-md-6 col-sm-6 ">
							<table border="1">
								<thead>
									<tr>
										<th style="text-align: center;">예약까지남은일수</th>
										<th style="text-align: center;">환불퍼센트</th>
										<th style="text-align: center;">생성 및 제거</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="hid"><input type="hidden"
											name="refundPolicyStoreCode" value="5"></td>
										<td class="hid"><input type="hidden"
											name="refundPolicyUserId" value="id001"></td>
										<td>이용<input type="text" name="remainingDay"
											style="width: 170px;" class="a"
											oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">일전
										</td>
										<td>총금액의<input type="text" name="refundPercent"
											style="width: 170px;" class="b"
											oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">%
										</td>
										<td>
											<button type="button" class="addBtn" style="width: 120px;">추가</button>
											<button type="button" class="removeBtn" style="width: 120px;">삭제</button>
										</td>
									</tr>
								</tbody>
							</table>
							<span> 숫자만 입력해주시기 바랍니다. </span>
							<div><span> 당일 환불과 퍼센트는 0일, 0%로 표현 </span></div>
						</div>
					</div>
				<div class="form-group row">
					<label for="middle-name"
						class="col-form-label col-md-3 col-sm-3 label-align"> 업체
						이미지 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="file" id="storeImage" class="form-control"
							name="storeImage">
					</div>
				</div>
				<div class="ln_solid"></div>
				<div class="form-group row">
					<div class="col-md-6 col-sm-6">
						<input type="submit" class="btn btn-success" value="업체 등록 하기"
							id="addStore" style="width: 250px; height: 50px; margin-left: 650px;">
					</div>
				</div>

			</form>
		</div>
	</div>
	</div>

	<script type="text/javascript">
			
			$(function(){
				$('#addStore').click(function(){
					if($('#storeName').val() == ""){
						alert("상호명을 입력해주시길 바랍니다.");
						$('#storeName').focus();
						return false;
					}else if($('#storeRepresentative').val() == ""){
						alert("대표자명을 입력해주시길 바랍니다.");
						$('#storeRepresentative').focus();
						return false;
					}else if($('#storeNumber').val() == ""){
						alert("사업자 번호를 입력해주시길 바랍니다.");
						$('#storeNumber').focus();
						return false;
					}else if($('input:checkbox[name="storeBusinessType"]:checked').length == "0" || $('input:checkbox[name="storeBusinessType"]:checked').length > "5"){
						alert("업체 유형의 갯수를 제대로 확인하시고 선택해주시기 바랍니다.");
						return false;
					}else if($('#storeAddress').val() == ""){
						alert("업체 주소를 입력해주시길 바랍니다.");
						$('#storeAddress').focus();
						return false;
					} else if ($('#storeRsvType').val() == "0") {
						alert("결제 방식을 선택해주시기 바랍니다.");
						return false;
					}else if($('#storePhone').val() == ""){
						alert("업체 연락처를 입력해주시길 바랍니다.");
						$('#storePhone').focus();
						return false;
					}else if($('#storeAccountNumber').val() == ""){
						alert("사업자 계좌번호를 입력해주시길 바랍니다.");
						$('#storeAccountNumber').focus();
						return false;
					}else if($('.storeRemainingDay').val() == ""){
						alert("환불 일자를 입력해주시기 바랍니다.");
						$('.storeRemainingDay').focus();
						return false;
					}else if($('.storeRefundPercent').val() == ""){
						alert("환불 퍼센트를 입력해주시기 바랍니다.");
						$('.storeRefundPercent').focus();
						return false;
					}else if($('#storeImage').val() == ""){
						alert("업체 이미지를 등록해주시길 바랍니다.");
						return false;
					}else{
						
						
						var checkArray = Array();
						$("input[name=storeBusinessType]:checked").each(function(){
							checkArray.push($(this).val());
						});
						
						
						var tableLength =  $('[name="remainingDay"]').length;
						 var refundPolicyList = new Array(); 
				         var datas = new Object(); 
				         var totData = new Object();
						
						for(var i=0; i<tableLength;i++){
							datas  = new Object(); 
							datas.refundPolicyStoreCode  = $('[name="refundPolicyStoreCode"]').val();
							datas.refundPolicyUserId  = $('[name="refundPolicyUserId"]').val();
							datas.remainingDay  = $('[name="remainingDay"]').eq(i).val();
							datas.refundPercent = $('[name="refundPercent"]').eq(i).val();
							refundPolicyList.push(datas);
						}
							if(datas.remainingDay == ''){
						          alert('값을 입력해주세요.');
						          return false;
						      }
						    	if(datas.refundPercent == ''){
						          alert('값을 입력해주세요.');
						          return false;
						      }
						  totData["refundPolicyList"] = refundPolicyList;
						  
						  console.log(totData);
						  
						  $.ajax({
				               type : "POST",
				               url : '/refundPolicy', 
				               dataType : "text",  //리턴받았을때 타입
				               contentType : "application/json",
				               data : JSON.stringify(totData),
				               success : function(data) {
			               	   //	location.href= data;         
				               },
				               error : function() {
				                  alert('숫자 값만 입력해주세요.');
				               }
				            });    

						alert("업체 등록에 성공하셨습니다.");
						return checkArray;
					}
				});
				
				$('.a').change(function(){
					var day = $('.a').val();
						if(day >10){
						$(this).val(0);
						alert('10일 전 까지만 가능합니다.');
						
					
					}
				}); 
				$('.b').change(function(){
					var percent = $('.b').val();
					if(percent >100){
					$(this).val(0);
						alert('100까지만  입력 가능합니다.');
					
					}
					
				});
				$(document).on('click', '.addBtn', function() {
					var clone = $(this).parents('tr').clone();
					//복제된 대상의 input 박스를 찾아 값을 초기화
					clone.find('input').val('');
					//복제된 대상을 tbody에 삽입하기
					$(this).parents('tbody').append(clone);
					console.log($('.a').length);
					
					$('.a').change(function(){
						for(var i=0;i<$('.a').length;i++){	
							var day = $('.a').eq(i).val();
							if(day >10){
								$(this).val(0);
								alert('10일 전 까지만 가능합니다.');
								return;
							}
						}
					}); 
					$('.b').change(function(){
						for(var i=0;i<$('.b').length;i++){	
							var percent = $('.b').eq(i).val();
							if(percent >100){
								$(this).val(0);
								alert('100까지만  입력 가능합니다.');
								return;
							}
						}
					});

				});

				$(document).on('click', '.removeBtn', function() {
					var len = $(this).parents('tbody').find('tr').length;
					if (len > 1) {
						$(this).parents('tr').remove();
					} else {
						alert('더이상 삭제 하실 수 없습니다');
					}
				});
				
				$('#storeIntroduction').keyup(function() {
					var content2 = $(this).val();
					$('#counter2').html("(" + content2.length + " / 최대 500자)");

					if (content2.length > 500) {
						alert("최대 500자까지 입력 가능합니다.");
						$(this).val(content2.substring(0, 500));
						$('#counter2').html("(500 / 최대 500자)");
					}
				});
				
			});
		
		</script>

</th:block>

</html>