<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">
<style>
.hid{display: none; position: absolute; top: 20px; background-color: white; width: 80%; height: 60%;}
.Active{display: block;}
#removeBtn{margin-left:96%; margin-top: 2%;}
#teble2{display: inline-block}
</style>
</th:block>

<th:block layout:fragment="customJs">
<script>
	$(function(){
		
		
		$('#paymentListTb').DataTable({
			
			
		});
		$('.payCode').click(function(){
			$('#hidTable').addClass('Active');
			console.log($(this).text());
			var payCode =$(this).text();
			$('#removeBtn').click(function(){
				$('#hidTable').removeClass('Active');
				$('#tbody').find('tr').remove();
			});
		
			  $.ajax({
	               type : "GET",
	               url : '/rsvDetail', 
	               dataType : "json",  //리턴받았을때 타입
	               contentType : "application/json",
	               data : {"payCode": payCode},
	               success : function(data) {
              	   	 console.log(data.rsvDetail.length);  
             	   	 var innerHtml = "";
              	   	 for(var i =0; i<data.rsvDetail.length;i++){
              	   	 	console.log(data.rsvDetail[i]);
	              	   	innerHtml += "<tr>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].rsvCode+"</td>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].rsvDetailCode+"</td>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].rsvDetailSpace+"</td>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].okayStoreCode+"</td>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].okaySpaceType+"</td>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].okaySpaceName+"</td>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].rsvDetailItem+"</td>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].itemTotalName+"</td>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].rsvDetailNum+"</td>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].rsvDetailOnePrice+"</td>"
	              	   	innerHtml += "<td>"+(data.rsvDetail[i].rsvDetailOnePrice)*(data.rsvDetail[i].rsvDetailNum)+"</td>"
	              	   	innerHtml += "<td>"+data.rsvDetail[i].rsvState+"</td>"
	              		innerHtml += "</tr>"
              	   	 }
              	   	 
              		
               		$('#tbody').append(innerHtml);

	               },
	               error : function() {
	                  alert('실패');
	               }
	            });    

			
		
		});
		
		
	});

</script>
 
</th:block>

<th:block layout:fragment="customContent">
<h1>결제내역조회임..</h1>
<table border="1" id="paymentListTb" class="table table-striped jambo_table bulk_action dataTable no-footer">
	<thead>
		<tr>
			<th>결제코드</th>
			<th>예약코드</th>
			<th>결제금액</th>
			<th>사용한 포인트</th>
			<th>실결제금액</th>
			<th>적립포인트</th>
			<th>결제일시</th>
			<th>결제IP</th>
			<th>환불</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="p : ${paymentList}">
			<td><span th:text="${p.paymentCode}" class="payCode" style="text-decoration: underline; cursor:pointer;"></span></td>
			<td th:text="${p.paymentRsvCode}"></td>
			<td th:text="${p.paymentPrice}"></td>
			<td th:text="${p.paymentUsePoint}"></td>
			<td th:text="${p.paymentUseMoney}"></td>
			<td th:text="${p.paymentAddPoint}"></td>
			<td class="paymentRegDate" th:text="${p.paymentRegDate}"></td>
			<td th:text="${p.paymentIP}"></td>
			
			<td class="cancelTestTd">
				<a class="cancelTest" th:href="@{/cancelTest(paymentCode=${p.paymentCode})}"><button type="button">환불</button></a>
			</td>
		</tr>
	</tbody>
</table>
<div class="hid" id="hidTable">
<button type="button" id="removeBtn">X</button>
<table border="1" >

	<thead>
		<tr>
			<th>예약코드</th>
			<th>세부예약코드</th>
			<th>예약공간코드</th>
			<th>업체코드</th>
			<th>예약공간유형</th>
			<th>예약공간명</th>
			<th>예약장비코드</th>
			<th>예약장비명</th>
			<th>예약개수</th>
			<th>개별가격</th>
			<th>결재금액</th>
			<th>예약상태</th>
		</tr>
	</thead>
	<tbody id="tbody">
	
	</tbody>
</table>



</div>



</th:block>
</html>