<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/maindefault}">

<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">
<style>
.divtag{font-size: 30px;}
</style>
</th:block>

<th:block layout:fragment="customContent">

<div class="x_panel">
<div style="text-align: center;">
<h1 class="divtag">공간 승인 대기 목록</h1>
</div>	
                    <div class="row"><div class="col-sm-12"><table id="tbSpaceReady" class="table table-striped jambo_table bulk_action dataTable no-footer" style="width:100%" role="grid" aria-describedby="datatable_info">
                      <thead>
                        <tr role="row">
                        <th class="sorting" style="text-align: center;"> 이름 </th>
                        <th class="sorting" style="text-align: center;"> 허용 인원 </th>
                        <th class="sorting" style="text-align: center;"> 간략소개 </th>
                        <th class="sorting" style="text-align: center;"> 대여가격 </th>
                        <th class="sorting" style="text-align: center;"> 승인 요청 날짜 </th>
                        </tr>
                      </thead>


            <tbody>
			<th:block th:each = "s : ${readySpaceList}">
				<tr>
					<td style="text-align: center;" th:text = "${s.readySpaceName}">
					<td style="text-align: center;" th:text = "${s.readyPeopleNumber}">
					<td style="text-align: center;" th:text = "${s.readyBriefSpace}">
					<td style="text-align: center;" th:text = "${s.readyRentalPrice}">
					<td style="text-align: center;" th:text = "${s.readyRequestDate}">
				</tr>
			</th:block>
		</tbody>
                    </table>
                    </div></div>
                </div>
                
                <div class="x_panel">
                <div style="text-align: center;">
				<h1 class="divtag">공간 승인 완료 목록</h1>
				</div>	
                    <div class="row">
                    </div>
                    <div class="row"><div class="col-sm-12"><table id="tbSpaceOk" class= "table table-striped jambo_table bulk_action dataTable no-footer" style="width:100%" role="grid" aria-describedby="datatable_info">
                      <thead>
                        <tr role="row">
                        <th class="sorting" style="text-align: center;"> 이름 </th>
                        <th class="sorting" style="text-align: center;"> 허용 인원 </th>
                        <th class="sorting" style="text-align: center;"> 간략소개 </th>
                        <th class="sorting" style="text-align: center;"> 대여가격 </th>
                        <th class="sorting" style="text-align: center;"> 영업시작시간 </th>
                       	<th class="sorting" style="text-align: center;"> 영업종료시간 </th>
                        <th class="sorting" style="text-align: center;"> 예약 불가 시작날짜 </th>
                        <th class="sorting" style="text-align: center;"> 예약 불가 종료날짜 </th>
                        <th class="sorting" style="text-align: center;"> 승인 완료 날짜 </th>
                        <th class="sorting" style="text-align: center;"> 검수자 아이디 </th>
                        </tr>
                      </thead>


            <tbody>
			<th:block th:each = "s : ${spaceListO}">
				<tr>
					<td style="text-align: center;" th:text = "${s.okaySpaceName}">
					<td style="text-align: center;" th:text = "${s.okayPeopleNumber}">
					<td style="text-align: center;" th:text = "${s.okayBriefSpace}">
					<td style="text-align: center;" th:text = "${s.okaySpaceRentalPrice}">
					<td style="text-align: center;" th:text = "${s.okayStartTime}">
					<td style="text-align: center;" th:text = "${s.okayCloseTime}">
					<td style="text-align: center;" th:text = "${s.okayExceptionStartDate}">
					<td style="text-align: center;" th:text = "${s.okayExceptionEndDate}">
					<td style="text-align: center;" th:text = "${s.okayCompletedDate}">
					<td style="text-align: center;" th:text = "${s.okaySpaceId}">
				</tr>
			</th:block>
		</tbody>
                    </table>
                    </div></div>
                </div>

</th:block>

<th:block layout:fragment="customJs">

<script>
	$("#tbSpaceReady, #tbSpaceOk").DataTable({
		order: [ [ 0, "desc" ] ],
		ordering: true,
		lengthChange: false,
		"dom": 'fltip',
		"language": {
			         "info": "페이지 _PAGE_ of _PAGES_",
		        	 "paginate": {
						        	 "first": "첫페이지",
						        	 "last": "마지막",
						             "previous": "이전",
						             "next":"다음"
						           },
		        	 "sEmptyTable": "No data available in table",
		        	 "sInfoEmpty": "Showing 0 to 0 of 0 entries",
		        	 "sInfoFiltered": "(filtered from _MAX_ total entries)",
		        	 "sInfoPostFix": "",
		        	 "sLengthMenu": "Show _MENU_ 개씩",
		        	 "sSearch": "검색:",
		        	 "sSearchPlaceholder": "",
		        	 "sZeroRecords": "No matching records found"
			         }
	});
	
	</script>

</th:block>