<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/Default}">
<th:block layout:fragment="customCss">
<style type="text/css">
.spaceRadio label{
margin: 0;
font-size: 20px;
margin-right: 20px;
}
</style>

</th:block>
<th:block layout:fragment="customContent">
		<!-- 공간 예약 테이블 -->
	<div class="table-responsive">
			<table class="table table-striped jambo_table bulk_action" border="1">

				<thead>
					<tr class="headings">
						<th>
							<div class="icheckbox_flat-green" style="position: relative;">
								<input type="checkbox" id="check-all" class="flat"
									style="position: absolute; opacity: 0;"> 
							</div>
						</th>
						<th class="column-title">공간 이름</th>
						<th class="column-title">공간 유형</th>
						<th class="column-title">공간 최대 인원수</th>
						<th class="column-title">공간 간략 소개</th>
						<th class="column-title">공간 태그</th>
						<th class="column-title">영업 시작 시간</th>
						<th class="column-title">영업 종료 시간</th>
						<th class="column-title">보유 옵션</th>
						<th class="column-title">공간 대여 가격</th>
						<th class="bulk-actions" colspan="11" style="display: none;">
							<a class="antoo" style="color: #fff; font-weight: 500;">선택한 행의 개수 ( <span class="action-cnt">0 Records Selected</span> ) <i
								class="fa fa-chevron-down"></i>
						</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="even pointer" th:if="${#lists.size(getSpaceByStore) > 0}" th:each = "s : ${getSpaceByStore}">
						<td class="a-center ">
							<div class="icheckbox_flat-green" style="position: relative;">
								<input type="checkbox" class="flat" name="table_records"
									style="position: absolute; opacity: 0;">
							</div>
						</td>
						<td th:text="${s.okaySpaceName}" class=" "></td>
						<td th:text="${s.spaceCateName}" class=" "></td>
						<td th:text="${s.okayPeopleNumber}" class=" "></td>
						<td th:text="${s.okayBriefSpace}" class=" "></td>
						<td th:text="${s.okaySpaceTag}" class=" "></td>
						<td th:text="${s.okayStartTime}" class=" "></td>
						<td th:text="${s.okayCloseTime}" class=" "></td>
						<td th:text="${s.okaySpaceBasicOption}" class=" "></td>
						<td th:text="${s.okaySpaceRentalPrice}" class=" "></td>
					</tr>
				</tbody>
			</table>
		</div>
	
	
	<!-- 장비 예약 테이블 -->
		<div class="table-responsive">
			<table class="table table-striped jambo_table bulk_action" border="1">

				<thead>
					<tr class="headings">
						<th>
							<div class="icheckbox_flat-green" style="position: relative;">
								<input type="checkbox" id="check-all" class="flat"
									style="position: absolute; opacity: 0;"> 
							</div>
						</th>
						<th class="column-title">장비 사진</th>
						<th class="column-title">장비 이름</th>
						<th class="column-title">대여 가능한 수량</th>
						<th class="column-title">대여 가격</th>
						<th class="column-title">대여 보증금</th>
						<th class="column-title">대여 수량</th>
						<th class="bulk-actions" colspan="11" style="display: none;">
							<a class="antoo" style="color: #fff; font-weight: 500;">선택한 행의 개수 ( <span class="action-cnt">0 Records Selected</span> ) <i
								class="fa fa-chevron-down"></i>
						</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="even pointer" th:if="${#lists.size(getItemByStore) > 0}" th:each = "i : ${getItemByStore}">
						<td class="a-center ">
							<div class="icheckbox_flat-green" style="position: relative;">
								<input type="checkbox" class="flat" name="table_records"
									style="position: absolute; opacity: 0;">
							</div>
						</td>
						<td th:text="${i.itemImg}" class=" "></td>
						<td th:text="${i.itemTotalName}" class=" "></td>
						<td th:text="${i.itemRentalAmount}" class=" "></td>
						<td th:text="${i.itemRentalPrice}" id="eachRsvItemPrice"></td>
						<td th:text="${i.itemRentalDeposit}" id="rsvItemDepositPrice"></td>
						<td style="padding: 0;"><input style="width: 100%; height: 45px; margin: 0; " type="number" id="rsvItemNum" value="0"></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	
		
	
	<!-- 예약 화면 폼 -->
	<div class="x_panel">
		<div class="x_title">
			<h2>예약 화면</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<br>
			<form id="formRsv" class="form-horizontal form-label-left"
				action="/rsvInsert" method="post">
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align"
						for="rsvUserName">예약 종류 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 spaceRadio">
						<label ><input  type="radio" id="rsvUserName" required="required"
							name="rsvUserName"  class=" ">공간</label>
						<label ><input  type="radio" id="rsvUserName" required="required"
							name="rsvUserName" class=" ">좌석 </label>
						<label ><input  type="radio" id="rsvUserName" required="required"
							name="rsvUserName" class=" ">장비 </label>
					</div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align"
						for="rsvUserName">예약 물품 코드 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="rsvUserName" required="required"
							name="rsvUserName" class="form-control ">
					</div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align"
						for="rsvUserPhone">예약 가격 <span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="number" id="rsvUserPhone" name="rsvUserPhone"
							required="required" class="form-control">
					</div>
				</div>
				<div class="item form-group">
					<label for="rsvUserEmail"
						class="col-form-label col-md-3 col-sm-3 label-align">예약 개수</label>
					<div class="col-md-6 col-sm-6 ">
						<input id="rsvUserEmail" class="form-control" type="number"
							name="rsvUserEmail" value="0">
					</div>
				</div>

				<div class="item form-group" style="margin-top: 9px">
					<label for="rsvUserRequest"
						class="col-form-label col-md-3 col-sm-3 label-align">총 가격</label>
					<div class="col-md-6 col-sm-6 ">
						<input id="rsvUserRequest" class="form-control" type="number"
							name="rsvUserRequest" value="0"></input>
					</div>
				</div>
				
				

				<div class="ln_solid"></div>
				<div class="item form-group">
					<div class="col-md-6 col-sm-6 offset-md-3">
						<button id="submitBtn" type="button" class="btn btn-success">예약하기</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<th:block layout:fagment="customJs">
		<script type="text/javascript">
		$('#submitBtn').click(function(){
			$('#formRsv').submit();
		});
		
		$('#rsvItemNum').change(function(){
			var eachRsvItemPriceVal = $('eachRsvItemPrice').val();
			var rsvItemNumVal = $('#rsvItemNum').val();
			var rsvItemDepositPriceVal = $('#rsvItemDepositPrice').val();
			$('#totalRsvItemPrice').attr('th:text=${i.itemRentalPrice}+${i.itemRentalDeposit}')
		})
		
	</script>
	</th:block>

</th:block>
</html>