<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customCss">
<style type="text/css">
.spaceRadio label{
margin: 0;
font-size: 20px;
margin-right: 20px;
}
.btn-group{
 	max-width: 520px;
    display: table;
    margin-left: 10px;
}
.disableMetter {
	display: none
}
</style>
<!-- datepicker css파일 --><link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</th:block>
<th:block layout:fragment="customContent">

<!-- 공간 예약 테이블 -->
	<form id="formRsv" class="form-horizontal form-label-left" action="/rsvInsertAdmin" method="post">
	<div class="table-responsive">
			<table class="table table-striped jambo_table bulk_action" border="1">
				<thead>
					<tr class="headings">
						<th>
							<div class="icheckbox_flat-green" style="position: relative;">
								<input type="checkbox" id="check-all" class="flat"
									style="position: absolute; opacity: 0;"> 
							</div>
						</th>
						<th class="column-title">공간 이름</th>
						<th class="column-title">공간 유형</th>
						<th class="column-title">공간 최대 인원수</th>
						<th class="column-title">공간 간략 소개</th>
						<th class="column-title">공간 태그</th>
						<th class="column-title">영업 시작 시간</th>
						<th class="column-title">영업 종료 시간</th>
						<th class="column-title">보유 옵션</th>
						<th class="column-title">공간 대여 가격</th>
						<th class="bulk-actions" colspan="11" style="display: none;">
							<a class="antoo" style="color: #fff; font-weight: 500;">선택한 행의 개수 ( <span class="action-cnt">0 Records Selected</span> ) <i
								class="fa fa-chevron-down"></i>
						</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="even pointer" th:if="${#lists.size(getSpaceByStore) > 0}" th:each = "s : ${getSpaceByStore}">
						<td class="a-center ">
							<div class="icheckbox_flat-green" style="position: relative;">
								<input type="checkbox" class="flat SpaceRsvCheck" name="table_records" th:value="${s.okaySpaceCode}"
									style="position: absolute; opacity: 0;">
							</div>
						</td>
						<td th:text="${s.okaySpaceName}" class=" "></td>
						<td th:text="${s.spaceCateName}" class=" "></td>
						<td th:text="${s.okayPeopleNumber}" class=" "></td>
						<td th:text="${s.okayBriefSpace}" class=" "></td>
						<td th:text="${s.okaySpaceTag}" class=" "></td>
						<td th:text="${s.okayStartTime}" class=" "></td>
						<td th:text="${s.okayCloseTime}" class=" "></td>
						<td th:text="${s.okaySpaceBasicOption}" class=" "></td>
						<td th:text="${s.okaySpaceRentalPrice}" class=" "></td>
					</tr>
				</tbody>
			</table>
		</div>
	
	
<!-- 장비 예약 테이블 -->
		<div class="table-responsive">
			<table class="table table-striped jambo_table bulk_action" border="1">
				<thead>
					<tr class="headings">
						<th>
							<div class="icheckbox_flat-green" style="position: relative;">
								<input type="checkbox" id="check-all" class="flat"
									style="position: absolute; opacity: 0;"> 
							</div>
						</th>
						<th class="column-title">장비 사진</th>
						<th class="column-title">장비 이름</th>
						<th class="column-title">대여 가능한 수량</th>
						<th class="column-title">대여 가격</th>
						<th class="column-title">대여 수량</th>
						<th class="bulk-actions" colspan="11" style="display: none;">
							<a class="antoo" style="color: #fff; font-weight: 500;">선택한 행의 개수 ( <span class="action-cnt">0 Records Selected</span> ) <i
								class="fa fa-chevron-down"></i>
						</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="even pointer" th:if="${#lists.size(getItemByStore) > 0}" th:each = "i : ${getItemByStore}">
						<td class="a-center ">
							<div class="icheckbox_flat-green" style="position: relative;">
								<input type="checkbox" class="flat ItemRsvCheck" name="table_records"  th:value="${i.itemCode}"
									style="position: absolute; opacity: 0;">
							</div>
						</td>
						<td ><img style="height: 100px; " th:src="${i.itemImg}" alt="My Image"></td>
						<td th:text="${i.itemTotalName}" class=" "></td>
						<td th:text="${i.itemRentalAmount}" class=" "></td>
						<td th:text="${i.itemRentalPrice}" id="eachRsvItemPrice"></td>
						<td style="padding: 0;"><input style="width: 100%; height: 45px; margin: 0; " type="number" id="rsvItemNum" value="1"></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	
		
	
	<!-- 예약 화면 폼 -->
	<div class="x_panel">
			<div class="x_title">
				<h2>
					예약 화면 
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br>
			<!-- <form id="formRsv" class="form-horizontal form-label-left" action="/rsvInsertAdmin" method="post"> -->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" 
							for="rsvUserName">예약자명 <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="rsvUserName" required="required" name="rsvUserName"
								class="form-control ">
						</div>
					</div>
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align"
							for="rsvUserPhone">예약자 연락처 <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="rsvUserPhone" name="rsvUserPhone"
								required="required" class="form-control">
						</div>
					</div>
					<div class="item form-group">
						<label for="rsvUserEmail"
							class="col-form-label col-md-3 col-sm-3 label-align">예약자 이메일</label>
						<div class="col-md-6 col-sm-6 ">
							<input id="rsvUserEmail" class="form-control" type="text"
								name="rsvUserEmail">
						</div>
					</div>
					
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align">예약 날짜 선택 <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<!-- 달력 인폿박스 시작 -->
							<input type="text" name="rsvDate" autocomplete="off" class="form-control has-feedback-left" id="datepicker" > 
							<!-- 달력 아이콘 -->
							<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
							<!-- 달력 인폿박스 끝 -->
							<input type="hidden" id="startTime" name="startTime" />
							<input type="hidden" id="endTime" name="endTime" />
						</div>
					</div>
					
					<!-- 시간 선택 버튼 시작 -->
					<div class="item form-group disableMetter">
					<label class="col-form-label col-md-3 col-sm-3 label-align">예약 시간 선택 <span class="required">*</span>
						</label>
					<div class="btn-group" >
						<label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="0">0
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="1">1
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="2" >2
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="3" >3
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="4" >4
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="5" >5
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="6" >6
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="7" >7
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="8" >8
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="9" >9
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="10" >10
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="11" >11
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="12" >12
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="13" >13
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="14" >14
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="15" >15
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="16" >16
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="17" >17
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="18" >18
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="19" >19
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="20" >20
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="21" >21
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="22" >22
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="23" >23
						</label> <label class="btn btn-secondary timeCheck"> <input
							type="checkbox" class="disableMetter" value="24" >24
						</label>
					</div>
					</div>
					
					<div class="item form-group" style="margin-top: 9px">
						<label for="rsvUserRequest"
							class="col-form-label col-md-3 col-sm-3 label-align">요청 사항</label>
						<div class="col-md-6 col-sm-6 ">
							<textarea id="rsvUserRequest" class="form-control" type="text"
								name="rsvUserRequest"></textarea>
						</div>
					</div>
					
					<div class="ln_solid"></div>
					<div class="item form-group">
						<div class="col-md-6 col-sm-6 offset-md-3">
							<button id="bringBtn" class="btn btn-primary testBtn" type="button">로그인 정보와 동일</button>
							<button id="submitBtn" type="button" class="btn btn-success">예약하기</button>
						</div>
					</div>
			</div>
		</div>
	</form>


</th:block>
	<th:block layout:fragment="customJs">
	<!-- datepicker js파일 --><script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript">
		
//예약 폼 스크립트
		
		var num1 = 0;
		var num2 = 0;
//버튼 클릭시 폼넘기기
		$('#submitBtn').click(function(){
			var paramData = {};
			var itemList = [];
			var spaceList = [];
			var ItemRsvChecked = $('.ItemRsvCheck:checked')
			var SpaceRsvCheck = $('.SpaceRsvCheck:checked')

			// 체크된 아이탬 체크박스 값을 가져온다
			ItemRsvChecked.each(function(i) {
				var itemJson = {}
				var tr = ItemRsvChecked.parent().parent().parent().parent().eq(i);
				var td = tr.children();
				// td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.
				var itemCode = td.eq(0).children().children().children().val();
				var itemRentalPrice = td.eq(4).text();
				var itemCount = td.eq(5).children().val();
				
				itemJson["itemCode"] = itemCode;
				itemJson["itemRentalPrice"] = itemRentalPrice;
				itemJson["itemCount"] = itemCount;
				itemJson["itemTotalPrice"] = itemRentalPrice*itemCount;
				itemList.push(itemJson);
				
			});
			
			// 체크된 공간 체크박스 값을 가져온다.
			SpaceRsvCheck.each(function(i) {
				var spaceJson = {}
				var tr = SpaceRsvCheck.parent().parent().parent().parent().eq(i);
				var td = tr.children();
				
				var spaceCode = td.eq(0).children().children().children().val();
				var spaceRentalPrice = td.eq(9).text();
				
				spaceJson["spaceCode"] = spaceCode;
				spaceJson["spaceRentalPrice"] = spaceRentalPrice;
				spaceList.push(spaceJson);
			});
			
			paramData["rsvUserName"] = $('#rsvUserName').val();
			paramData["rsvUserPhone"] = $('#rsvUserPhone').val();
			paramData["rsvUserEmail"] = $('#rsvUserEmail').val();
			paramData["rsvDate"] = $('#datepicker').val();
			paramData["startTime"] = $('#startTime').val();
			paramData["endTime"] = $('#endTime').val();
			paramData["rsvUserRequest"] = $('#rsvUserRequest').val();
			paramData["spaceList"] = spaceList;
			paramData["itemList"] = itemList;
			
			console.log("paramData : " + JSON.stringify(paramData));
			
			//ajax시작!!
			var request = $.ajax({
				url: '/rsvInsertAjax', 
				method: 'POST',
				data : JSON.stringify(paramData),
				dataType: 'text' ,
				contentType : "application/json"
			});
			request.done(function( data ) {
				console.log(data);	
				//location.href = data;	
			});
			request.fail(function( jqXHR, textStatus ) {
				alert( "Request failed: " + textStatus );
			});
			
		});
//버튼 클릭시 폼넘기기 종료

//데이터 피커
		$('#datepicker').datepicker({
			singleDatePicker : true,
			singleClasses : "picker_5",
			minDate : 0,
			maxDate : '+3m',
			dateFormat: "yy-mm-dd"
		}).on("change", function(e) {//시간선택 보이게
			$('.btn-group').parent().removeClass('disableMetter');
			console.log(e.data);
		});
//데이터 피커 종료

//시간 체크 하기
		$('.timeCheck input').click(function() {
			var checkedTime = null;
			$('.timeCheck input').each(function(i) {
				var result = $(this).prop('checked');
				checkedTime = $('.timeCheck input:checked');
				//체크된 대상 가져오기
				console.log(checkedTime.length, '체크된 대상 크기확인')
			})
	
			//체크버튼을 3개 클릭했을경우 모두 체크 해제
			if (checkedTime.length > 2) {
				$('.timeCheck input').prop('checked', false);
	
				//체크 버튼을 2개 클릭했을경우 두개 사이 모두 체크
			} else if (checkedTime.length == 2) {
	
				//체크된 두개 찾기
				checkedTime.each(function(i, d) {
					num1 = checkedTime[0].value
					num2 = checkedTime[1].value
				})
				console.log(num1, num2, '체크된 번호 2개');
	
				//두개사이 모두 체크하기
				$('.timeCheck input').each(function(i, d) {
					if (num1 < i && i < num2) {
						console.log(this, '체크');
						$(this).prop('checked', true);
					}
				})
				
				$('#startTime').val(num1);
				$('#endTime').val(num2);
			}
			
			//체크된거 색바꾸기 
			$('.timeCheck input').each(function(){
				$(this).parent().removeClass('btn-primary');
				$(this).parent().addClass('btn-secondary');
			})
			
			checkedTime = $('.timeCheck input:checked');
			checkedTime.each(function() {
				console.log($(this));
					$(this).parent().removeClass('btn-secondary');
					$(this).parent().addClass('btn-primary');
			})
			
		})
//시간 체크 하기 종료
		
//로그인 정보와 동일 버튼
		$('.testBtn').click(function() {
			var SpaceRsvChecked = $('.SpaceRsvCheck:checked')
			console.log(SpaceRsvChecked, '공간 선택');
		});
//로그인 정보와 동일 버튼 종료
		
		
		
	</script>
	</th:block>
</html>