<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customJs">

<script>
	$(function(){
		//결재 완료된건 a링크 삭제 후 텍스트로 표현
		for(var i=0;i<$('.rsvState').length;i++){
			if($('.rsvState').eq(i).text()=="결제 완료"){
				$('.rsvState').eq(i).parent().find('.paymentTest').remove();
				$('.rsvState').eq(i).parent().find('.paymentTestTd').text('결재');
			}
		}
		
	});


</script>


</th:block>
	
	
<th:block layout:fragment="customContent">
	<button type="button" id="testB">테스트</button>
	<div class="x_content">
		<p>예약 리스트</p>
		<div class="table-responsive">
			<table class="table table-striped jambo_table bulk_action" border="1">

				<thead>
					<tr class="headings">
						<th>
							<div class="icheckbox_flat-green" style="position: relative;">
								<input type="checkbox"  id="check-all" class="flat" 
									style="position: absolute; opacity: 0;"> 
							</div>
						</th>
						<th class="column-title">예약 코드</th>
						<th class="column-title">예약자 아이디</th>
						<th class="column-title">예약자 이름</th>
						<th class="column-title">예약자 연락처</th>
						<th class="column-title">예약자 이메일</th>
						<th class="column-title">총 가격</th>
						<th class="column-title">예약 시작 일시</th>
						<th class="column-title">예약 종료 일시</th>
						<th class="column-title">예약 등록 일시</th>
						<th class="column-title">예약 상태</th>
						<th class="column-title">세부 예약</th>
						<th class="column-title">결제</th>
						<th class="bulk-actions" colspan="12" style="display: none;">
							<a class="antoo" style="color: #fff; font-weight: 500;">선택한 행의 개수 ( <span class="action-cnt">0 Records Selected</span> ) <i
								class="fa fa-chevron-down"></i>
						</a>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr class="even pointer" th:if="${#lists.size(rsvList) > 0}" th:each = "r : ${rsvList}">
						<td class="a-center ">
							<div class="icheckbox_flat-green" style="position: relative;">
								<input type="checkbox" class="flat" name="table_records" th:value="${r.rsvCode}"
									style="position: absolute; opacity: 0;">
							</div>
						</td>
						<td th:text="${r.rsvCode}" class=" "></td>
						<td th:text="${r.rsvUserId}" class=" "></td>
						<td th:text="${r.rsvUserName}" class=" "></td>
						<td th:text="${r.rsvUserPhone}" class=" "></td>
						<td th:text="${r.rsvUserEmail}" class=" "></td>
						<td th:text="${r.rsvTotalPrice}" class=" "></td>
						<td th:text="${r.rsvStartDateTime}" class=" "></td>
						<td th:text="${r.rsvEndDateTime}" class=" "></td>
						<td th:text="${r.rsvRegDate}" class=" "></td>
						<td th:text="${r.rsvState}" class="rsvState"></td>
						<td class=" "><a th:href="@{/rsvListExtend(rsvCode=${r.rsvCode})}">확장</a></td>
						<td class="paymentTestTd"><a  th:href="@{/paymentTest(rsvCode=${r.rsvCode})}" class="paymentTest">결제</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>





</th:block>
</html>